@import '../../base';

.#{$prefix}-datePicker {
  width: 9.4375rem;
  &-label {
    @include themify($themes) {
      color: themed('default_text');
  }
  }
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
  
    >svg {
      position: absolute;
      top: 0.75rem;
      left: 1rem;
     // fill: $blue-7;
     @include themify($themes) {
      fill: themed('input_icon');
      }
      z-index: 1;
      cursor: pointer;
    }

    &-error {
      // border: 0.0625rem solid $red-3;
      @include themify($themes) {
        border-bottom: 0.0625rem solid themed('danger_text');
        }
    }

    >input {
      padding: 0 1rem 0 3rem;
      border: none;
      height: 2.5rem;
      // border-bottom: 0.0625rem solid $dark-blue;
    //  background-color: rgba(70, 150, 210, 0.05);
      outline: none;
      font-size: 0.875rem;
      line-height: 1.125rem;
      cursor: pointer;
      @include themify($themes) {
        color: themed('input_text');
        border-bottom:  0.0625rem solid themed('input_border');
        background-color: themed('input_bg');
    }

      &:focus {
        @include themify($themes) {
          border-bottom: 0.0625rem solid themed('interactive_border');
          }
      }
      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        @include themify($themes) { 
          background-color: themed('disabled_all');
        }

        &~svg {
          cursor: not-allowed;
          fill: rgba(61, 112, 178, 0.5);
        }
      }
    }
  }

  &-curMonth {
    font-size: 0.875rem;
  }

  &-arrows {
    height: 1.25rem;
    width: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 3rem;
    justify-content: space-evenly;
  }

  &-up,
  &-down {
    cursor: pointer;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
  }

  &-up {
    border-bottom: 0.25rem solid $blue;
  }

  &-down {
    border-top: 0.25rem solid $blue;
  }

  &-year {
    position: relative;
    padding: 0 0.5rem;

    >input {
      width: 2.5rem;
      background-color: rgba(70, 150, 210, 0.05);
      text-align: center;
      font-size: 0.875rem;
      line-height: 1.125rem;

      &:focus {
        outline: 1px solid $blue;
      }
    }

    &:hover>div {
      display: flex;
    }
  }

  &-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-month>span,
  &-days>span {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include themify($themes) {
      color: themed('default_text_xhigh');
  }
  }

  &-month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 0.25rem;

    >span {
      padding: 0.5rem;
      fill: $dark-blue;
      cursor: pointer;
    }
  }

  &-days {
    height: 1.75rem;
    display: flex;
    margin: 0.625rem 0 0.25rem 0;
    justify-content: space-around;
    align-items: center;
    font-size: 0.75rem;
    padding: 0 1.75rem;

    >span {
      border-radius: 0;
      border: none;
      margin: 0.125rem;
   @include themify($themes) {
      color: themed('default_text_xhigh');
  }
    }
  }

  &-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1.75rem;

    &-today {
      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 90%;
        left: 50%;
        height: 0.1875rem;
        width: 0.1875rem;
        border-radius: 50%;
        background: $blue-7;
      }
    }

    span {
      cursor: pointer;
      font-size: 0.75rem;
      height: 1.5rem;
      width: 1.5rem;
      margin: 0.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include themify($themes) {
        color: themed('active_text');
    }
    }
  }

  &-date {
    &:hover {
      background-color: rgba(85, 150, 230, 0.1);
      
    }

    &-picked {
      border: 0.125rem solid $blue-7;
    }

    &-fade {
      opacity: 0.5;
      color: $lightGrey;
    }
  }

  &-panel {
    position: absolute;
    background-color: $white;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9;
    width: 17.5rem;
    height: 16.375rem;
    padding: 1rem 0.625rem 0.25rem 0.625rem;
    color: $blue-4;

    &-show {
      display: block;
    }

    &-above {
      bottom: 2.5rem;
    }

    &-below {
      top: 2.5rem;
    }
  }

  &-error {
    display: none;
    @include themify($themes) {
      color: themed('danger_text');
      border-bottom: themed('danger_bottom');
  }
    margin-top: 0.25rem;
    font-size: 0.75rem;
    letter-spacing: 0;
    line-height: 0.8125rem;

    &-show {
      display: block;
    }
  }
}