@import '../../base';

.#{$prefix}-datePicker {
  width: 9.4375rem;
  &-label {
    color: var(--default_text);
  }
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;

    border-bottom: 0.0625rem solid var(--input_border);

    > svg {
      position: absolute;
      top: 0.75rem;
      left: 1rem;

      fill: var(--input_icon);

      z-index: 1;
      cursor: pointer;
    }

    &-error {
      border-bottom: 2px solid var(--danger_text);
    }

    > input {
      padding: 0 1rem 0 3rem;
      border: none;
      height: 2.5rem;

      color: var(--input_text_low);
      background-color: var(--input_bg);

      outline: none;
      font-size: 0.875rem;
      line-height: 1.125rem;
      cursor: pointer;

      &:focus {
        border-bottom: 2px solid var(--interactive_border);
        color: var(--input_text);
      }
      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;

        background-color: var(--disabled_all);

        & ~ svg {
          cursor: not-allowed;

          fill: var(--input_icon);
        }
      }
    }
  }

  &-curMonth {
    font-size: 0.875rem;

    color: var(--default_text_xhigh);
  }

  &-arrows {
    height: 1.25rem;
    width: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 3rem;
    justify-content: space-evenly;
  }

  &-up,
  &-down {
    cursor: pointer;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
  }

  &-up {
    border-bottom: 0.25rem solid var(--interactive_icon);
  }

  &-down {
    // border-top: 0.25rem solid $blue;

    border-top: 0.25rem solid var(--interactive_icon);
  }

  &-year {
    position: relative;
    padding: 0 0.5rem;

    > input {
      width: 2.5rem;

      color: var(--interactive_text);
      background-color: var(--default_bg);

      text-align: center;
      font-size: 0.875rem;
      line-height: 1.125rem;

      &:focus {
        outline: 1px solid var(--interactive_border);
      }
    }

    &:hover > div {
      display: flex;
    }
  }

  &-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-month > span,
  &-days > span {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--default_text_xhigh);
  }

  &-month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 0.25rem;

    > span {
      padding: 0.5rem;

      fill: var(--interactive_icon);

      cursor: pointer;
    }
  }

  &-days {
    height: 1.75rem;
    display: flex;
    margin: 0.625rem 0 0.25rem 0;
    justify-content: space-around;
    align-items: center;
    font-size: 0.75rem;
    padding: 0 1.75rem;

    > span {
      border-radius: 0;
      border: none;
      margin: 0.125rem;

      color: var(--default_text_xhigh);
    }
  }

  &-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1.75rem;

    &-today {
      color: var(--active_text);

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 90%;
        left: 50%;
        height: 0.1875rem;
        width: 0.1875rem;
        border-radius: 15%;

        background: var(--active_icon);
      }
    }

    span {
      cursor: pointer;
      font-size: 0.75rem;
      height: 1.5rem;
      width: 1.5rem;
      margin: 0.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }

  &-date {
    &:hover {
      background-color: var(--interactive_bg_hover);
    }

    &-picked {
      // border: 0.125rem solid $blue-7;

      background-color: var(--active_bg_high);
      color: var(--active_text);
    }

    &-fade {
      opacity: 0.5;
      // color: $lightGrey;

      color: var(--default_text_low);
    }
  }

  &-panel {
    position: absolute;
    // background-color: var(--white);

    background-color: var(--default_bg);

    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9;
    width: 17.5rem;
    height: 16.375rem;
    padding: 1rem 0.625rem 0.25rem 0.625rem;
    // color: $blue-4;

    &-show {
      display: block;
    }

    &-above {
      bottom: 2.5rem;
    }

    &-below {
      top: 2.5rem;
    }
  }

  &-error {
    display: none;

    color: var(--danger_text);

    margin-top: 0.25rem;
    font-size: 0.75rem;
    letter-spacing: 0;
    line-height: 0.8125rem;

    &-show {
      display: block;
    }
  }
}
