<table class="hcl-data-table hcl-data-table-borderless">
    <thead>
        <tr>
            <th>
                <div class="hcl-checkbox-item">
                    <input id="hcl-borderless-checkbox-header" class="hcl-checkbox" type="checkbox" value="all">
                    <label for="hcl-borderless-checkbox-header" class="hcl-checkbox-label"></label>
                </div>
            </th>
            <th class="sortable">Name</th>
            <th>Protocol</th>
            <th>Port</th>
            <th>Rule</th>
            <th>Attached Groups</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="hcl-checkbox-item">
                    <input id="hcl-borderless-checkbox-1" class="hcl-checkbox" type="checkbox" value="row-1" />
                    <label for="hcl-borderless-checkbox-1" class="hcl-checkbox-label"></label>
                </div>
            </td>
            <td>Load Balancer 1</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen&#x27;s VM Groups</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <div class="hcl-checkbox-item">
                    <input id="hcl-borderless-checkbox-2" class="hcl-checkbox" type="checkbox" value="row-2" />
                    <label for="hcl-borderless-checkbox-2" class="hcl-checkbox-label"></label>
                </div>
            </td>
            <td>Load Balancer 2</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen&#x27;s VM Groups</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>
                <div class="hcl-checkbox-item">
                    <input id="hcl-borderless-checkbox-3" class="hcl-checkbox" type="checkbox" value="row-3" />
                    <label for="hcl-borderless-checkbox-3" class="hcl-checkbox-label"></label>
                </div>
            </td>
            <td>Load Balancer 3</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen&#x27;s VM Groups</td>
            <td>Active</td>
        </tr>
    </tbody>
</table>