<div class="hcl-data-table-wrapper data-table-sticky-header hcl-data-table-borderless">
    <table class="hcl-data-table">
        <thead>
            <tr>
                <th><span class="hcl-data-table-header">Name</span><span class="hcl-data-table-resizable"></span></th>
                <th><span class="hcl-data-table-header">Protocol</span><span class="hcl-data-table-resizable"></span></th>
                <th><span class="hcl-data-table-header">Port</span><span class="hcl-data-table-resizable"></span></th>
                <th><span class="hcl-data-table-header">Rule</span><span class="hcl-data-table-resizable"></span></th>
                <th><span class="hcl-data-table-header">Attached Groups</span><span class="hcl-data-table-resizable"></span></th>
                <th><span class="hcl-data-table-header">Status</span><span class="hcl-data-table-resizable"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Load Balancer 1</td>
                <td>HTTP</td>
                <td>80</td>
                <td>Round Robin</td>
                <td>Maureen's VM Groups</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Load Balancer 2</td>
                <td>HTTP</td>
                <td>80</td>
                <td>Round Robin</td>
                <td>Maureen's VM Groups</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Load Balancer 3</td>
                <td>HTTP</td>
                <td>80</td>
                <td>Round Robin</td>
                <td>Maureen's VM Groups</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</div>