$baseKey: "bg";
$theme: "primary";

$themes: (
  "default",
  "primary",
  "secondary",
  "outline",
  "outline-primary",
  "outline-secondary",
  "gh",
  "gh-primary",
  "gh-secondary"
);

$colorMap: (
  "default": (
    "bg": var(--blue),
    "hoverbg": var(--dark-secondary),
    "bc": transparent,
    "hoverbc": transparent,
    "fc": var(--white)
  ),
  "primary": (
    "bg": var(--black),
    "hoverbg": var(--black-secondary),
    "bc": transparent,
    "hoverbc": transparent,
    "fc": var(--white)
  ),
  "secondary": (
    "bg": var(--orange),
    "hoverbg": var(--orange-secondary),
    "bc": transparent,
    "hoverbc": transparent,
    "fc": var(--white)
  ),
  "outline": (
    "bg": transparent,
    "hoverbg": transparent,
    "bc": var(--blue),
    "hoverbc": var(--dark-secondary),
    "fc": var(--blue),
    "hoverfc": var(--dark-secondary)
  ),
  "outline-primary": (
    "bg": transparent,
    "hoverbg": transparent,
    "bc": var(--black),
    "hoverbc": var(--black-secondary),
    "fc": var(--black),
    "hoverfc": var(--black-secondary)
  ),
  "outline-secondary": (
    "bg": transparent,
    "hoverbg": transparent,
    "bc": var(--orange),
    "hoverbc": var(--orange-secondary),
    "fc": var(--orange),
    "hoverfc": var(--orange-secondary)
  ),
  "gh": (
    "bg": transparent,
    "hoverbg": var(--dark-secondary),
    "bc": transparent,
    "hoverbc": var(--white),
    "fc": var(--black)
  ),
  "gh-primary": (
    "bg": transparent,
    "hoverbg": var(--black-secondary),
    "bc": transparent,
    "hoverbc": var(--black-secondary),
    "hoverfc": var(--white),
    "fc": var(--black)
  ),
  "gh-secondary": (
    "bg": transparent,
    "hoverbg": var(--orange-secondary),
    "bc": transparent,
    "hoverbc": var(--orange-secondary),
    "hoverfc": var(--white),
    "fc": var(--black)
  )
);

%button {
  text-align: center;
  cursor: pointer;
  line-height: 1rem;
  font-size: 0.875rem;
  border: 1px solid transparent;
  color: var(--white);
  background: var(--blue);
  margin:.5rem;
}

button,
.btn,
.sm-btn,
.gh-btn,
.sm-gh-btn {
  @extend %button;
  padding: 0 1rem;
  height: 2.5rem;
}
.sm-btn {
  padding: 0 0.5rem;
  height: 2rem;
}
.gh-btn {
  background: none;
  border: none;
  color: $black;
}
.sm-gh-btn {
  padding: 0 0.5rem;
  height: 2rem;
  background: none;
  border: none;
  color: $black;
}

@function getColor($name: "default", $bkey: $baseKey) {
  $color: null;
  $colorList: map-get($colorMap, $name);

  @if $colorList {
    $color: map-get($colorList, $bkey);
  }
  @return $color;
}

@each $theme in $themes {
  button,
  .btn,
  .sm-btn,
  .sm-gh-btn {
    &.btn--#{$theme},
    &.sm-btn--#{$theme},
    &.sm-gh-btn--#{$theme} {
      background: getColor($theme);
      border-color: getColor($theme, "bc");
      color: getColor($theme, "fc");
      &:hover {
        background: getColor($theme, "hoverbg");
        border-color: getColor($theme, "hoverbc");
        color: getColor($theme, "hoverfc");
      }
    }
    &:hover {
      background: getColor("default", "hoverbg");
      color: getColor($theme, "hoverfc");
    }
  }
}
