
* , *::before, *::after{
    box-sizing: border-box;
}

input,
textarea,
input[type="radio"],
input[type="checkbox"] {
    padding: $base-padding;
    color: inherit;
    line-height: inherit;
    border: 1px solid #eee;
    margin: $base-margin 0;
}

label {
    font-size: var(--base-font-size);
    padding: $base-padding;
}


input[type="text"], textarea, .input-control{
    color:$grey;
    display:block;
    box-sizing: border-box;
    background-color:$white;
    border-width:1px;
    border-color:$input-border-color;
    font-size:$input-font-size;
    width:$input-width;
    height:$input-height;
    padding: 0.625rem;
    &:focus{
        border-color:$input-border-color-focus;
    }
    &:disabled{
        background-color:$input-background-color-disabled;
        border-color:$input-border-color-disabled;
        opacity:0.4;
        cursor:not-allowed;
    }
    &.error{
        border-color:$input-border-error;
    }
    &.success{
        border-color:$input-border-success;
    }
}

textarea.input-control{
    height:$textarea-height;
}


//checkbox and radiobox

.form-item{
    display: inline-block;
    position: relative;
    user-select: none;
    &.cr--wrapper{
        margin-right:30px;
    }
    .select__wrapper{
        display: flex;
        flex-direction: column;
        label{
            order:1
        }
        select{
            font-family: Helvetica Neue, Arial, sans-serif;
            font-size: 0.875rem;
            height: 2.5rem;
            appearance: none;
            display: block;
            width: 100%;
            padding: 0 2.5rem 0 1rem;
            color: #152935;
            background-color: #f4f7fb;
            border: none;
            box-shadow: 0 1px 0 0 #5a6872;
            -ms-flex-order: 2;
            order: 2;
            border-radius: 0;
            cursor: pointer;
            border-bottom: 1px solid transparent;
            background-color: white;
            &:focus{
                outline:none;
            }
        }
        svg{
            fill: #3d70b2;
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            width: 0.625rem;
            height: 0.3125rem;
            pointer-events: none;
        }
    }
    .form-item__checkbox, input[type="checkbox"] {
        position:absolute;
        padding:0;
        width:1px;
        height:1px;
        overflow:hidden;
        border:0;
        visibility: visible;
        white-space: nowrap;
        clip:rect(0px, 0px, 0px, 0px);
        + .form-item__text{
            padding:0;
            padding-left:26px;
            line-height:1.5rem;
            cursor:pointer;
            position:relative;
            display:flex;
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            &::before{
                background-color: $white;
                border-color: $blue;
                border-width:1px;
            }
        }
        &:disabled {
            + .form-item__text{
            cursor:not-allowed;
            color: $grey;
            }
            + label.form-item__text::before, + .form-item__text::before{
                background: #F6F6F6;
                border-color: #D0D0D0;
            }
        }
        &:checked{
            + label.form-item__text::after{
                -webkit-transform: scale(1) rotate(-45deg);
                transform: scale(1) rotate(-45deg);
            }
            + .form-item__text::before{
                background-color: $blue;
                border-width:1px;
                border-color:$blue;
            }
        }
        + label.form-item__text::before, + .form-item__text::before{
            content:"";
            position:absolute;
            left:0;
            top:0rem;
            display: inline-block;
            width:1.125rem;
            height:1.125rem;
            margin:0.125rem;
            border:1px solid $blue;
            
        }
        + label.form-item__text::after, + .form-item__text::after{
            content:"";
            color:#FFFFFF;
            position:absolute;
            left:6px;
            top:6px;
            display: inline-block;
            width:10px;
            height:7px;
            border-left:1px solid $white;
            border-bottom:1px solid $white;
            transform:rotate(-45deg);
        }
    }
    //radio
    .form-item__radio, input[type="radio"].form-item__radio, input[type="radio"]{
        position:absolute;
        opacity:0;
        margin:0;
        + label.form-item__text, + .form-item__text{
            display:inline-block;
            padding-left:1.625rem;
            position: relative;
            color: $black;
            min-height: 1rem;
            margin-top: 0;
            cursor: pointer;
        }
        + label.form-item__text:before{
            position: absolute;
            top: .1666665rem;
            left: 0;
            content: '';
            display: inline-block;
            height: 1.125rem;
            width: 1.125rem;
            border: 1px solid #9a9a9a;
            border-radius: 50%;
        }
        &:checked + label.form-item__text:before{
            box-shadow: inset 0 0 0 0.11rem $white;
            border: 1px solid #D0D0D0;
            background: $blue;
        }
        &:disabled + label.form-item__text{
            color: $grey;
        }
    }
}

label.input-switch{
    position:relative;
    display:inline-block;
    width:2.25rem;
    height:0.875rem;
    margin:0.5rem 0;
    .input-switch__check, input[type="checkbox"], input[type="checkbox"].input-switch__check{
        opacity:0;
        display:none;
        &:checked{
            + .input-switch__tracker{
                background-color: $blue;
            }
            + .input-switch__tracker::before{
                transform: translateX(20px);
                background-color: $white;
            }
        }
    }
    .input-switch__tracker{
        cursor:pointer;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color:#D0D0D0;
        border-radius:2.125rem;
        &::before{
            content:"";
            position:absolute;
            top: 0;
            left: 0.0375rem;
            width:0.9rem;
            height:0.9rem;
            border-radius:50%;
            background-color: $white;
        }
    }
}