input,
textarea,
input[type="radio"],
input[type="checkbox"] {
    padding: $base-padding;
    color: inherit;
    line-height: inherit;
    border: 1px solid #eee;
    margin: $base-margin 0;
}

label {
    font-size: var(--base-font-size);
    padding: $base-padding;
}


input[type="text"], textarea, .input-control{
    color:$grey;
    display:block;
    box-sizing: border-box;
    background-color:$white;
    border-width:1px;
    border-color:$input-border-color;
    font-size:$input-font-size;
    width:$input-width;
    height:$input-height;
    padding: 0.625rem;
    &:focus{
        border-color:$input-border-color-focus;
    }
    &:disabled{
        background-color:$input-background-color-disabled;
        border-color:$input-border-color-disabled;
        opacity:0.4;
        cursor:not-allowed;
    }
    &.error{
        border-color:$input-border-error;
    }
    &.success{
        border-color:$input-border-success;
    }
}

textarea.input-control{
    height:$textarea-height;
}


//checkbox and radiobox

.form-item{
    display: inline-block;
    position: relative;
    user-select: none;
    margin-right:30px;
    & .form-item__checkbox, input[type="checkbox"].form-item__checkbox, input[type="checkbox"]{
        opacity:0;
    }
    & .form-item__checkbox + .form-item__text, input[type="checkbox"].form-item__checkbox + .form-item__text{
        cursor:pointer;
    }
    & .form-item__checkbox:disabled + .form-item__text, input[type="checkbox"].form-item__checkbox:disabled + .form-item__text{
        cursor:not-allowed;
    }
    & input[type="checkbox"] + label.form-item__text{
        padding-left:10px;
    }
    //radio
    & .form-item__radio, input[type="radio"].form-item__radio, input[type="radio"]{
        position:absolute;
        opacity:0;
        margin:0px;
    }
    & .form-item__radio + label.form-item__text{
        display:inline-block;
        padding-left:calc(2em);
        position: relative;
        color: $black;
        min-height: 1rem;
        margin-top: 0;
        cursor: pointer;
        line-height: 1rem;
    }
    & .form-item__radio + label.form-item__text:before{
        position: absolute;
        top: .1666665rem;
        left: 0;
        content: '';
        display: inline-block;
        height: .866667rem;
        width: .866667rem;
        border: 1px solid #9a9a9a;
        border-radius: 50%;
    }
    & .form-item__radio:checked + label.form-item__text:before{
        box-shadow: inset 0 0 0 0.11rem $white;
        border: 1px solid #D0D0D0;
        background: $blue;
    }
    & input[type="radio"]:disabled + label.form-item__text{
        color: $grey;
    }
    //checkbox
    & .form-item__checkbox + label.form-item__text:before{
        content:"";
        position:absolute;
        left:0px;
        top:5px;
        display: inline-block;
        width:15px;
        height:15px;
        border:1px solid $blue;
    }
    & .form-item__checkbox + label.form-item__text:after{
        content:"";
        color:#FFFFFF;
        position:absolute;
        left:4px;
        top:9px;
        display: inline-block;
        width:8px;
        height:5px;
        border-left:1px solid $white;
        border-bottom:1px solid $white;
        transform:rotate(-45deg);
    }
    & input[type="checkbox"] + label.form-item__text:after{
        content:none;
    }
    & input[type="checkbox"]:checked + label.form-item__text:after{
        content:"";
    }
    & input[type="checkbox"]:checked + label.form-item__text:before{
        background: $blue;
    }
    & input[type="checkbox"]:disabled + label.form-item__text:before{
        background: #F6F6F6;
        border-color: #D0D0D0;
    }
    & input[type="checkbox"]:disabled + label.form-item__text{
        color: $grey;
    }
    & input[type="checkbox"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }
}

label.input-switch{
    position:relative;
    display:inline-block;
    width:2.25rem;
    height:0.875rem;
    margin:0.5rem 0;
    & .input-switch__check, input[type="checkbox"], input[type="checkbox"].input-switch__check{
        opacity:0;
    }
    & .input-switch__tracker{
        cursor:pointer;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color:#D0D0D0;
        border-radius:2.125rem;
    }
    & .input-switch__tracker:before{
        content:"";
        position:absolute;
        top: 0.0625rem;
        left: 0.0625rem;
        width:1.2rem;
        height:1.2rem;
        border-radius:50%;
        background-color: $white;
    }
    & .input-switch__check:checked + .input-switch__tracker{
        background-color: $blue;
    } 
    & .input-switch__check:checked + .input-switch__tracker:before, input[type="checkbox"]:checked + .input-switch__tracker:before{
        transform: translateX(22px);
        background-color: $white;
    }
}



input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    border:0px;
    width:$range-width;
    height:$range-height;
    &::-webkit-slider-runnable-track{
        width: 200px;
        height: 5px;
        background: #DDDDDD;
        border: none;
        border-radius: 5px;
    }
    &::-moz-range-track{
        width: 200px;
        height: 5px;
        background: #DDDDDD;
        border: none;
        border-radius: 5px;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: $blue;
        margin-top: -5px;
        cursor:pointer;
    }
    &::-moz-range-thumb{
        -webkit-appearance: none;
        border: none;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: $blue;
        margin-top: -5px;
        cursor:pointer;
    }
    :disabled::-webkit-slider-thumb{
        cursor: not-allowed;
    }
}

.number-spinner{
    display:flex;
    max-width:150px;
    width:149px;
    height:40px;
    border:1px solid #D0D0D0;
    box-sizing: border-box;
    & .number-spinner__iconwrapper{
        flex: 1;
        display: table;
        height: 38px;
        width: 50px;
        min-width: 50px;
        
        & a.number-spinner__icon-plus, & a.number-spinner__icon-minus{
            display: table-cell;
            cursor:pointer;
            vertical-align: middle;
            text-align: center;
            font-size: 25px;
            &:active{
                background:#0063B3;
                color:$white;
            }
            &.disabled {
                background-color:#D0D0D0;
                color:$black;
                cursor: not-allowed;
            }
        }
    }
    & input, & input[type="text"]{
        width:30px;
        height:20px;
        border-width:0px;
        margin:0px;
        padding:0.5625rem;
        &:disabled{
            background-color:#D0D0D0;
        }
    }
}

.number-picker{
    display:flex;
    max-height:50px;
    height:35px;
    max-width:120px;
    margin:auto;
    border:1px solid #D0D0D0;
    .number-picker__btn, .number-picker__input{
        flex:1;
        height:35px;
        margin:0px;
        width:40px;
        box-sizing: border-box;
        background-color: $white;
        color:#000000;
    }
    & .number-picker__input{
       border:none;
    }
    & .number-picker__btn:active{
        background-color:$blue;
        outline:none;
    }

}

    // Toggle Component
.toggle{
    display:flex;
    position:relative;
    box-sizing: border-box;
    width:326px;
    height:50px;
    border:0px;
    & .toggle__item{
        border: 1px solid #3d70b2;
        background-color: transparent;
        display:flex;
        flex:1;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        position:relative;
        & .toggle__item-check-input, input[type="radio"]{
            display:none;
            width:100%;
            height:100%;
            margin:0;
        }
        & label{
            flex:1;
            padding: 15px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            cursor:pointer;
        }
        & .toggle__item-check-input:checked + label{
            background:$blue;
            color:$white;
        }
    }
    & .toggle__item:not(:first-of-type){
        border-left: 1px solid #3d70b2;
    }
    & .toggle__item:not(:last-of-type){
        border-right:none;
    }
}