/* Global styling of the HCL */

body {
  $body-color: var(--black) !default;
  font : {
    color: var(--black);
    size: $base-font-size;
    family: var(--ff-roboto);
  }
}

textarea,
button,
input,
textarea {
  font-family: var(--ff-roboto);
}

.nomargin {
  margin: 0;
}

.nopadding {
  padding: 0;
}