/* Global styling of the framework */

body{
    $body-color: var(--black) !default;
    font : {
        color: var(--black);
        size: 1rem;
        family: var(--base-font-family);
    }
}

textarea, button, input{
    font-family: var(--base-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  margin: 0;
  padding:0;
  line-height: var(--base-line-height);
}