$full-width: 100%;
$gutter: 10px;
$halfGutter: 5px;
$columns: 12;

.patron-container {
    width: #{$full-width};
}

@mixin col-x {
    @for $i from 1 through $columns {
        .col-#{$i} {
            @if $i == 3 {
                width: calc(33.33% - #{$gutter});
            } @else if $i == 6 {
                width: calc(50% - #{$gutter});
            } @else {
                width: calc(100% - #{$gutter});
            }
            margin: #{$halfGutter} #{$halfGutter};
            @include tablet{
                width: calc(#{($i * 100 / $columns) + '%'} - #{$gutter});
            }@include desktop{
                width: calc(#{($i * 100 / $columns) + '%'} - #{$gutter});
            }
        }
    }
}

.row {
    width: calc(#{100+'%'} - #{$gutter} - #{$gutter});
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: #{$halfGutter};
    @include col-x;
    @include tablet{
        flex-direction: row;
    }@include desktop{
        flex-direction: row;
    }
}

.bgColor {
    background-color: #eee;
}