/* HCL Design System 
    - Headings
    - a link
    - p 
    - text transform
    - text-alignment
    - font style
    - Font-family and sizes
*/

@import 'mixins';

h1 {
  font-size: calc(#{$base-font-size} * 2.5);
}

h2 {
  font-size: calc(#{$base-font-size} * 2);
}

h3 {
  font-size: calc(#{$base-font-size} * 1.75);
}

h4 {
  font-size: calc(#{$base-font-size} * 1.5);
}

h5 {
  font-size: calc(#{$base-font-size} * 1.25);
}

h6 {
  font-size: calc(#{$base-font-size} * 1);
}

a {
    color: theme-color("primary");
    font-size: $base-font-size;
    text-decoration: var(--none);
    &:hover{
        color: $link-hover-color;
        text-decoration:  var(--none);
    }
}

p {
  font-size: $base-font-size;
  color: inherit;
  line-height: var(--base-line-height);
}
