:root {
    --ff-roboto: "Roboto", sans-serif;
    --base-font-size: 1rem; //16px
    --body-font-size: 0.875rem; //14px
    --small-font-size: 10.75rem; //12px
    --base-line-height: 1.15;
    --base-margin: 0.5rem;
    --base-padding: 0.2rem;
    --black: #000;
    --grey: #707070;
    --white: #FFFFFF;
    --blue: #0066b3;
    --dark-secondary: #003d6b;
    --orange: #d01b2e;
    --orange-secondary: #a31221;
    --black-secondary: #555;
    --error-background-color: red;
    --error-font-color: red;
    --success-background-color: green;
    --success-font-color: green;
    --input-border-error: #EB1946;
    --input-border-success: #7EB338;
  }
  
  // we need to use sass varaible only when we need dynamic classes.
  $base-font-size: var(--ff-roboto) !default; //16px
  $small-font-size: 12px;
  $base-margin: var(--base-margin); //need to check
  $base-padding: var(--base-padding); //need to check
  
  // Color system
  $black: var(--black);
  $white: var(--white);
  $blue: var(--blue);
  $orange: var(--orange);
  $grey: var(--grey);
  $primary: $blue !default;
  $secondary: $black !default;
  $tertiary: $orange !default;
  
  $link-hover-color: var(--dark-secondary);

  // Forms
  $label-margin-bottom :.5rem !default;
  $input-padding-y: 0.625rem;
  $input-padding-x: 0.625rem;
  $input-border-color:#D0D0D0 !default;
  $input-font-size:0.9rem;
  $input-height:2.5rem !default;
  $input-width: calc( 400rem / 16);
  $textarea-height:(200rem / 16);
  $input-border-color-disabled:#D0D0D0;
  $input-background-color-disabled:#F6F6F6;
  $input-border-color-focus:#0066B3;

  //Errors
  $input-border-error:var(--input-border-error);
  $input-border-success:var(--input-border-success);

