//Font-weight Mixins

$fontWeights : (
    light : 300,
    regular : 400,
    semiBold : 600,
    bold : 800
);

@each $fontweight, $value in $fontWeights {
   .#{$fontweight} {
        font-weight: $value;
    }
}

@mixin fontWeight($FW){
    @if( $FW == 'light'){
      .font-#{$FW}{
        font-weight: 300;
      }
    }
    @if( $FW == 'regular'){
        .font-#{$FW}{
            font-weight: 400;
          }
    }
    @if( $FW == 'semibold'){
        .font-#{$FW}{
            font-weight: 600;
          }
    }
    @if( $FW == 'bold'){
        .font-#{$FW}{
            font-weight: 800;
          }
    }
}

//Font-style
$fontStyles : (
    underline,
    italic
);

@each $fontstyle in $fontStyles {
    .#{$fontstyle} {
        font-style: $fontstyle;
    }
}

$textTransforms : (
    uppercase,
    lowercase,
    capitalize
);

@each $textTransform in $textTransforms {
    .#{$textTransform} {
        text-transform: $textTransform;
    }
}

$textAlignments : (
    center,
    left,
    right,
    justify
);

@each $textAlign in $textAlignments {
    .#{$textAlign} {
        text-align: $textAlign;
    }
}


