@import '../../base';

%button {
  text-align: center;
  cursor: pointer;
  line-height: 1rem;
  font-size: 0.875rem;
  border: 1px solid transparent;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.#{$prefix}-btn {
  @extend %button;

  padding: 0.625rem 1rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &-icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    
      @include themify($themes) {
        fill : themed('primary_icon');
    }
  }
}

a.#{$prefix}-primary {
  &:hover {
    @include themify($themes) {
      color: themed('primary_text');
    }
  }
}

.#{$prefix}-primary {
  @include themify($themes) {
    background-color: themed('primary_bg');
    color: themed('primary_text');
  }

  &:hover {
    @include themify($themes) {
      background-color: themed('primary_bg_hover');
    }
  }

  &:focus {
    outline-offset: 2px;
    @include themify($themes) {
      outline: 0.0625rem solid themed('primary_bg_hover');
    }
  }

  &:disabled,
  &[disabled='disabled'] {
    @include themify($themes) {
      opacity: themed('disabled_all');
    }
    cursor: not-allowed;
    &:hover {
      @include themify($themes) {
        background-color: themed('primary_bg');
      }
    }
  }

  &.#{$prefix}-danger {
    @include themify($themes) {
      background-color: themed('danger_bg_inverse');
      color: themed('default_text_inverse');
    }

    &:hover {
      @include themify($themes) {
        background-color: themed('danger_bg_inverse_hover');
        color: themed('default_text_inverse');
      }
      > .#{$prefix}-btn-icon {
        @include themify($themes) {
          fill : themed('primary_icon');
        }
      }
    }

    &:focus {
      outline-offset: 2px;
      @include themify($themes) {
        outline: 0.0625rem solid themed('interactive_border');
      }
      > .#{$prefix}-btn-icon {
        @include themify($themes) {
        fill : themed('primary_icon');
        }
      }
    }

    &:disabled,
    &[disabled='disabled'] {
      &:hover {
        @include themify($themes) {
          background-color: themed('danger_bg_inverse');
        }
      }
      @include themify($themes) {
        opacity: themed('disabled_all');
      }
      cursor: not-allowed;
    }
  }
}

.#{$prefix}-secondary {
  @include themify($themes) {
    background-color: themed('secondary_bg');
    color: themed('secondary_text');
    border: 0.0625rem solid themed('secondary_border');
  }
  &:hover,
  &:focus {
    @include themify($themes) {
      background-color: themed('secondary_bg_hover');
      color: themed('secondary_text');
      border: 0.0625rem solid themed('secondary_border');
    }

    > .#{$prefix}-btn-icon {
      @include themify($themes) {
        fill: themed('secondary_icon');
      }
    }
  }
  &:focus {
    @include themify($themes) {
      border: 0.0625rem solid themed('interactive_border');
    }

    > .#{$prefix}-btn-icon {
      @include themify($themes) {
        fill: themed('secondary_icon');
      }
    }
  }

  &:disabled,
  &[disabled='disabled'] {
    &:hover {
      @include themify($themes) {
        background-color: themed('secondary_bg');
      }
    }
    @include themify($themes) {
      opacity: themed('disabled_all');
    }
    cursor: not-allowed;

    > .#{$prefix}-btn-icon {
      @include themify($themes) {
        fill: themed('secondary_icon');
      }
    }
  }

  > .#{$prefix}-btn-icon {
    @include themify($themes) {
      fill: themed('secondary_icon');
    }
  }

  &.#{$prefix}-danger {
    background: transparent;
    @include themify($themes) {
      border: 0.0625rem solid themed('danger_border');
      color: themed('danger_text');
    }

    &:hover {
      @include themify($themes) {
        background-color: themed('danger_bg_hover');
        color: themed('danger_text');
        border: 0.0625rem solid themed('danger_border');
      }
    }

    &:focus {
      @include themify($themes) {
        background: transparent;
        color: themed('danger_text');
        border: 0.0625rem solid themed('interactive_border');
      }

      > .#{$prefix}-btn-icon {
        @include themify($themes) {
          fill: themed('danger_icon');
        }
      }
    }

    &:disabled,
    &[disabled='disabled'] {
      &:hover {
        @include themify($themes) {
          background-color: themed('secondary_bg');
          opacity: themed('disabled_all');
        }
        > .#{$prefix}-btn-icon {
          @include themify($themes) {
            fill: themed('danger_icon');
          }
        }
      }
      // @extend %disable;
      @include themify($themes) {
        opacity: themed('disabled_all');
      }
      cursor: not-allowed;
      > .#{$prefix}-btn-icon {
        @include themify($themes) {
          fill: themed('danger_icon');
        }
      }
    }

    > .#{$prefix}-btn-icon {
      @include themify($themes) {
        fill: themed('danger_icon');
      }
    }
  }
}

.#{$prefix}-ghost {
  @include themify($themes) {
    background-color: themed('interactive_bg');
    color: themed('interactive_text');
  }
  border: none;

  &:hover {
    @include themify($themes) {
      background-color: themed('interactive_bg_hover');
      color: themed('interactive_text');
    }

    > .#{$prefix}-btn-icon {
      @include themify($themes) {
        fill: themed('interactive_icon');
      }
    }
  }

  &:focus {
    @include themify($themes) {
      background-color: themed('interactive_bg_hover');
      color: themed('interactive_text');
      border: 0.0625rem solid themed('interactive_border');
    }

    > .#{$prefix}-btn-icon {
      @include themify($themes) {
        fill: themed('interactive_icon');
      }
    }
  }

  &:disabled,
  &[disabled] {
    @include themify($themes) {
      opacity: themed('disabled_all');
    }
    cursor: not-allowed;

    &:hover {
      @include themify($themes) {
        background-color: themed('interactive_bg');
      }
    }
  }

  > .#{$prefix}-btn-icon {
    @include themify($themes) {
      fill: themed('interactive_icon');
    }
  }
}

.#{$prefix}-sm {
  padding: 0.4375rem 1rem;
  height: 2rem;
}
