@import '../../base';

ol[type='lower-alpha'] {
		list-style-type: lower-alpha;
}

ol[type='i'] {
  list-style-type: lower-roman;
}

ol[type='I'] {
  list-style-type: upper-roman;
}
 
ol[type='upper-alpha'] {
  list-style-type: upper-alpha;
}

ol[type='1'] {
  list-style-type: decimal;
}

.#{$prefix}-list-ordered,
.#{$prefix}-list-unordered {
  font-size: 0.875rem;
  @include getFontWeight(regular);
  line-height: 1.5rem;
  letter-spacing: 0.16px;
  list-style-position: inside;

  .#{$prefix}-list-nested {
    margin-bottom: 0.25rem;
    margin-left: 2rem;
    font-size: 0.875rem;
  }
}
