@import '../../base';

.#{$prefix}-list-ordered,
.#{$prefix}-list-unordered {
  font-size: 0.875rem;
  @include getFontWeight(regular);
  line-height: 1.5rem;
  letter-spacing: 0.16px;
  list-style-position: inside;

  .#{$prefix}-list-nested {
    margin-bottom: 0.25rem;
    margin-left: 2rem;
    font-size: 0.875rem;

    .#{$prefix}-list-item::before {
      content: '-';
      padding-right: .25rem;
  }
  }
  &.#{$prefix}-decimal {
    list-style-type: decimal;
  }
}

ol.#{$prefix}-list-ordered,
ol.#{$prefix}-list-nested {
  &.#{$prefix}-upper-alpha {
    list-style-type: upper-alpha;
  }

  &.#{$prefix}-lower-alpha {
    list-style-type: lower-alpha;
  }

  &.#{$prefix}-lower-roman {
    list-style-type: lower-roman;
  }

  &.#{$prefix}-upper-roman {
    list-style-type: upper-roman;
  }
}

.#{$prefix}-list-unordered,
ul.#{$prefix}-list-nested { 
  &.#{$prefix}-circle {
    list-style-type: circle;
  }

  &.#{$prefix}-square {
    list-style-type: square;
  }

  &.#{$prefix}-disc {
    list-style-type: disc;
  }
}
