/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import '../../base';

.#{$prefix}-form-item {
  .#{$prefix}-label {
    font-size: 0.875rem;

    @include themify($themes) {
      color: themed('default_text_high');
    }

    letter-spacing: 0;
    line-height: 1.125rem;
  }

  .#{$prefix}-label-description {
    font-size: 0.875rem;

    @include themify($themes) {
      color: themed('default_text');
    }

    line-height: 1.313rem;
  }

  .#{$prefix}-file-uploader {
    .#{$prefix}-file-btn {
      display: inline-flex;
    }

    .#{$prefix}-file-input {
      display: none;

      &:disabled ~ .#{$prefix}-file-btn {
        @extend %disable;

        &.#{$prefix}-primary {
          @include themify($themes) {
            opacity: themed('disabled_all');
            background-color: themed('primary_bg');
          }
        }

        &.#{$prefix}-secondary {
          cursor: not-allowed;
          @include themify($themes) {
            opacity: themed('disabled_all');
            color: themed('secondary_text');
            border: 0.0625rem solid themed('secondary_border');
          }
        }

        &.#{$prefix}-ghost {
          @include themify($themes) {
            opacity: themed('disabled_all');
            color: themed('interactive_text');
          }
        }

        &.#{$prefix}-secondary.#{$prefix}-danger {
          @include themify($themes) {
            opacity: themed('disabled_all');
            color: themed('danger_text');
            border: 0.0625rem solid themed('danger_border');
          }
        }

        &.#{$prefix}-primary.#{$prefix}-danger {
          @include themify($themes) {
            opacity: themed('disabled_all');
            background: themed('danger_bg_inverse');
          }
        }

        &:hover.#{$prefix}-secondary {
          background: unset;
        }

        &:hover.#{$prefix}-ghost {
          background: transparent;
          @include themify($themes) {
            opacity: themed('disabled_all');
            color: themed('interactive_text');
          }
        }

        &:hover.#{$prefix}-secondary.#{$prefix}-danger {
          background: transparent;
        }
      }
    }

    .#{$prefix}-file-container-item {
      width: 27.5rem;
      height: 2.5rem;
      display: flex;

      @include themify($themes) {
        border: 1px solid themed('default_border_xlow');
        background-color: themed('default_bg');
      }

      margin-bottom: 1rem;

      .#{$prefix}-file-selected-file {
        width: 25rem;
        height: inherit;
      }

      .#{$prefix}-file-filename {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem;

        @include themify($themes) {
          color: themed('default_text_high');
        }
      }

      .#{$prefix}-file-close {
        @include themify($themes) {
          background-color: themed('default_bg');
          @include hcl-close-icon(10, transparent, themed('default_icon_high'));
        }

        height: 2.375rem !important;
        width: 2.5rem !important;

        &:focus {
          outline: 1px solid $blue;
        }
      }
    }
  }
}
