/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import '../../base';

.#{$prefix}-form-item {
  .#{$prefix}-label {
    font-size: 0.875rem;

    color: var(--default_text_high);

    letter-spacing: 0;
    line-height: 1.125rem;
  }

  .#{$prefix}-label-description {
    font-size: 0.875rem;

    color: var(--default_text);

    line-height: 1.313rem;
  }

  .#{$prefix}-file-uploader {
    .#{$prefix}-file-btn {
      display: inline-flex;
    }

    .#{$prefix}-file-input {
      display: none;

      &:disabled ~ .#{$prefix}-file-btn {
        @extend %disable;

        &.#{$prefix}-primary {
          opacity: var(--disabled_all);
          background-color: var(--primary_bg);
        }

        &.#{$prefix}-secondary {
          cursor: not-allowed;

          opacity: var(--disabled_all);
          color: var(--secondary_text);
          border: 0.0625rem solid var(--secondary_border);
        }

        &.#{$prefix}-ghost {
          opacity: var(--disabled_all);
          color: var(--interactive_text);
        }

        &.#{$prefix}-secondary.#{$prefix}-danger {
          opacity: var(--disabled_all);
          color: var(--danger_text);
          border: 0.0625rem solid var(--danger_border);
        }

        &.#{$prefix}-primary.#{$prefix}-danger {
          opacity: var(--disabled_all);
          background: var(--danger_bg_inverse);
        }

        &:hover.#{$prefix}-secondary {
          background: unset;
        }

        &:hover.#{$prefix}-ghost {
          background: transparent;

          opacity: var(--disabled_all);
          color: var(--interactive_text);
        }

        &:hover.#{$prefix}-secondary.#{$prefix}-danger {
          background: transparent;
        }
      }
    }

    .#{$prefix}-file-container-item {
      width: 27.5rem;
      height: 2.5rem;
      display: flex;

      border: 1px solid var(--default_border_xlow);
      background-color: var(--default_bg);

      margin-bottom: 1rem;

      .#{$prefix}-file-selected-file {
        width: 25rem;
        height: inherit;
      }

      .#{$prefix}-file-filename {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem;

        color: var(--default_text_high);
      }

      .#{$prefix}-file-close {
        background-color: var(--default_bg);
        svg {
          width: 0.625rem;
          height: 0.625rem;
          fill: var(--default_icon_high);
        }

        &:hover {
          svg {
            opacity: 0.8;
          }
        }

        height: 2.375rem;
        width: 2.5rem;
        cursor: pointer;
      }
    }
  }
}
