/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import '../../base';

.#{$prefix}-form-item {
  .#{$prefix}-label {
    font-size: 0.875rem;
    @include getInputColor('color-1', 'color');
    letter-spacing: 0;
    line-height: 1.125rem;
  }

  .#{$prefix}-label-description {
    font-size: 0.875rem;
    color: #aaa;
    line-height: 1.313rem;
  }

  .#{$prefix}-file-uploader {
    .#{$prefix}-file-btn {
      display: inline-flex;
    }

    .#{$prefix}-file-input {
      display: none;

      &:disabled ~ .#{$prefix}-file-btn {
        @extend %disable;

        &.#{$prefix}-primary {
          background: $blue-6;
        }

        &.#{$prefix}-secondary {
          color: $blue-6;
          border: 0.0625rem solid $blue-6;
          cursor: not-allowed;
        }
        &.#{$prefix}-ghost {
          color: $blue-6;
        }
        &.#{$prefix}-secondary.#{$prefix}-danger {
          border: 0.0625rem solid $red-2;
          color: $red-2;
        }

        &.#{$prefix}-primary.#{$prefix}-danger {
          background: $red-2;
        }
        &:hover.#{$prefix}-secondary {
          background: unset;
        }
        &:hover.#{$prefix}-ghost {
          background: transparent;
          color: $blue-6;
        }
        &:hover.#{$prefix}-secondary.#{$prefix}-danger {
          background: transparent;
        }
      }
    }

    .#{$prefix}-file-container-item {
      width: 27.5rem;
      height: 2.5rem;
      display: flex;
      border: 1px solid $grey-2;
      margin-bottom: 1rem;
      .#{$prefix}-file-selected-file {
        width: 25rem;
        height: inherit;
      }
      .#{$prefix}-file-filename {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem;
      }
      .#{$prefix}-file-close {
        @include hcl-close-icon(10, $white, $lightGrey);
        height: 2.375rem;
        width: 2.5rem;
        border: 1px solid transparent;

        &:focus {
          outline: 1px solid $blue;
        }
      }
    }
  }
}
