<div class="hcl-form-item">
  <span class="hcl-label">
    Account photo
  </span>
  <p class="hcl-label-description">
    only .jpg and .png files. 500kb max file size.
  </p>
  <div class="hcl-file-uploader">
    <input
      type="file"
      class="hcl-file-input"
      id="hcl-file-uploader"
      tabIndex="0"
      multiple
      accept=".jpg,.png"
    />
    <label
      for="hcl-file-uploader"
      class="hcl-file-btn hcl-btn hcl-secondary hcl-sm"
      role="button"
      tabindex="0"
    >
      Add file
    </label>
    <div class="hcl-file-container">
    </div>
  </div>
</div>
