.#{$prefix}-dropdown {
  width: 100%;
  // @include getTypoMixinProperties($typoThemeMaps, 'text-component-body-short');
  button::-moz-focus-inner {
    border: 0;
  }

  &.#{$prefix}-disable-cursor {
    cursor: not-allowed;
  }

  .#{$prefix}-dropdown-disabled {
    pointer-events: none;
    > a {
      outline: none;
      cursor: not-allowed;
    }

    opacity: var(--disabled_all);

    &:focus {
      outline: none;
    }
    &:hover {
      border-bottom: transparent;
    }
  }

  .#{$prefix}-dropdown-toggle {
    @include getTypoMixinProperties(
      $typoThemeMaps,
      'text-component-body-short'
    );
    outline: none;
    width: 100%;
    justify-content: left;
    margin: 0;
    padding-right: 2.5rem;
    padding-top: 0.6875rem;
    background-color: var(--input_bg);
    color: var(--input_text);
    border-bottom: 0.0625rem solid var(--input_border);
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    &.#{$prefix}-btn {
      justify-content: flex-start;
      text-align: left;

      &.#{$prefix}-multiselect-btn {
        display: flex;

        + .#{$prefix}-overlay-container {
          .#{$prefix}-dropdown-item {
            display: flex;
            align-items: center;

            .#{$prefix}-checkbox-item {
              min-width: 0;

              .#{$prefix}-checkbox-label {
                white-space: nowrap;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 0;
      border-top: 0.3125rem solid var(--input_icon);
      border-right: 0.3125rem solid transparent;
      border-left: 0.3125rem solid transparent;
      position: absolute;
      top: 50%;
      right: 0.875rem;
      transform: translate(-50%, -50%);
    }

    &:disabled,
    &[disabled='disabled'] {
      opacity: var(--disabled_all);
      cursor: not-allowed;
    }

    &:focus {
      outline-offset: -0.0625rem;
      border-bottom: 0.125rem solid var(--interactive_border);
    }

    .#{$prefix}-tag-primary {
      margin-right: 1rem;
    }

    .#{$prefix}-dropdown-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.#{$prefix}-overlay-wrapper-active {
    & > .#{$prefix}-dropdown-toggle::after {
      right: 1.2rem;
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out;
    }

    .#{$prefix}-dropdown-toggle {
      border-bottom: 0.125rem solid var(--interactive_border);
    }
  }
}

.#{$prefix}-dropdown-menu {
  // font-size: 1rem;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  width: 100%;
  max-height: 20rem;
  overflow: auto;
  background-color: var(--default_bg);
  color: var(--default_text);
  @include getTypoMixinProperties($typoThemeMaps, 'text-component-body-short');

  .#{$prefix}-dropdown-item {
    height: 2.5rem;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 11px 16px;
    cursor: pointer;

    &:hover {
      background: var(--interactive_bg_hover);
    }

    &:focus {
      text-decoration: none;
      outline-offset: -0.0625rem;

      outline: 0.0625rem solid var(--interactive_border);
    }

    .#{$prefix}-checkbox-label {
      &:focus {
        outline: none;
      }
    }
  }

  // &.#{$prefix}-dropdown-top {
  //   border-top: 0.0625rem solid var(--input_border);
  // }

  // &:not(.#{$prefix}-dropdown-top) {
  //   border-bottom: 0.0625rem solid var(--input_border);
  // }
}
