.#{$prefix}-dropdown {
  width: 100%;

  button::-moz-focus-inner {
    border: 0;
  }

  &.#{$prefix}-disable-cursor {
    cursor: not-allowed;
  }

  .#{$prefix}-dropdown-disabled {
    pointer-events: none;
    > a {
      outline: none;
      cursor: not-allowed;
    }

    opacity: var(--disabled_all);

    &:focus {
      outline: none;
    }
    &:hover {
      border-bottom: transparent;
    }
  }

  .#{$prefix}-dropdown-toggle {
    font-size: 0.875rem;
    line-height: 1.125rem;
    outline: none;
    width: 100%;
    justify-content: left;
    margin: 0;
    padding-right: 2.5rem;
    background-color: var(--input_bg);
    color: var(--input_text);
    border-bottom: 0.0625rem solid var(--input_border);

    &.#{$prefix}-btn {
      justify-content: flex-start;
      text-align: left;

      &.#{$prefix}-dropdown-btn {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 0;
      border-top: 0.3rem solid var(--input_icon);
      border-right: 0.3rem solid transparent;
      border-left: 0.3rem solid transparent;
      position: absolute;
      top: 50%;
      right: 0.875rem;
      transform: translate(-50%, -50%);
    }

    &:disabled,
    &[disabled='disabled'] {
      opacity: var(--disabled_all);
      cursor: not-allowed;
    }

    &:focus {
      outline-offset: -0.0625rem;
      border-bottom: 0.125rem solid var(--interactive_border);
    }

    .#{$prefix}-tag-primary {
      margin-right: 1rem;
    }

    .#{$prefix}-dropdown-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.#{$prefix}-overlay-wrapper-active {
    & > .#{$prefix}-dropdown-toggle::after {
      right: 1.2rem;
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out;
    }

    .#{$prefix}-dropdown-toggle {
      border-bottom: 0.125rem solid var(--interactive_border);
    }
  }
}

.#{$prefix}-dropdown-menu {
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  width: 100%;
  max-height: 20rem;
  overflow: auto;
  background-color: var(--default_bg);
  color: var(--default_text);

  .#{$prefix}-dropdown-item {
    height: 2.5rem;
    @include getFontWeight('regular');
    white-space: nowrap;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1rem;
    line-height: 2.5rem;
    cursor: pointer;

    &:hover {
      background: var(--interactive_bg_hover);
    }

    &:focus {
      text-decoration: none;
      outline-offset: -0.0625rem;

      outline: 0.0625rem solid var(--interactive_border);
    }

    .#{$prefix}-checkbox-label {
      &:focus {
        outline: none;
      }
    }
  }

  &.#{$prefix}-dropdown-top {
    border-top: 0.0625rem solid var(--input_border);
  }

  &:not(.#{$prefix}-dropdown-top) {
    border-bottom: 0.0625rem solid var(--input_border);
  }
}
