<div class="hcl-data-table-wrapper">
    <table class="hcl-data-table">
        <thead>
            <tr>
                <th>
                    <div class="header-text-wrapper">Name</div>
                </th>
                <th>
                    <div class="header-text-wrapper">Protocol</div>
                </th>
                <th>
                    <div class="header-text-wrapper">Port</div>
                </th>
                <th>
                    <div class="header-text-wrapper">Rule</div>
                </th>
                <th>
                    <div class="header-text-wrapper">Attached Groups</div>
                </th>
                <th>
                    <div class="header-text-wrapper"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="body-content-wrapper">On Hover Overflow</div>
                </td>
                <td>
                    <div class="body-content-wrapper">HTTP</div>
                </td>
                <td>
                    <div class="body-content-wrapper">80</div>
                </td>
                <td>
                    <div class="body-content-wrapper">Round Robin</div>
                </td>
                <td>
                    <div class="body-content-wrapper">Maureen&#x27;s VM Groups</div>
                </td>
                <td>
                    <div class="header-text-wrapper overflow-wrapper overflow-onhover">
                        <div id="dataTableOverflow" class="hcl-overflow-container">
                            <button class="hcl-ellipsis" aria-label="Right Overflow Menu" role="Overflow Menu"></button>
                            <div class="hcl-overflow-menu hcl-overflow-right">
                                <ul aria-labelledby="Right Overflow Menu">
                                    <li class="hcl-overflow-option">
                                        <button class="hcl-overflow-option-btn" aria-label="Option 1">Option 1</button>
                                    </li>
                                    <li class="hcl-overflow-option">
                                        <button class="hcl-overflow-option-btn" aria-label="option 2">Option 2</button>
                                    </li>
                                    <li class="hcl-overflow-option">
                                        <button class="hcl-overflow-option-disablebtn" disabled="disabled" tabindex="-1"
                                            aria-label="option 3">Option
                                            3</button>
                                    </li>
                                    <li class="hcl-overflow-option hcl-overflow-separator">
                                        <button class="hcl-overflow-option-dangerbtn"
                                            aria-label="Danger">Danger</button>
                                    </li>
                                </ul>
                                <div class="hcl-overflow-caret-right"></div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="body-content-wrapper">Fixed Overflow</div>
                </td>
                <td>
                    <div class="body-content-wrapper">HTTP</div>
                </td>
                <td>
                    <div class="body-content-wrapper">80</div>
                </td>
                <td>
                    <div class="body-content-wrapper">Round Robin</div>
                </td>
                <td>
                    <div class="body-content-wrapper">Maureen&#x27;s VM Groups</div>
                </td>
                <td>
                    <div class="header-text-wrapper overflow-wrapper">
                        <div id="dataTableOverflow2" class="hcl-overflow-container">
                            <button class="hcl-ellipsis" aria-label="Right Overflow Menu" role="Overflow Menu"></button>
                            <div class="hcl-overflow-menu hcl-overflow-right">
                                <ul aria-labelledby="Right Overflow Menu">
                                    <li class="hcl-overflow-option">
                                        <button class="hcl-overflow-option-btn" aria-label="Option 1">Option 1</button>
                                    </li>
                                    <li class="hcl-overflow-option">
                                        <button class="hcl-overflow-option-btn" aria-label="option 2">Option 2</button>
                                    </li>
                                    <li class="hcl-overflow-option">
                                        <button class="hcl-overflow-option-disablebtn" disabled="disabled" tabindex="-1"
                                            aria-label="option 3">Option
                                            3</button>
                                    </li>
                                    <li class="hcl-overflow-option hcl-overflow-separator">
                                        <button class="hcl-overflow-option-dangerbtn"
                                            aria-label="Danger">Danger</button>
                                    </li>
                                </ul>
                                <div class="hcl-overflow-caret-right"></div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>