/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-sidebar {
    background-color: #383838;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.125rem);
    width: 3rem;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    transition: all 220ms ease-in-out;

    &-title {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        height: 3.125rem;
        border-bottom: 0.0625rem solid #717171;
        position: relative;
        transition: all 220ms ease-in-out;

        &-icon {
            display: none;
            height: 1.5rem;
            width: 1.5rem;
            margin: 0.625rem;
            border-radius: 50%;
            background-color: #D8D8D8;
        }

        &-text {
            display: none;
            font-size: 0.75rem;
            color: var(--white);
            line-height: 1.125rem;
            width: 6.75rem;
        }

        &-toggle {
            display: flex;
            cursor: pointer;
            align-items: center;
            height: 3.125rem;
            width: 3rem;

            &:before {
                content: "";
                border-top: 0.125rem solid var(--white);
                border-right: 0.125rem solid var(--white);
                transform: rotate(45deg);
                height: 0.75rem;
                width: 0.75rem;
                margin: 1.125rem;
            }
        }
    }

    &-list {
        overflow: auto;

        >.#{$prefix}-sidebar-category,
        >.#{$prefix}-sidebar-item {
            display: block;

            >.#{$prefix}-sidebar-link {
                display: none;
                font-size: 0.75rem;
                color: var(--white);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                line-height: 1.75rem;
                width: calc(100% - 3.25rem);
                padding-right: 0.5rem;
            }
        }

        .#{$prefix}-sidebar-category {
            cursor: pointer;

            &:hover {
                background-color: #555;
            }

            .#{$prefix}-sidebar-icon {
                display: inline-block;
                width: 0.75rem;
                height: 0.75rem;
                margin: 0.5rem 1rem;
                border: 0.0625rem solid var(--white);
            }

            >.#{$prefix}-sidebar-link {
                position: relative;

                &:after {
                    content: "";
                    display: none;
                    position: absolute;
                    padding: 0.3125rem;
                    box-shadow: 0.125rem -0.125rem 0 0 var(--white) inset;
                    top: 50%;
                    right: 0rem;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    transition: all 220ms ease-in-out;
                }
            }

            .#{$prefix}-sidebar-children {
                display: block;
                overflow: hidden;
                height: 0;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform 220ms ease-in-out;

                .#{$prefix}-sidebar-item {

                    &:hover {
                        background-color: #6D6E70;
                    }

                    .#{$prefix}-sidebar-link {
                        font-size: 0.75rem;
                        color: var(--white);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        line-height: 1.75rem;
                        width: calc(100% - 3rem);
                        margin-left: 3rem;
                        padding-right: 0.5rem;
                    }
                }
            }

            &.expanded {
                .#{$prefix}-sidebar-children {
                    transform: scaleY(1);
                    height: auto;

                    .#{$prefix}-sidebar-item {}
                }

                .#{$prefix}-sidebar-link {

                    &:after {
                        transform: translate(-50%, -50%) rotate(-225deg);
                    }
                }
            }
        }

        .#{$prefix}-sidebar-item {
            &:hover {
                background-color: #6D6E70;
            }

            .#{$prefix}-sidebar-link {
                display: none;
                width: calc(100% - 3rem);
                margin-left: 3rem;
            }
        }
    }

    &.expanded {
        width: 12.5rem;

        .#{$prefix}-sidebar-title {
            width: 12.5rem;
            float: right;

            &-icon {
                display: inline-block;
            }

            &-text {
                display: inline-block;
            }

            &-toggle {
                &::before {
                    transform: rotate(225deg);
                }
            }
        }

        .#{$prefix}-sidebar-list {
            .#{$prefix}-sidebar-category {
                width: 12.5rem;

                .#{$prefix}-sidebar-link {
                    display: inline-block;
                }

                .#{$prefix}-sidebar-link:after {
                    display: inline-block;
                }
            }

            .#{$prefix}-sidebar-item {
                width: 12.5rem;

                .#{$prefix}-sidebar-link {
                    display: inline-block;
                }
            }
        }
    }
}