/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-sidebar {
    background-color: var(--grey);
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 3.125rem);
    min-height: calc(100vh - 3.125rem);
    align-items: flex-start;
    position: relative;
    overflow: auto;
    transition: all .35s;

    .#{$prefix}-icon-2 {
        position: absolute;
        top: .5rem;
        right: .9375rem;
        color: var(--white);
        background-color: transparent;
        cursor: pointer;
    }

    /* BELOW RULES ARE TEMPORARY; TODO: Subject to be changed */
    &-list {
        font-size: 1.4rem;
        list-style: none;
        margin-top: 3.5rem;
        width: 100%;
        display: none;

        &-item {
            position: relative;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }

        &-item::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--white);
            transform: scaleY(0);
            transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
        }

        &-link:link,
        &-link:visited {
            font-size: 1.125rem;
            color: currentColor;
            text-decoration: none;
            display: block;
            padding: .75rem 3rem;
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
        }
    }
}

// TODO: Subject to be changed
.demo-sidebar-showhide,
label[for="demo-sidebar-showhide"] {
    position: absolute;
    top: 4rem;
    left: .5rem;
    color: var(--white);
    cursor: pointer;
    z-index: 9999;
    transition: all .35s;
}

input[class="demo-sidebar-showhide"][type="checkbox"] {
    display: none;
    transition: all .35s;
}

input[class="demo-sidebar-showhide"][type="checkbox"]:checked~.#{$prefix}-sidebar {
    width: 300px;
    background-color: var(--white);
    color: var(--grey);
    border-right: 1px solid var(--grey-secondary);
    transition: all .35s;

    .#{$prefix}-sidebar-list {
        display: initial;

        &-item:hover::before,
        &-item--active::before {
            transform: scaleY(1);
            width: 3px;
            background-color: var(--blue);
        }

        &-item:active::before {
            background-color: var(--blue);
        }

        &-item:hover {
            background-color: var(--grey-secondary);
        }
    }
}

input[class="demo-sidebar-showhide"][type="checkbox"]:checked~label[class^="hcl-icon"] {
    left: 16rem;
    top: 4rem;
    transform: rotate(540deg);
    color: var(--grey);
    transition: all .35s;
}

// COLLAPSING AT SCREEN SIZE <= 768px
@include media-breakpoint-down(sm) {

    .demo-sidebar-showhide,
    label[for="demo-sidebar-showhide"] {
        display: none;
    }
}