<nav class="hcl-sidebar hcl-sidebar-left hcl-sidebar-vertical expanded">
    <button class="hcl-sidebar-hamburger" data-type="toggle_sidebar" data-title="Patronus">
        <span></span><span></span><span></span>
    </button>
    <div class="hcl-sidebar-title hcl-sidebar-title-primary" data-type="toggle_sidebar" data-title="Patronus"
        data-expanded="true">
        <i class="hcl-sidebar-title-icon p-hclsw p-hclsw-user-active"></i><span
            class="hcl-sidebar-title-text">Patronus</span><span class="hcl-sidebar-title-toggle" tabindex="0"
            data-expanded="true"><svg height="24px" width="24px" viewBox="0 0 512 512" alt="Patronus" title="Patronus"
                class="">
                <polygon points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "></polygon>
            </svg></span>
    </div>
    <ul class="hcl-sidebar-list">
        <li class="hcl-sidebar-category" aria-expanded="false">
            <a tabindex="0" class="hcl-sidebar-item" title="Home" href="/home"><i
                    class="hcl-sidebar-icon p-hclsw p-hclsw-home"></i><span class="hcl-sidebar-link">Home</span><i
                    class="hcl-sidebar-icon p-hclsw p-hclsw-release"></i></a>
        </li>
        <li class="hcl-sidebar-category" aria-expanded="false">
            <a tabindex="0" class="hcl-sidebar-item" title="Components" href="/comp"><i
                    class="hcl-sidebar-icon p-hclsw p-hclsw-release"></i><span
                    class="hcl-sidebar-link">Components</span><i
                    class="hcl-sidebar-icon p-hclsw p-hclsw-release"></i></a>
        </li>
    </ul>
</nav>