<div class="p-5">
  <nav class="hcl-sidebar" data-component="navigation">
    <button class="hcl-sidebar-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="hcl-sidebar-title">
      <i class="hcl-sidebar-title-icon pi pi-user"></i>
      <span class="hcl-sidebar-title-text">Section Title</span>
      <span class="hcl-sidebar-title-toggle" tabindex="0">
        <svg
          height="24px"
          style="enable-background: new 0 0 512 512;"
          version="1.1"
          viewbox="0 0 512 512"
          width="24px"
          xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <polygon
            points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
          />
        </svg>
      </span>
    </div>
    <ul class="hcl-sidebar-list">
      <li class="hcl-sidebar-category" aria-expanded="false">
        <a tabindex="0" title="Atoms" class="hcl-sidebar-toggle-node">
          <i class="hcl-sidebar-icon pi pi-manage"></i>

          <span class="hcl-sidebar-link"> Atoms </span>
          <svg
            class="toggleIcon"
            height="512px"
            style="enable-background: new 0 0 512 512;"
            version="1.1"
            viewbox="0 0 512 512"
            width="512px"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <polygon
              points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
            />
          </svg>
        </a>
        <ul class="hcl-sidebar-children">
          <li class="hcl-sidebar-category">
            <a
              href="#typography"
              tabindex="0"
              title="Typography"
              class="hcl-sidebar-item"
            >
              <span class="hcl-sidebar-link no-icon"> Typography </span>
            </a>
          </li>
          <li class="hcl-sidebar-category">
            <a
              href="#pagination"
              tabindex="0"
              title="Pagination"
              class="hcl-sidebar-item"
            >
              <span class="hcl-sidebar-link no-icon"> Pagination </span>
            </a>
          </li>
          <li class="hcl-sidebar-category">
            <a
              href="#gridSystem"
              tabindex="0"
              title="Grid System"
              class="hcl-sidebar-item"
            >
              <span class="hcl-sidebar-link no-icon"> Grid System </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="hcl-sidebar-category" aria-expanded="false">
        <a tabindex="0" title="Molecules" class="hcl-sidebar-toggle-node">
          <i class="hcl-sidebar-icon pi pi-catalog"></i>
          <span class="hcl-sidebar-link"> Molecules </span>
          <svg
            class="toggleIcon"
            height="512px"
            style="enable-background: new 0 0 512 512;"
            version="1.1"
            viewbox="0 0 512 512"
            width="512px"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <polygon
              points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "
            />
          </svg>
        </a>
        <ul class="hcl-sidebar-children">
          <li class="hcl-sidebar-category">
            <a
              href="#content-switcher"
              tabindex="0"
              title="Content Switcher"
              class="hcl-sidebar-item"
            >
              <span class="hcl-sidebar-link no-icon">
                Content Switcher
              </span>
            </a>
          </li>
          <li class="hcl-sidebar-category">
            <a href="#tabs" tabindex="0" title="Tabs" class="hcl-sidebar-item">
              <span class="hcl-sidebar-link no-icon"> Tabs </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
