<nav class="hcl-sidebar" data-component="navigation">
  <button class="hcl-sidebar-hamburger">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="hcl-sidebar-title">
    <span class="hcl-sidebar-title-icon"></span>
    <span class="hcl-sidebar-title-text">Section Title</span>
    <span class="hcl-sidebar-title-toggle"></span>
  </div>
  <ul class="hcl-sidebar-list">
    <li class="hcl-sidebar-category">
      <span class="hcl-sidebar-category-title">
        <svg class="hcl-sidebar-icon" alt="alt" title="title">
          <rect
            rx="3"
            ry="3"
            width="100%"
            height="100%"
            style="fill: rgb(255, 255, 255); stroke: black; stroke-width: 2; opacity: 0.5;"
          ></rect>
        </svg>
        <span class="hcl-sidebar-link">
          Category
        </span>
      </span>
      <ul class="hcl-sidebar-children">
        <li class="hcl-sidebar-item">
          <a href="#" class="hcl-sidebar-link">
            About
          </a>
        </li>
        <li class="hcl-sidebar-item">
          <a href="#" class="hcl-sidebar-link">
            Clients
          </a>
        </li>
        <li class="hcl-sidebar-item">
          <a href="#" class="hcl-sidebar-link">
            Services
          </a>
        </li>
        <li class="hcl-sidebar-item">
          <a href="#" class="hcl-sidebar-link">
            Contact
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
