<section id="content-switcher3" class="hcl-row p-5 colBorder">
  <h6 class="p-2">Content Switcher (disabled)</h6>
  <div data-content-switcher class="hcl-content-switcher" role="tablist">
    <button class="hcl-content-switcher-btn" role="tab" data-target=".vanilla">
      All
    </button>
    <button class="hcl-content-switcher-btn" role="tab" data-target=".react">
      Cybernetics
    </button>
    <button class="hcl-content-switcher-btn" role="tab" data-target=".angular">
      Information & Communication
    </button>
  </div>
  <section class="hcl-content-switcher-content">
    <div class="vanilla" role="tabpanel">
      <ol class="hcl-list-ordered">
        <li class="hcl-list-item">
          Cybernetics
          <ul class="hcl-list-nested">
            <li class="hcl-list-item">Artifical Intelligence</li>
            <li class="hcl-list-item">Bionics</li>
          </ul>
        </li>
        <li class="hcl-list-item">
          Information & Communication technology
          <ul class="hcl-list-nested">
            <li class="hcl-list-item">Cyber Infrastructure</li>
            <li class="hcl-list-item">Digital Technology</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="react" role="tabpanel">
      <ol class="hcl-list-ordered">
        <li class="hcl-list-item">
          Cybernetics
          <ul class="hcl-list-nested">
            <li class="hcl-list-item">Artifical Intelligence</li>
            <li class="hcl-list-item">Bionics</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="angular" role="tabpanel">
      <ol class="hcl-list-ordered">
        <li class="hcl-list-item">
          Information & Communication technology
          <ul class="hcl-list-nested">
            <li class="hcl-list-item">Cyber Infrastructure</li>
            <li class="hcl-list-item">Digital Technology</li>
          </ul>
        </li>
      </ol>
    </div>
  </section>
</section>
