.#{$prefix}-overflow-menu {
  list-style: none;
  padding: 0.375rem 0;
  width: 11.25rem;
  max-height: 12rem;
  overflow: auto;
  background-color: var(--default_bg);
  
  .#{$prefix}-overflow-option {
    font-size: 0.875rem;

    &-item {
      display: inline-block;
      width: 100%;
      padding: 0 0.5rem;
      height: 1.875rem;
      text-align: left;
      cursor: pointer;
      overflow: hidden;
      background: transparent;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 1.875rem;
      color: var(--default_text);
      border: 1px solid transparent;

      &:hover {
        background-color: var(--interactive_bg_hover);
        color: var(--default_text_high);
      }

      &:focus {
        outline-offset: -0.0625rem;
        outline: 0.0625rem solid var(--interactive_border);
      }

      &.#{$prefix}-overflow-option-separator {
        border-top: 0.0625rem solid var(--default_border_xlow);
      }

      &.#{$prefix}-overflow-option-danger {
        &:hover {
          background-color: var(--danger_bg_inverse);
          color: var(--default_text_inverse);
        }

        &:focus {
          outline-offset: -0.0625rem;
          outline: 0.0625rem solid var(--interactive_border);
          background-color: var(--danger_bg_inverse);
          color: var(--default_text_inverse);
        }
      }

      &:disabled,
      &[disabled='disabled'],
      &.#{$prefix}-overflow-option-disabled {
        outline-offset: 0;
        cursor: not-allowed;

        opacity: var(--disabled_all);

        &:hover {
          background-color: transparent;
        }
      }

      .#{$prefix}-overflow-option-icon {
        margin-right: 0.5rem;
        vertical-align: middle;
      }
    }

    button::-moz-focus-inner {
      border: 0;
    }
  }
}

.#{$prefix}-overflow-btn {
  width: 2rem;
  height: 2rem;
  background: transparent;

  &:hover {
    color: var(--interactive_icon_hover);
    background-color: var(--interactive_bg_hover);
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    outline-offset: -1px;

    outline: 0.125rem solid var(--interactive_border);
    border-radius: var(--border_corner_all_small);
  }
}

.#{$prefix}-overlay-wrapper-active {
  .#{$prefix}-overflow-btn {
    background-color: var(--active_bg_high);
    color: var(--active_icon);
  }
}
