@import '../../base';

@mixin option() {
  width: inherit;
  font-size: 0.875rem;
  color: $aqua-90;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin btn($type) {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background-color: rgba(70, 150, 210, 0.1);
  }

  &:focus {
    outline-offset: -1px;
    outline: 1px solid $blue;
  }

  @if ($type==disable) {
    outline-offset: 0;
    cursor: not-allowed;
  } @else if($type==danger) {
    &:hover {
      background-color: $red;
      color: $white;
    }

    &:focus {
      outline-offset: -1px;
      outline: 1px solid $blue;
      background-color: $red;
      color: $white;
    }
  }
}

.#{$prefix}-overflow-menu {
  list-style: none;
  padding: 0.375rem 0;
  position: relative;
  z-index: 6;
  width: 11.25rem;
  max-height: 12rem;
  overflow: auto;

  .#{$prefix}-overflow-option {
    @include option();

    &-btn {
      @include btn(default);
    }

    button::-moz-focus-inner {
      border: 0;
    }

    &-disablebtn {
      @include btn(disable);
    }

    &-dangerbtn {
      @include btn(danger);
    }

    &.#{$prefix}-overflow-separator {
      border-top: 0.0625rem solid $grey-8;
    }
  }

  // .#{$prefix}-overflow-disable {
  //     cursor: not-allowed;
  //     opacity: 0.3;
  // }
}

.#{$prefix}-hidden {
  display: none;
}

.#{$prefix}-show {
  display: block;
}

.#{$prefix}-ellipsis {
  width: 1rem;
  padding: 10px 16px;
  background: transparent;

  &:hover {
    background-color: rgba(70, 150, 210, 0.1);
    cursor: pointer;
  }
}
