@mixin option ($type) {
    width: inherit;
    padding: 0.625rem 0.625rem;
    font-size: 0.875rem;
    color: var(--dark-blue);
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @if ($type==default) {
        &:hover {
            background-color: rgba(70, 150, 210, 0.1);
        }
    }

    @else if ($type==danger) {
        &:hover {
            background-color: var(--red) !important;
            color: var(--white);
        }
    }
}


@mixin wrap($type) {

    top: 1.4375rem;

    @if($type==right) {

        left: -1.125rem
    }

    @else if($type==left) {

        left: -9.5625rem
    }
}

@mixin caret($type) {
    position: absolute;
    top: -0.3125rem;
    width: 0.65625rem;
    height: 0.65625rem;
    transform: rotate(-45deg);
    background: var(--white);
    border-top: 0.0625rem solid var(--grey-lighter);
    border-right: 0.0625rem solid var(--grey-lighter);
    z-index: 5;
    box-shadow: 0.5rem 0 0.625rem -0.375rem rgba(0, 0, 0, 0.10);

    @if ($type==right) {
        left: 1rem;
    }

    @else if ($type==left) {
        right: 1rem;
    }
}

.#{$prefix}-overflow {

    &-separator {
        border-top: 0.0625rem solid var(--grey-lighter);
        padding-top: 0.375rem;
    }

    &-caret {
        @include caret(left);

        &-right {
            @include caret(right)
        }
    }

    &-container {
        position: relative;
        display: inline-block;


        >input:focus~.hcl-overflow-menu {
            display: block !important;
        }
    }

    &-close {
        display: none;
    }

    &-menu {
        position: absolute;
        z-index: 9;
        height: auto;
        width: 11.25rem;
        background-color: var(--white);
        border: 0.0625rem solid var(--grey-lighter);
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.10);
        list-style: none;
        @include wrap(left)
    }


    &-right {
        @include wrap(right)
    }

    &-list {
        padding: 0.375rem 0;
    }

    li,
    &-option {
        @include option(default);
    }



    &-optiondanger,
    .danger {
        @include option(danger);
    }

    &-disable {
        cursor: not-allowed !important;
        opacity: 0.3;
    }
}

.#{$prefix}-hidden {
    display: none;
}

.#{$prefix}-ellipsis {
    width: 0.5rem;
}