@mixin option ($type) {
    height: 2rem;
    width: inherit;
    padding-left: 1.125rem;
    padding-right: 0.625rem;
    font-size: 0.875rem;
    color: var(--dark-blue);
    line-height: 2rem;

    &-disable {
        cursor: not-allowed;
        opacity: 0.3;
    }

    @if ($type==normal) {
        &:hover {
            background-color: rgba(70, 150, 210, 0.1);
        }
    }

    @else if ($type==danger) {
        &:hover {
            background-color: rgba(224, 24, 45, 1);
            color: var(--white);
        }
    }
}

@mixin options($type) {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;

    @if ($type==danger) {
        border-top: 0.0625rem solid var(--danger);
    }
}

.#{$prefix}-overflowFlow {

    position: relative;

    &-svg {
        fill: var(--dark-blue);
    }

    &-triangle {
        position: absolute;
        left: 0.125rem;
        top: 1.875rem;
        width: 0.65625rem;
        height: 0.65625rem;
        transform: rotate(-45deg);
        background: var(--white);
        border-top: 0.0625rem solid var(--danger);
        border-right: 0.0625rem solid var(--danger);
        z-index: 5;
        box-shadow: 0.5rem 0 0.625rem -0.375rem rgba(0, 0, 0, 0.10);
    }

    &-menu {
        position: absolute;
        left: -8.0625rem;
        top: 2.1875rem;
        height: auto;
        width: 11.25rem;
        background-color: var(--white);
        border: 0.0625rem solid var(--danger);
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.10);

        &-options {
            @include options(normal);
        }

        &-optionsDanger {
            @include options(danger);
        }
    }

    &-option {
        @include option(normal);
    }

    &-optionDanger {
        @include option(danger);
    }
}