<div id="normal-search" class="hcl-search" role="search">
  <span class="hcl-search-btn" tabindex="-1">
    <svg
      focusable="false"
      preserveAspectRatio="xMidYMid meet"
      style="will-change: transform"
      xmlns="https://www.w3.org/2000/svg"
      class="hcl-search-icon"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      aria-hidden="true"
    >
      <path
        d="M15 14.3L10.7 10c1.9-2.3 1.6-5.8-.7-7.7S4.2.7 2.3 3 .7 8.8 3 10.7c2 1.7 5 1.7 7 0l4.3 4.3.7-.7zM2 6.5C2 4 4 2 6.5 2S11 4 11 6.5 9 11 6.5 11 2 9 2 6.5z"
      ></path>
    </svg>
  </span>
  <input
    type="search"
    id="goal-input"
    class="hcl-search-input hcl-form-control"
    placeholder="Search..."
  />
  <button class="hcl-search-reset" tabindex="-1">
    <svg
      version="1.1"
      xmlns="https://www.w3.org/2000/svg"
      xmlns:xlink="https://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 16 16"
      style="enable-background: new 0 0 16 16"
      xml:space="preserve"
    >
      <polygon
        points="15.393,2.021 13.979,0.607 8,6.586 2.021,0.607 0.607,2.021 6.586,8 0.607,13.979 2.021,15.393 8,9.414 
           13.979,15.393 15.393,13.979 9.414,8 "
      />
    </svg>
  </button>
</div>
