.#{$prefix}-inpage-navigation {
  list-style: none;
  border-left: 0.0625rem solid var(--interactive_border);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  a {
    font-size: 1rem;
    color: var(--default_text_high);
    &:hover {
      text-decoration: none;
      color: var(--primary_bg);
    }
  }

  li {
    padding: 0.625rem 0.625rem 0.5rem;
    border-left: 0.125rem solid var(--primary_border);
  }

  .isActive,
    li:hover {
    border-left: 0.3125rem solid var(--interactive_border);
    position: relative;
    left: -0.125rem;
    a {
      text-decoration: none;
    }
  }
}
