<div class="hcl-overlay-wrapper hcl-dropdown" id="top-dropdown">
  <button
    class="hcl-btn hcl-dropdown-toggle"
    id="top-dropdown-btn"
    aria-haspopup="true"
    aria-controls="top-container"
    data-toggle="dropdown"
  >
    Dropdown Top
  </button>
  <div class="hcl-overlay-container">
    <ul
      class="hcl-dropdown-menu"
      role="menu"
      id="top-container"
      aria-labelledby="top-dropdown-btn"
    >
      <li class="hcl-dropdown-item" tabindex="0">A</li>
      <li class="hcl-dropdown-item" tabindex="0">B</li>
      <li class="hcl-dropdown-item" tabindex="0">C</li>
    </ul>
  </div>
</div>
