<ul class="hcl-accordion hcl-loading">
  <li class="hcl-accordion-item expanded">
    <h4 class="hcl-accordion-title">
      <span></span>
    </h4>
    <p class="hcl-accordion-content"></p>
  </li>
  <li class="hcl-accordion-item">
    <h4 class="hcl-accordion-title">
      <span></span>
    </h4>
    <p class="hcl-accordion-content"></p>
  </li>
  <li class="hcl-accordion-item">
    <h4 class="hcl-accordion-title">
      <span></span>
    </h4>
    <p class="hcl-accordion-content"></p>
  </li>
</ul>
