<div class="p-5">
  <button
    data-toggle="modal"
    id="hcl-modal-success-action"
    data-target="#hcl-modal-type4"
    class="hcl-btn hcl-primary"
  >
    click me
  </button>
  <section
    id="hcl-modal-type4"
    tabindex="0"
    class="hcl-modal hcl-modal-hide row"
    role="dialog"
    aria-labelledby="sucessAction"
  >
    <div class="hcl-modal-container hcl-modal-container-lg">
      <header class="hcl-modal-header hcl-modal-header-lg">
        <h5>Modal heading</h5>
      </header>
      <div class="hcl-modal-content hcl-modal-content-lg">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id
          accumsan augue. Phasellus consequat augue vitae tellus tincidunt
          posuere.
        </p>
      </div>
      <footer class="hcl-modal-footer hcl-modal-footer-lg">
        <button
          id="hcl-modal-cancel-type4"
          data-dismiss-btn
          class="hcl-btn hcl-modal-cancel hcl-modal-btn hcl-secondary"
        >
          Cancel
        </button>
        <button class="hcl-modal-btn hcl-btn hcl-primary">Save</button>
      </footer>
      <button
        id="hcl-modal-close-type4"
        aria-label="modal close"
        data-dismiss-btn
        class="hcl-modal-close"
      >
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 16 16"
          xml:space="preserve"
        >
          <polygon
            points="15.393,2.021 13.979,0.607 8,6.586 2.021,0.607 0.607,2.021 6.586,8 0.607,13.979 2.021,15.393 8,9.414 
     13.979,15.393 15.393,13.979 9.414,8 "
          />
        </svg>
      </button>
    </div>
  </section>
</div>
