{
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true}],
    "semi": ["error", "always"],
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "no-console": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(error)$/]",
        "message": "Unexpected property on console object was called"
      }
    ],
    "no-debugger": 1,
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "space-before-function-paren": [
      "error",
      { "anonymous": "never", "named": "never", "asyncArrow": "always" }
    ]
  },
  "overrides": [
    {
      "files": ["js/**/*.js"]
    }
  ],
  "parser": "babel-eslint"
}
