/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-footer {
  height: 2.5rem;
  width: 100vw;
  background-color: var(--light-20);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.875rem 0;

  @include media-breakpoint-down(sm) {
    height: 3.75rem;
    flex-direction: column-reverse;
  }

  &-caption {
    display: inline-flex;
    max-width: 50%;
    min-width: 50%;
    font-size: 0.75rem;
    color: var(--light-70);
    letter-spacing: 0;
    justify-content: flex-end;
    align-self: center;
    padding: 0 1rem;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      min-width: 100%;
      justify-content: center;
      padding: 0.25rem 0 0 0;
    }
  }

  &-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    min-width: 50%;
    padding: 0 1rem;
    justify-content: flex-start;
    align-self: center;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      min-width: 100%;
      justify-content: center;
      padding: 0 0 0.25rem 0;
    }

    .#{$prefix}-navigation-item {
      margin-right: 0.5rem;
      font-size: 0.75rem;
      color: var(--light-60);
      letter-spacing: 0;
      align-self: flex-end;

      &:not(:last-child)::after {
        content: '|';
        margin-left: 0.5rem;
      }

      .#{$prefix}-link {
        white-space: nowrap;
        @include getTextDecorationLine('none');
        border-bottom: 0.0625rem solid transparent;
        transition: 0.25s;
        font-size: 0.75rem;
        color: var(--light-60);
        letter-spacing: 0;
        line-height: 0.75rem;

        &:hover {
          @include getTextDecorationLine('underline');
        }
      }
    }
  }
}
