<footer class="hcl-footer">
    <div class="hcl-footer-caption">
        Copyright © HCL Software. All rights reserved
    </div>
    <ul class="hcl-footer-navigation">
        <li class="hcl-navigation-item">
            <a href="#" class="hcl-link" disabled>Legal</a>
        </li>
        <li class="hcl-navigation-item">
            <a href="#" class="hcl-link">Disclaimer</a>
        </li>
        <li class="hcl-navigation-item">
            <a href="#" class="hcl-link">Privacy</a>
        </li>
        <li class="hcl-navigation-item">
            <a href="#" class="hcl-link">Terms of use</a>
        </li>
        <li class="hcl-navigation-item">
            <a href="#" class="hcl-link">Contact Us</a>
        </li>
    </ul>
</footer>