<div class="p-5">
  <div class="hcl-tile-select">
    <label class="hcl-tile-selectable" for="tile-id" tabindex="0">
      <input id="tile-id" class="hcl-tile-input" type="checkbox" title="tile" />
      <svg class="hcl-tile-checkbox" width="16" height="16" viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.646-10.854L6.75 10.043 4.354 7.646l-.708.708 3.104 3.103 5.604-5.603-.708-.708z"
          fill-rule="evenodd"
        ></path>
      </svg>
      <p>Click to select tile</p>
    </label>
  </div>
</div>
