.#{$prefix}-form-item {
    .#{$prefix}-label {
        font-size: 0.875rem;
        @include getInputColor('color-1', "color");
        letter-spacing: 0;
        line-height: 1.125rem;
    }

    .#{$prefix}-label-description {
        font-size: 0.875rem;
        color: #aaa;
        line-height: 1.313rem;
    }

    .#{$prefix}-file {
        position: relative;
        overflow: hidden;
        display: inline-block;

        &-btn {
            display: inline-flex;
            margin-left: 0;
        }

        &-input {
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}