<span class="hcl-toggle-small">
    <input type="checkbox" id="simple-small-toggle" />
    <label class="hcl-toggle-label" for="simple-small-toggle">
        <span class="hcl-switch"></span>
    </label>
    <label class="hcl-toggle-off">Off</label>
    <label class="hcl-toggle-on">On</label>
</span>
<span class="hcl-toggle-small">
    <input type="checkbox" id="disabled-checked-small-toggle" disabled checked />
    <label class="hcl-toggle-label" for="disabled-checked-small-toggle">
        <span class="hcl-switch"></span>
    </label>
    <label class="hcl-toggle-off">Off</label>
    <label class="hcl-toggle-on">On</label>
</span>
<span class="hcl-toggle-small">
    <input type="checkbox" id="disabled-small-toggle" disabled />
    <label class="hcl-toggle-label" for="disabled-small-toggle">
        <span class="hcl-switch"></span>
    </label>
    <label class="hcl-toggle-off">Off</label>
    <label class="hcl-toggle-on">On</label>
</span>