/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

$breadcrumb-margin: 1rem;

.#{$prefix}-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-item {
    margin-right: $breadcrumb-margin;
    color: var(--default_text_high);
    @include getTypoMixinProperties($typoThemeMaps, 'text-section-nav');

    &:not(:last-child)::after {
      content: '/';
      margin-left: $breadcrumb-margin;
    }

    .#{$prefix}-link {
      color: var(--interactive_text);

      white-space: nowrap;
      @include getTextDecorationLine('none');
      border-bottom: 0.0625rem solid transparent;

      &:hover {
        color: var(--interactive_text_hover);

        @include getTextDecorationLine('underline');
      }
      &:focus {
        outline: 0.0625rem solid var(--interactive_border);
        border: 0;
        @include getTextDecorationLine('none');
      }
    }
  }

  &-item-active {
    .#{$prefix}-link {
      color: var(--default_text_high);

      @include getFontWeight('semibold');
      @include getTextDecorationLine('underline');
    }
  }
}
