/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

$breadcrumb-margin: 1rem;

.#{$prefix}-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-item {
    margin-right: $breadcrumb-margin;

    color: var(--default_text_high);

    font-size: 0.875rem;

    &:not(:last-child)::after {
      content: '/';
      margin-left: $breadcrumb-margin;
    }

    .#{$prefix}-link {
      color: var(--interactive_text);

      white-space: nowrap;
      @include getTextDecorationLine('none');
      border-bottom: 0.0625rem solid transparent;

      &:hover {
        color: var(--interactive_text_hover);

        @include getTextDecorationLine('underline');
      }
      &:focus {
        outline: 0.0625rem solid var(--interactive_border);
        border: 0;
        @include getTextDecorationLine('none');
      }
    }
  }

  &-item-active {
    .#{$prefix}-link {
      color: var(--default_text_high);

      @include getFontWeight('semibold');
      @include getTextDecorationLine('underline');
    }
  }
}





.#{$prefix}-progressbar-linear {
  &-label,
  &-subtext {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--default_text);

    &-value {
      float: right;
    }
  }
  &-content {
    background-color: var(--default_bg_high);
    height: 0.25rem;
    .#{$prefix}-progressbar-style {
      background-color: var(--primary_bg);
    }
  }
}

.#{$prefix}-progressbar-circle {
  .#{$prefix}-progressbar-innercircle {
    fill: none;
    stroke: var(--default_bg_high);
    &-outercircle {
      fill: none;
      stroke: var(--default_bg);
    }
    &-text {
      font-size: 1rem;
      text-anchor: middle;
      fill: #fff;
    }
  }
}