$search-height: 2.5rem;
$search-height-sm: 2rem;
$search-icon-size: 1rem;
$search-reset-size: 0.759rem;

.#{$prefix}-search {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  height: $search-height;

  //   &:focus {
  //     outline: 0;

  //     border-bottom: 1px solid var(--interactive_border);
  //   }

  > * {
    &:disabled {
      opacity: var(--disabled_all);
      cursor: not-allowed;
    }
  }

  &.show {
    direction: rtl;

    & > .#{$prefix}-search-input {
      direction: ltr;
    }

    &.#{$prefix}-search-btn-only {
      .#{$prefix}-search-input {
        padding-left: 1rem;
      }
    }

    .#{$prefix}-search-btn {
      display: none;
    }
  }

  button.#{$prefix}-search-btn:hover:enabled {
    background-color: var(--interactive_bg_hover);
    cursor: pointer;

    .#{$prefix}-search-icon {
      fill: var(--input_icon);
    }
  }

  .#{$prefix}-search-btn {
    height: $search-height;
    width: $search-height;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    background: none;

    .#{$prefix}-search-icon {
      margin-left: ($search-height - $search-icon-size)/2;
      margin-top: ($search-height - $search-icon-size)/2;

      fill: var(--input_icon);
    }
  }

  .#{$prefix}-search-input {
    -webkit-appearance: none;
    // font-size: var(--body-font-size);
    @include getTypoMixinProperties($typoThemeMaps, 'text-content-body-short');
    // width: 100%;
    height: $search-height;
    outline: none;
    padding: 0 $search-height;
    //border-bottom: 0.0625rem solid var(--input_border);
    // border-width: var(--input_border_width);
    // border-style: solid;
    // border-color: var(--input_border);

    // color: var(--input_text);
    // background-color: var(--input_bg);

    right: 0;
    position: unset;
    transition: width 0.15s ease-out;

    // &:focus {
    //   // border-bottom: 2px solid var(--interactive_border);
    //   border-width: var(--input_border_focus_width);
    //   border-style: solid;
    //   border-color: var(--interactive_border);
    //   outline-offset: -1px;
    // }

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    &:disabled {
      opacity: var(--disabled_all);
      cursor: not-allowed;
    }

    /* clears the 'x' from Chrome */
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  .#{$prefix}-search-reset {
    background: none;
    right: 0;
    top: 0;
    height: $search-height;
    width: $search-height;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    transition: visibility 0.15s ease-out;

    svg {
      fill: var(--input_icon);
      width: 0.75rem;
      height: 0.75rem;
    }

    &.show {
      visibility: visible;
    }
  }

  &.#{$prefix}-search-sm {
    height: $search-height-sm;

    .#{$prefix}-search-input {
      height: $search-height-sm;
      padding: 0 $search-height-sm;
      @include getTypoMixinProperties(
        $typoThemeMaps,
        'text-component-body-short'
      );
    }

    .#{$prefix}-search-btn {
      height: $search-height-sm;
      width: $search-height-sm;

      .#{$prefix}-search-icon {
        margin-left: ($search-height-sm - $search-icon-size)/2;
        margin-top: ($search-height-sm - $search-icon-size)/2;
      }
    }

    .#{$prefix}-search-reset {
      height: $search-height-sm;
      width: $search-height-sm;
    }
  }

  &.#{$prefix}-search-btn-only {
    &:not(.show) {
      .#{$prefix}-search-input {
        visibility: hidden;
        width: 0;
        padding: 0;
        position: absolute;
        transition: all 0.15s ease-out;
      }

      .#{$prefix}-search-btn {
        right: 0;
        left: unset;
        pointer-events: unset;
      }
    }
  }

  &.#{$prefix}-bg-white {
    .#{$prefix}-search-input {
      background-color: var(--default_bg);
    }
  }
}
