<section class="hcl-dropdown" id="bottom-dropdown">
    <button class="hcl-btn hcl-dropdown-toggle" aria-haspopup="true" aria-controls="dropdown" aria-expanded="false" data-toggle="dropdown">
        Dropdown Bottom
    </button>
    <ul class="hcl-dropdown-container" aria-expanded="true" aria-labelledby="dropdown">
        <li class="hcl-dropdown-item"><a role="menuitem" tabindex="0" href="#" class="hcl-dropdown-wrapper">A</a>
        </li>
        <li class="hcl-dropdown-item"><a role="menuitem" tabindex="0" href="#" class="hcl-dropdown-wrapper">B</a>
        </li>
        <li class="hcl-dropdown-item"><a role="menuitem" tabindex="0" href="#" class="hcl-dropdown-wrapper">C</a>
        </li>
    </ul>
</section>