<section class="hcl-row m-3" id="bottom-dropdown">
    <div class="hcl-col">
        <section class="hcl-dropdown" data-component="dropdown">
            <button class="hcl-btn hcl-dropdown-toggle" data-toggle="dropdown">
                Dropdown Bottom
            </button>
            <ul class="hcl-dropdown-container" aria-labelledby="dropdownMenuButton">
                <li class="hcl-dropdown-item">A</li>
                <li class="hcl-dropdown-item">B</li>
                <li class="hcl-dropdown-item">C</li>
            </ul>
        </section>
    </div>
</section>