<section class="hcl-dropdown p-5" id="bottom-dropdown">
  <button
    class="hcl-btn hcl-dropdown-toggle"
    id="bottom-dropdown-btn"
    aria-haspopup="true"
    aria-controls="bottom-container"
    data-toggle="dropdown"
  >
    Dropdown Bottom
  </button>
  <ul
    class="hcl-dropdown-container"
    id="bottom-dropdown"
    role="menu"
    aria-labelledby="bottom-dropdown-btn"
  >
    <li class="hcl-dropdown-item">
      <a role="menuitem" tabindex="0" href="#" class="hcl-dropdown-wrapper"
        >A</a
      >
    </li>
    <li class="hcl-dropdown-item">
      <a role="menuitem" tabindex="0" href="#" class="hcl-dropdown-wrapper"
        >B</a
      >
    </li>
    <li class="hcl-dropdown-item">
      <a role="menuitem" tabindex="0" href="#" class="hcl-dropdown-wrapper"
        >C</a
      >
    </li>
  </ul>
</section>
