<section id="notification" class="hcl-row p-5">
  <div class="hcl-col">
    <div data-notification="" class="hcl-notification hcl-danger" role="alert">
      <div class="hcl-notification-body">
        <div class="hcl-notification-icon-container">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            aria-hidden="true"
            style="will-change: transform; fill: #e0182d;"
            class="hcl-notification-icon"
          >
            <path
              d="M10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm3.5 13.5l-8-8 1-1 8 8-1 1z"
            />
            <path
              d="M13.5 14.5l-8-8 1-1 8 8-1 1z"
              data-icon-path="inner-path"
              opacity="0"
            />
          </svg>
        </div>
        <div class="hcl-notification-text-wrapper">
          <h5 class="hcl-notification-title">Notification title</h5>
          <p class="hcl-notification-subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.
          </p>
        </div>
      </div>
      <button class="hcl-notification-close" type="button" aria-label="close">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 16 16"
          xml:space="preserve"
        >
          <polygon
            points="15.393,2.021 13.979,0.607 8,6.586 2.021,0.607 0.607,2.021 6.586,8 0.607,13.979 2.021,15.393 8,9.414 
         13.979,15.393 15.393,13.979 9.414,8 "
          />
        </svg>
      </button>
    </div>
  </div>
</section>
