<div id="right-overflow-menu" class="hcl-overflow-container">
  <button class="hcl-ellipsis" aria-label="Right Overflow Menu" role="Overflow Menu"></button>
  <div class="hcl-overflow-menu hcl-overflow-right">
    <ul aria-labelledby="Right Overflow Menu">
      <li class="hcl-overflow-option">
        <button class="hcl-overflow-option-btn" aria-label="Option 1">Option 1</button>
      </li>
      <li class="hcl-overflow-option">
        <button class="hcl-overflow-option-btn" aria-label="option 2">Option 2</button>
      </li>
      <li class="hcl-overflow-option">
        <button class="hcl-overflow-option-disableBtn" disabled="disabled" tabindex="-1" aria-label="option 3">Option
          3</button>
      </li>
      <li class="hcl-overflow-option hcl-overflow-separator">
        <button class="hcl-overflow-option-dangerBtn" aria-label="Danger">Danger</button>
      </li>
    </ul>
    <div class="hcl-overflow-caret-right"></div>
  </div>
</div>