<div id="right-overflow-menu" class="hcl-overlay-wrapper">
  <button class="hcl-ellipsis" aria-label="Right Overflow Menu" data-target="#overlay1002"  role="Overflow Menu"></button>
  <div class="hcl-overlay-container" id="overlay1002">
    <ul aria-labelledby="Right Overflow Menu" class="hcl-overflow-menu">
      <li class="hcl-overflow-option">
        <button class="hcl-overflow-option-btn" aria-label="Option 1">Option 1</button>
      </li>
      <li class="hcl-overflow-option">
        <button class="hcl-overflow-option-btn" aria-label="option 2">Option 2</button>
      </li>
      <li class="hcl-overflow-option">
        <button class="hcl-overflow-option-disablebtn" disabled="disabled" tabindex="-1" aria-label="option 3">Option
          3</button>
      </li>
      <li class="hcl-overflow-option hcl-overflow-separator">
        <button class="hcl-overflow-option-dangerbtn" aria-label="Danger">Option 4</button>
      </li>
      <li class="hcl-overflow-option">
        <button class="hcl-overflow-option-btn" aria-label="option 5">
            <a tabindex="-1" href="https://google.com" title="option 5">option 5</a>
        </button>
    </li>
    </ul>
    
  </div>
</div>