<section class="hcl-tab" id="tabsjs">
  <nav data-tabs role="navigation">
    <ul role="tablist" class="hcl-tabs-nav">
      <li
        role="tab"
        class="hcl-tabs-nav-item"
        tabindex="0"
        aria-controls="tab4"
        data-target="tab4"
      >
        <a class="hcl-tabs-nav-link">Tab Label 4</a>
      </li>
      <li
        role="tab"
        class="hcl-tabs-nav-item"
        aria-controls="tab5"
        tabindex="0"
        aria-selected="true"
        data-target="tab5"
      >
        <a class="hcl-tabs-nav-link">Tab Label 5</a>
      </li>
      <li
        role="tab"
        class="hcl-tabs-nav-item"
        aria-controls="tab6"
        tabindex="0"
        data-target="tab6"
      >
        <a class="hcl-tabs-nav-link">Tab Label 6</a>
      </li>
    </ul>
  </nav>
  <section class="hcl-tabcontent">
    <div
      role="tabpanel"
      aria-labelledby="tab4"
      id="tab4"
      class="hcl-tabs-panel"
    >
      <p>Tabbable Content 4</p>
    </div>
    <div
      role="tabpanel"
      aria-labelledby="tab5"
      id="tab5"
      class="hcl-tabs-panel"
    >
      <p>Tabbable Content 5</p>
    </div>
    <div
      role="tabpanel"
      aria-labelledby="tab6"
      id="tab6"
      class="hcl-tabs-panel"
    >
      <p>Tabbable Content 6</p>
    </div>
  </section>
</section>
