@import '../../base';

.#{$prefix}-tag {
  font-size: 0.75rem;
  @include getFontWeight(regular);
  line-height: 1rem;
  letter-spacing: 0.32px;
  display: inline-flex;
  align-items: center;
  padding: 0 0.625rem;
  height: 2rem;
  margin: 0.25rem;
  border-radius: 1rem;
  justify-content: center;
  min-width: 2.75rem;
  cursor: pointer;
  position: relative;

  &-text {
    max-width: 5.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .#{$prefix}-tag-icon {
    width: hcl-rem(18px);
    height: hcl-rem(18px);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 0.5rem;
  }

  &-primary {
    color: var(--primary_text);
    background-color: var(--primary_bg);

    &:hover:not([disabled]) {
      background-color: var(--primary_bg_hover);
    }

    > .#{$prefix}-tag-icon {
      color: var(--primary_icon);
    }

    > .#{$prefix}-tag-close {
      margin-left: 0.5rem;
      width: 1.125rem;
      height: 1.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: var(--primary_bg);

      svg {
        width: 0.5rem;
        height: 0.5rem;
        fill: var(--primary_icon);
      }

      &:hover {
        background-color: var(--primary_bg_hover);
      }

      &:focus {
        border-radius: 1rem;
        border: 2px solid var(--primary_border);
        outline: none;
      }
    }
  }

  &-secondary {
    color: var(--secondary_text);
    background-color: var(--secondary_bg);
    border: 1px solid var(--secondary_border);

    &:hover:not([disabled]) {
      background-color: var(--secondary_bg_hover);
    }

    > .#{$prefix}-tag-close {
      margin-left: 0.5rem;
      width: 1.125rem;
      height: 1.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: var(--secondary_bg);

      svg {
        width: 0.5rem;
        height: 0.5rem;
        fill: var(--secondary_icon);
      }

      margin-left: 0.5rem;

      &:hover {
        background-color: var(--secondary_bg_hover);
      }

      &:focus {
        border-radius: 1rem;
        border: 2px solid var(--interactive_border);
        outline: none;
      }
    }

    > .#{$prefix}-tag-icon {
      color: var(--secondary_icon);
    }
  }

  &:disabled,
  &[disabled] {
    opacity: var(--disabled_all);

    cursor: not-allowed;

    > .#{$prefix}-tag-close {
      pointer-events: none;
    }

    > span.#{$prefix}-icon {
      pointer-events: none;
    }

    > .#{$prefix}-tag-icon {
      pointer-events: none;
    }
  }

  &-thumbnail {
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    left: 0.625rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
