.#{$prefix}-tag {
  @include getTypoMixinProperties($typoThemeMaps, 'text-component-body-short');
  display: inline-flex;
  align-items: center;
  height: 2rem;
  margin: 0.25rem;
  border-radius: var(--rounded_corner_all_rounded_full);
  justify-content: center;
  cursor: pointer;
  position: relative;

  &-text {
    padding: 0 0.625rem;
  }

  .#{$prefix}-tag-icon {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    color: var(--primary_icon);
  }

  .#{$prefix}-tag-close {
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: transparent;

    svg {
      width: 0.5rem;
      height: 0.5rem;
      fill: var(--primary_icon);
    }
  }

  &-primary {
    color: var(--primary_text);
    background-color: var(--primary_bg);
    border: 0.0625rem solid transparent;

    &:hover:not([disabled]) {
      background-color: var(--primary_bg_hover);
    }

    &:focus {
      @include primary_focus();
    }

    .#{$prefix}-tag-icon,
    .#{$prefix}-tag-close {
      &:focus {
        // border-radius: 1rem;
        // border: 0.125rem solid var(--primary_border);
        // outline: none;
        @include primary_boxshadow_focus(var(--primary_border));
      }

      &:hover {
        background-color: var(--primary_bg);
        cursor: pointer;
      }
    }
  }

  &-secondary {
    color: var(--secondary_text);
    background-color: var(--secondary_bg);
    border: 0.0625rem solid var(--secondary_border);

    &:hover:not([disabled]) {
      background-color: var(--secondary_bg_hover);
    }

    &:focus {
      @include secondary_focus();
    }

    .#{$prefix}-tag-close,
    .#{$prefix}-tag-icon {
      &:hover {
        background-color: var(--interactive_bg_hover_high);
        cursor: pointer;
      }

      &:focus {
        @include primary_boxshadow_focus();
        // border-radius: 1rem;
        // border: 0.125rem solid var(--interactive_border);
        // outline: none;
      }
    }

    .#{$prefix}-tag-close {
      svg {
        fill: var(--secondary_icon);
      }
    }

    .#{$prefix}-tag-icon {
      color: var(--secondary_icon);
    }
  }

  &:disabled,
  &[disabled] {
    opacity: var(--disabled_all);
    cursor: not-allowed;
    box-shadow: none;

    &.#{$prefix}-tag-primary {
      border: none;
    }

    > .#{$prefix}-tag-close,
    > span.#{$prefix}-icon,
    > .#{$prefix}-tag-icon {
      pointer-events: none;
      border: none;
    }
  }

  &-thumbnail {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    left: 0.625rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
