$aqua: #5ec1ef;
$aqua-10: #e4f5fc;
$aqua-20: #c9eafa;
$aqua-30: #afe0f7;
$aqua-40: #94d6f4;
$aqua-50: #79cbf2;
$aqua-60: #4b9abf;
$aqua-70: #38748f;
$aqua-80: #264d60;
$aqua-90: #132730;

$blue: #0066b3;
$blue-10: #b9e6fa;
$blue-20: #8cd7fa;
$blue-30: #69b4e1;
$blue-40: #4696d2;
$blue-50: #0578c3;
$blue-60: #00518f;
$blue-70: #003d6b;
$blue-80: #002847;
$blue-90: #001423;

$dark: #4b4b4b;
$dark-10: #828282;
$dark-20: #717171;
$dark-30: #6d6e70;
$dark-40: #555555;
$dark-50: #383838;
$dark-60: #252525;
$dark-70: #1c1c1c;

$gold: #fab914;
$gold-10: #fdead9;
$gold-20: #fde7b0;
$gold-30: #fcdc89;
$gold-40: #fbd062;
$gold-50: #fac43b;
$gold-60: #d09a10;
$gold-70: #a67b0d;
$gold-80: #7d5c0a;
$gold-90: #533d06;

$green: #79d732;
$green-10: #f2fbec;
$green-20: #bceb99;
$green-30: #589d25;
$green-40: #467324;

$light: #c6c6c6;
$light-10: #f5f5f5;
$light-20: #efefef;
$light-30: #e6e6e6;
$light-40: #e2e2e2;
$light-50: #d2d2d2;
$light-60: #aaa;
$light-70: #8d8d8d;

$lime: #bed732;
$lime-10: #f4f8dc;
$lime-20: #e9f1ba;
$lime-30: #deeb98;
$lime-40: #d3e476;
$lime-50: #c8dd54;
$lime-60: #98ac28;
$lime-70: #72811e;
$lime-80: #4c5614;
$lime-90: #262b0a;

$orange: #f5821e;
$orange-10: #fdead9;
$orange-20: #fbd5b4;
$orange-30: #fac08e;
$orange-40: #f8ab69;
$orange-50: #f69643;
$orange-60: #cc6c19;
$orange-70: #a35614;
$orange-80: #7a410f;
$orange-90: #512b0a;

$pause: #54b2ed;
$pause-10: #e2f2fc;
$pause-20: #aad9f6;
$pause-30: #438ebe;
$pause-40: #326b8e;

$red: #e0182d;
$red-10: #fcd8d8;
$red-20: #f78a8a;
$red-30: #bf1010;
$red-40: #8f0c0c;

$ruby: #eb1946;
$ruby-10: #f8d8e0;
$ruby-20: #f8b2c1;
$ruby-30: #f58ca2;
$ruby-40: #f16583;
$ruby-50: #ee3f64;
$ruby-60: #c3143a;
$ruby-70: #9c102e;
$ruby-80: #750c23;
$ruby-90: #4e0817;

$teal: #00afbe;
$teal-10: #d4f1f4;
$teal-20: #aae4e9;
$teal-30: #7fd7de;
$teal-40: #55c9d3;
$teal-50: #2abcc8;
$teal-60: #008c98;
$teal-70: #006972;
$teal-80: #00464c;
$teal-90: #002326;

$violet: #5a2d91;
$violet-10: #e3dcec;
$violet-20: #c8b9da;
$violet-30: #ac96c8;
$violet-40: #9173b5;
$violet-50: #7550a3;
$violet-60: #482474;
$violet-70: #361b57;
$violet-80: #24123a;
$violet-90: #12091d;

$yellow: #f9db00;
$yellow-10: #fef9d4;
$yellow-20: #fced80;
$yellow-30: #c7af00;
$yellow-40: #958300;

$white: #ffffff;
$black: #000000;