$aqua: #5ec1ef;
$aqua-10: #e4f5fc;
$aqua-20: #c9eafa;
$aqua-30: #afe0f7;
$aqua-40: #94d6f4;
$aqua-50: #79cbf2;
$aqua-60: #4b9abf;
$aqua-70: #38748f;
$aqua-80: #264d60;
$aqua-90: #132730;

$blue: #0066b3;
$blue-10: #b9e6fa;
$blue-20: #8cd7fa;
$blue-30: #69b4e1;
$blue-40: #4696d2;
$blue-50: #0578c3;
$blue-60: #00518f;
$blue-70: #003d6b;
$blue-80: #002847;
$blue-90: #001423;

$dark: #4b4b4b;
$dark-10: #828282;
$dark-20: #717171;
$dark-30: #6d6e70;
$dark-40: #555555;
$dark-50: #383838;
$dark-60: #252525;
$dark-70: #1c1c1c;

$gold: #fab914;
$gold-10: #fdead9;
$gold-20: #fde7b0;
$gold-30: #fcdc89;
$gold-40: #fbd062;
$gold-50: #fac43b;
$gold-60: #d09a10;
$gold-70: #a67b0d;
$gold-80: #7d5c0a;
$gold-90: #533d06;

$green: #79d732;
$green-10: #f2fbec;
$green-20: #bceb99;
$green-30: #589d25;
$green-40: #467324;

$light: #c6c6c6;
$light-10: #f5f5f5;
$light-20: #efefef;
$light-30: #e6e6e6;
$light-40: #e2e2e2;
$light-50: #d2d2d2;
$light-60: #aaa;
$light-70: #8d8d8d;

$lime: #bed732;
$lime-10: #f4f8dc;
$lime-20: #e9f1ba;
$lime-30: #deeb98;
$lime-40: #d3e476;
$lime-50: #c8dd54;
$lime-60: #98ac28;
$lime-70: #72811e;
$lime-80: #4c5614;
$lime-90: #262b0a;

$orange: #f5821e;
$orange-10: #fdead9;
$orange-20: #fbd5b4;
$orange-30: #fac08e;
$orange-40: #f8ab69;
$orange-50: #f69643;
$orange-60: #cc6c19;
$orange-70: #a35614;
$orange-80: #7a410f;
$orange-90: #512b0a;

$pause: #54b2ed;
$pause-10: #e2f2fc;
$pause-20: #aad9f6;
$pause-30: #438ebe;
$pause-40: #326b8e;

$red: #e0182d;
$red-10: #fcd8d8;
$red-20: #f78a8a;
$red-30: #bf1010;
$red-40: #8f0c0c;

$ruby: #eb1946;
$ruby-10: #f8d8e0;
$ruby-20: #f8b2c1;
$ruby-30: #f58ca2;
$ruby-40: #f16583;
$ruby-50: #ee3f64;
$ruby-60: #c3143a;
$ruby-70: #9c102e;
$ruby-80: #750c23;
$ruby-90: #4e0817;

$teal: #00afbe;
$teal-10: #d4f1f4;
$teal-20: #aae4e9;
$teal-30: #7fd7de;
$teal-40: #55c9d3;
$teal-50: #2abcc8;
$teal-60: #008c98;
$teal-70: #006972;
$teal-80: #00464c;
$teal-90: #002326;

$violet: #5a2d91;
$violet-10: #e3dcec;
$violet-20: #c8b9da;
$violet-30: #ac96c8;
$violet-40: #9173b5;
$violet-50: #7550a3;
$violet-60: #482474;
$violet-70: #361b57;
$violet-80: #24123a;
$violet-90: #12091d;

$yellow: #f9db00;
$yellow-10: #fef9d4;
$yellow-20: #fced80;
$yellow-30: #c7af00;
$yellow-40: #958300;

$white: #ffffff;
$black: #000000;


// New Color Palette

$white : White;
$black: Black;

$red-10: #FFF2F2;
$red-20: #FFCECE;
$red-30: #FFADAD;
$red-40: #FF7A7A;
$red-50: #F95454;
$red-60: #F52929;
$red-70: #EB0909;
$red-80: #C10C0D;
$red-90: #A00C0C;
$red-100: #730C0C;

$orange-10: #FFF6E2;
$orange-20: #FFE1A6;
$orange-30: #FFC766;
$orange-40: #FFAF38;
$orange-50: #FF8A00;
$orange-60: #E26900;
$orange-70: #C95000;
$orange-80: #AE3D04;
$orange-90: #882E07;
$orange-100: #691E08;

$yellow-10: #FFFCD5;
$yellow-20: #FFEF86;
$yellow-30: #FFDF41;
$yellow-40: #FFC919;
$yellow-50: #EEA600;
$yellow-60: #CE8200;
$yellow-70: #AE6402;
$yellow-80: #8E4A06;
$yellow-90: #6E3606;
$yellow-100: #4C2609;

$lime-10: #F9FDDE;
$lime-20: #F1F49B;
$lime-30: #E0E86A;
$lime-40: #C7D540;
$lime-50: #A4BB0B;
$lime-60: #8BA702;
$lime-70: #667F00;
$lime-80: #506901;
$lime-90: #3A4D04;
$lime-100: #2E4005;

$green-10: #E4FDED;
$green-20: #92F7BA;
$green-30: #41E287;
$green-40: #15D36E;
$green-50: #05BE62;
$green-60: #029C54;
$green-70: #007744;
$green-80: #04633D;
$green-90: #054D33;
$green-100: #07432F;

$teal-10: #D3FBF4;
$teal-20: #7FEFE0;
$teal-30: #47DECF;
$teal-40: #19C7C1;
$teal-50: #0CB0B0;
$teal-60: #008E94;
$teal-70: #037780;
$teal-80: #035F69;
$teal-90: #034752;
$teal-100: #033B46;

$blue-10: #D9F9FF;
$blue-20: #AFEBF9;
$blue-30: #71D9F3;
$blue-40: #2ABDEA;
$blue-50: #14A1DE;
$blue-60: #0786Cf;
$blue-70: #0066B0;
$blue-80: #01539B;
$blue-90: #06396D;
$blue-100: #092B51;

$indigo-10: #EDF5FF;
$indigo-20: #C8DFFF;
$indigo-30: #A9C7FC;
$indigo-40: #789DF4;
$indigo-50: #5C6FCB;
$indigo-60: #4C5AB7;
$indigo-70: #4D4DB9;
$indigo-80: #44339F;
$indigo-90: #362284;
$indigo-100: #2A1A6A;

$purple-10: #F9EEFF;
$purple-20: #F0D3FF;
$purple-30: #E4B6FF;
$purple-40: #D694F9;
$purple-50: #B476DD;
$purple-60: #9153BB;
$purple-70: #7E40AC;
$purple-80: #6A2E99;
$purple-90: #561A87;
$purple-100: #460A7A;

$pink-10: #FFECFC;
$pink-20: #FFCBF6;
$pink-30: #FFADEF;
$pink-40: #FF7DE5;
$pink-50: #E753BF;
$pink-60: #C8329F;
$pink-70: #AA157D;
$pink-80: #8F0465;
$pink-90: #71054D;
$pink-100: #510736;

$coolGrey-10: #F2F4F5;
$coolGrey-15: #DAE1E6;
$coolGrey-20: #D3D9DE;
$coolGrey-30: #B3BEC7;
$coolGrey-40: #93A2AD;
$coolGrey-50: #7E909E;
$coolGrey-60: #587387;
$coolGrey-70: #3D5466;
$coolGrey-80: #354958;
$coolGrey-90: #273641;
$coolGrey-100: #1C262E;
$coolGrey-110: #12191F;

$grey-10: #F2F2F2;
$grey-15: #E6E6E6;
$grey-20: #DEDEDE;
$grey-30: #C6C6C6;
$grey-40: #ADADAD;
$grey-50: #8F8F8F;
$grey-60: #737373;
$grey-70: #5C5C5C;
$grey-80: #474747;
$grey-90: #363636;
$grey-100: #262626;
$grey-110: #121212;