$white : White;
$black: Black;

$red-10: #FFF2F2;
$red-20: #FFCECE;
$red-30: #FFADAD;
$red-40: #FF7A7A;
$red-50: #F95454;
$red-60: #F52929;
$red-70: #EB0909;
$red-80: #C10C0D;
$red-90: #A00C0C;
$red-100: #730C0C;

$orange-10: #FFF6E2;
$orange-20: #FFE1A6;
$orange-30: #FFC766;
$orange-40: #FFAF38;
$orange-50: #FF8A00;
$orange-60: #E26900;
$orange-70: #C95000;
$orange-80: #AE3D04;
$orange-90: #882E07;
$orange-100: #691E08;

$yellow-10: #FFFCD5;
$yellow-20: #FFEF86;
$yellow-30: #FFDF41;
$yellow-40: #FFC919;
$yellow-50: #EEA600;
$yellow-60: #CE8200;
$yellow-70: #AE6402;
$yellow-80: #8E4A06;
$yellow-90: #6E3606;
$yellow-100: #4C2609;

$lime-10: #F9FDDE;
$lime-20: #F1F49B;
$lime-30: #E0E86A;
$lime-40: #C7D540;
$lime-50: #A4BB0B;
$lime-60: #8BA702;
$lime-70: #667F00;
$lime-80: #506901;
$lime-90: #3A4D04;
$lime-100: #2E4005;

$green-10: #E4FDED;
$green-20: #92F7BA;
$green-30: #41E287;
$green-40: #15D36E;
$green-50: #05BE62;
$green-60: #029C54;
$green-70: #007744;
$green-80: #04633D;
$green-90: #054D33;
$green-100: #07432F;

$teal-10: #D3FBF4;
$teal-20: #7FEFE0;
$teal-30: #47DECF;
$teal-40: #19C7C1;
$teal-50: #0CB0B0;
$teal-60: #008E94;
$teal-70: #037780;
$teal-80: #035F69;
$teal-90: #034752;
$teal-100: #033B46;

$blue-10: #D9F9FF;
$blue-20: #AFEBF9;
$blue-30: #71D9F3;
$blue-40: #2ABDEA;
$blue-50: #14A1DE;
$blue-60: #0786Cf;
$blue-70: #0066B0;
$blue-80: #01539B;
$blue-90: #06396D;
$blue-100: #092B51;

$indigo-10: #EDF5FF;
$indigo-20: #C8DFFF;
$indigo-30: #A9C7FC;
$indigo-40: #789DF4;
$indigo-50: #5C6FCB;
$indigo-60: #4C5AB7;
$indigo-70: #4D4DB9;
$indigo-80: #44339F;
$indigo-90: #362284;
$indigo-100: #2A1A6A;

$purple-10: #F9EEFF;
$purple-20: #F0D3FF;
$purple-30: #E4B6FF;
$purple-40: #D694F9;
$purple-50: #B476DD;
$purple-60: #9153BB;
$purple-70: #7E40AC;
$purple-80: #6A2E99;
$purple-90: #561A87;
$purple-100: #460A7A;

$pink-10: #FFECFC;
$pink-20: #FFCBF6;
$pink-30: #FFADEF;
$pink-40: #FF7DE5;
$pink-50: #E753BF;
$pink-60: #C8329F;
$pink-70: #AA157D;
$pink-80: #8F0465;
$pink-90: #71054D;
$pink-100: #510736;

$coolGrey-10: #F2F4F5;
$coolGrey-15: #DAE1E6;
$coolGrey-20: #D3D9DE;
$coolGrey-30: #B3BEC7;
$coolGrey-40: #93A2AD;
$coolGrey-50: #7E909E;
$coolGrey-60: #587387;
$coolGrey-70: #3D5466;
$coolGrey-80: #354958;
$coolGrey-90: #273641;
$coolGrey-100: #1C262E;
$coolGrey-110: #12191F;

$grey-10: #F2F2F2;
$grey-15: #E6E6E6;
$grey-20: #DEDEDE;
$grey-30: #C6C6C6;
$grey-40: #ADADAD;
$grey-50: #8F8F8F;
$grey-60: #737373;
$grey-70: #5C5C5C;
$grey-80: #474747;
$grey-90: #363636;
$grey-100: #262626;
$grey-110: #121212;
