/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

/*
 * This file contains all globally applicable @mixins
 */

// MEDIA QUERIES
@mixin respond-to($breakpoint) {
    @if $breakpoint==x-small {
        @media (max-width: #{$mobile-width}) {
            @content;
        }
    }

    @if $breakpoint==small {
        @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
            @content;
        }
    }

    @if $breakpoint==medium {
        @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
            @content;
        }
    }

    @if $breakpoint==large {
        @media (min-width: #{$desktop-width}) {
            @content;
        }
    }
}

// GRID SYSTEMS
@mixin generate-row {
    display: flex;
    flex-wrap: wrap;
}

@mixin generate-col($i, $cols: $columns) {
    @if $i==6 {
        flex-basis: 50%;
    }

    @else {
        flex-basis: 100%;
    }

    @include respond-to(tablet) {
        flex-basis: percentage($i / $cols);
    }

    @include respond-to(desktop) {
        flex-basis: percentage($i / $cols);
    }
}