.blue_active_orange_dark {
  --primary_bg: var(--blue-70);
  --primary_bg_hover: var(--blue-60);
  --primary_border: var(--white);
  --primary_border_hover: var(--blue-60);
  --primary_icon: var(--white);
  --primary_icon_hover: var(--blue-10);
  --primary_text: var(--white);
  --secondary_bg: transparent;
  --secondary_bg_hover: var(--blue-100);
  --secondary_border: var(--blue-60);
  --secondary_icon: var(--blue-60);
  --secondary_icon_hover: var(--blue-50);
  --secondary_text: var(--blue-40);
  --interactive_bg: transparent;
  --interactive_bg_hover: var(--blue-100);
  --interactive_bg_high: var(--blue-90);
  --interactive_border: var(--blue-60);
  --interactive_icon: var(--blue-60);
  --interactive_icon_hover: var(--blue-50);
  --interactive_text: var(--blue-40);
  --interactive_text_hover: var(--blue-30);
  --interactive_text_visited: var(--purple-40);
  --default_bg: var(--grey-100);
  --default_bg_low: var(--grey-90);
  --default_bg_high: var(--grey-110);
  --default_border: var(--grey-30);
  --default_border_xlow: var(--grey-70);
  --default_border_low: var(--grey-50);
  --default_border_high: var(--grey-10);
  --default_border_xhigh: var(--white);
  --default_icon: var(--grey-30);
  --default_icon_low: var(--grey-50);
  --default_icon_high: var(--grey-10);
  --default_icon_xhigh: var(--white);
  --default_text: var(--grey-20);
  --default_text_low: var(--grey-40);
  --default_text_high: var(--grey-10);
  --default_text_xhigh: var(--white);
  --default_text_inverse: var(--black);
  --active_bg: var(--orange-100);
  --active_bg_high: var(--orange-90);
  --active_border: var(--orange-70);
  --active_icon: var(--orange-60);
  --active_text: var(--orange-50);
  --info_bg: var(--blue-100);
  --info_border: var(--blue-60);
  --info_icon: var(--blue-60);
  --info_text: var(--blue-20);
  --warning_bg: var(--yellow-90);
  --warning_border: var(--yellow-50);
  --warning_icon: var(--yellow-50);
  --warning_text: var(--yellow-20);
  --danger_bg: var(--red-100);
  --danger_bg_hover: var(--red-90);
  --danger_bg_inverse: var(--red-60);
  --danger_bg_inverse_hover: var(--red-50);
  --danger_border: var(--red-60);
  --danger_icon: var(--red-60);
  --danger_text: var(--red-30);
  --success_bg: var(--green-100);
  --success_border: var(--green-60);
  --success_icon: var(--green-60);
  --success_text: var(--green-20);
  --input_bg: var(--grey-110);
  --input_border: var(--grey-20);
  --input_icon: var(--grey-20);
  --input_text_low: var(--grey-60);
  --input_text: var(--white);
  --overlay_bg: var(--white) 40%;
  --disabled_all: 0.5;
  --default_shadow: var(--black);

  background-color: var(--default_bg);
  color: var(--default_text);
}

.blue_active_orange_light,
:root {
  --primary_bg: var(--blue-70);
  --primary_bg_hover: var(--blue-80);
  --primary_border: var(--white);
  --primary_border_hover: var(--blue-80);
  --primary_icon: var(--white);
  --primary_icon_hover: var(--blue-10);
  --primary_text: var(--white);
  --secondary_bg: transparent;
  --secondary_bg_hover: var(--indigo-10);
  --secondary_border: var(--blue-70);
  --secondary_icon: var(--blue-70);
  --secondary_icon_hover: var(--blue-80);
  --secondary_text: var(--blue-70);
  --interactive_bg: transparent;
  --interactive_bg_hover: var(--indigo-10);
  --interactive_bg_high: var(--indigo-20);
  --interactive_border: var(--blue-70);
  --interactive_icon: var(--blue-70);
  --interactive_icon_hover: var(--blue-80);
  --interactive_text: var(--blue-70);
  --interactive_text_hover: var(--blue-80);
  --interactive_text_visited: var(--purple-60);
  --default_bg: var(--white);
  --default_bg_low: var(--grey-10);
  --default_bg_high: var(--grey-15);
  --default_border: var(--grey-80);
  --default_border_xlow: var(--grey-30);
  --default_border_low: var(--grey-60);
  --default_border_high: var(--grey-100);
  --default_border_xhigh: var(--black);
  --default_icon: var(--grey-80);
  --default_icon_low: var(--grey-60);
  --default_icon_high: var(--grey-100);
  --default_icon_xhigh: var(--black);
  --default_text: var(--grey-90);
  --default_text_low: var(--grey-70);
  --default_text_high: var(--grey-100);
  --default_text_xhigh: var(--black);
  --default_text_inverse: var(--white);
  --active_bg: var(--orange-10);
  --active_bg_high: var(--orange-20);
  --active_border: var(--orange-60);
  --active_icon: var(--orange-70);
  --active_text: var(--orange-80);
  --info_bg: var(--blue-10);
  --info_border: var(--blue-60);
  --info_icon: var(--blue-60);
  --info_text: var(--blue-90);
  --warning_bg: var(--yellow-10);
  --warning_border: var(--yellow-50);
  --warning_icon: var(--yellow-50);
  --warning_text: var(--yellow-80);
  --danger_bg: var(--red-10);
  --danger_bg_hover: var(--red-20);
  --danger_bg_inverse: var(--red-80);
  --danger_bg_inverse_hover: var(--red-90);
  --danger_border: var(--red-80);
  --danger_icon: var(--red-80);
  --danger_text: var(--red-90);
  --success_bg: var(--green-10);
  --success_border: var(--green-70);
  --success_icon: var(--green-70);
  --success_text: var(--green-80);
  --input_bg: var(--grey-15);
  --input_border: var(--grey-90);
  --input_icon: var(--grey-90);
  --input_text_low: var(--grey-40);
  --input_text: var(--black);
  --overlay_bg: var(--black) 40%;
  --disabled_all: 0.5;
  --default_shadow: rgba(0, 0, 0, 0.2);

  background-color: var(--default_bg);
  color: var(--default_text);
}

.blue_active_blue_light {
  --primary_bg: var(--blue-70);
  --primary_bg_hover: var(--blue-80);
  --primary_border: var(--white);
  --primary_border_hover: var(--blue-80);
  --primary_icon: var(--white);
  --primary_icon_hover: var(--blue-10);
  --primary_text: var(--white);
  --secondary_bg: transparent;
  --secondary_bg_hover: var(--indigo-10);
  --secondary_border: var(--blue-70);
  --secondary_icon: var(--blue-70);
  --secondary_icon_hover: var(--blue-80);
  --secondary_text: var(--blue-70);
  --interactive_bg: transparent;
  --interactive_bg_hover: var(--indigo-10);
  --interactive_bg_high: var(--indigo-20);
  --interactive_border: var(--blue-70);
  --interactive_icon: var(--blue-70);
  --interactive_icon_hover: var(--blue-80);
  --interactive_text: var(--blue-70);
  --interactive_text_hover: var(--blue-80);
  --interactive_text_visited: var(--purple-60);
  --default_bg: var(--white);
  --default_bg_low: var(--grey-10);
  --default_bg_high: var(--grey-15);
  --default_border: var(--grey-80);
  --default_border_xlow: var(--grey-30);
  --default_border_low: var(--grey-60);
  --default_border_high: var(--grey-100);
  --default_border_xhigh: var(--black);
  --default_icon: var(--grey-80);
  --default_icon_low: var(--grey-60);
  --default_icon_high: var(--grey-100);
  --default_icon_xhigh: var(--black);
  --default_text: var(--grey-90);
  --default_text_low: var(--grey-70);
  --default_text_high: var(--grey-100);
  --default_text_xhigh: var(--black);
  --default_text_inverse: var(--white);
  --active_bg: var(--blue-10);
  --active_bg_high: var(--blue-20);
  --active_border: var(--blue-70);
  --active_icon: var(--blue-70);
  --active_text: var(--blue-70);
  --info_bg: var(--blue-10);
  --info_border: var(--blue-60);
  --info_icon: var(--blue-60);
  --info_text: var(--blue-90);
  --warning_bg: var(--yellow-10);
  --warning_border: var(--yellow-50);
  --warning_icon: var(--yellow-50);
  --warning_text: var(--yellow-80);
  --danger_bg: var(--red-10);
  --danger_bg_hover: var(--red-20);
  --danger_bg_inverse: var(--red-80);
  --danger_bg_inverse_hover: var(--red-90);
  --danger_border: var(--red-80);
  --danger_icon: var(--red-80);
  --danger_text: var(--red-90);
  --success_bg: var(--green-10);
  --success_border: var(--green-70);
  --success_icon: var(--green-70);
  --success_text: var(--green-80);
  --input_bg: var(--grey-15);
  --input_border: var(--grey-90);
  --input_icon: var(--grey-90);
  --input_text_low: var(--grey-40);
  --input_text: var(--black);
  --overlay_bg: var(--black) 40%;
  --disabled_all: 0.5;
  --default_shadow: rgba(0, 0, 0, 0.2);

  background-color: var(--default_bg);
  color: var(--default_text);
}

.blue_active_blue_dark {
  --primary_bg: var(--blue-70);
  --primary_bg_hover: var(--blue-60);
  --primary_border: var(--white);
  --primary_border_hover: var(--blue-60);
  --primary_icon: var(--white);
  --primary_icon_hover: var(--blue-10);
  --primary_text: var(--white);
  --secondary_bg: transparent;
  --secondary_bg_hover: var(--blue-100);
  --secondary_border: var(--blue-60);
  --secondary_icon: var(--blue-60);
  --secondary_icon_hover: var(--blue-50);
  --secondary_text: var(--blue-40);
  --interactive_bg: transparent;
  --interactive_bg_hover: var(--blue-100);
  --interactive_bg_high: var(--blue-90);
  --interactive_border: var(--blue-60);
  --interactive_icon: var(--blue-60);
  --interactive_icon_hover: var(--blue-50);
  --interactive_text: var(--blue-40);
  --interactive_text_hover: var(--blue-30);
  --interactive_text_visited: var(--purple-40);
  --default_bg: var(--grey-100);
  --default_bg_low: var(--grey-90);
  --default_bg_high: var(--grey-110);
  --default_border: var(--grey-30);
  --default_border_xlow: var(--grey-70);
  --default_border_low: var(--grey-50);
  --default_border_high: var(--grey-10);
  --default_border_xhigh: var(--white);
  --default_icon: var(--grey-30);
  --default_icon_low: var(--grey-50);
  --default_icon_high: var(--grey-10);
  --default_icon_xhigh: var(--white);
  --default_text: var(--grey-20);
  --default_text_low: var(--grey-40);
  --default_text_high: var(--grey-10);
  --default_text_xhigh: var(--white);
  --default_text_inverse: var(--black);
  --active_bg: var(--blue-100);
  --active_bg_high: var(--blue-90);
  --active_border: var(--blue-60);
  --active_icon: var(--blue-60);
  --active_text: var(--blue-60);
  --info_bg: var(--blue-100);
  --info_border: var(--blue-60);
  --info_icon: var(--blue-60);
  --info_text: var(--blue-20);
  --warning_bg: var(--yellow-90);
  --warning_border: var(--yellow-50);
  --warning_icon: var(--yellow-50);
  --warning_text: var(--yellow-20);
  --danger_bg: var(--red-100);
  --danger_bg_hover: var(--red-90);
  --danger_bg_inverse: var(--red-60);
  --danger_bg_inverse_hover: var(--red-50);
  --danger_border: var(--red-60);
  --danger_icon: var(--red-60);
  --danger_text: var(--red-30);
  --success_bg: var(--green-100);
  --success_border: var(--green-60);
  --success_icon: var(--green-60);
  --success_text: var(--green-20);
  --input_bg: var(--grey-110);
  --input_border: var(--grey-20);
  --input_icon: var(--grey-20);
  --input_text_low: var(--grey-60);
  --input_text: var(--white);
  --overlay_bg: var(--white) 40%;
  --disabled_all: 0.5;
  --default_shadow: var(--black);

  background-color: var(--default_bg);
  color: var(--default_text);
}
