$themes: (
  dark: (
    primary_bg: $blue-70,
    primary_bg_hover: $blue-60,
    primary_border: $white,
    primary_border_hover: $blue-60,
    primary_icon: $white,
    primary_icon_hover: $blue-10,
    primary_text: $white,
    secondary_bg: transparent,
    secondary_bg_hover: $blue-100,
    secondary_border: $blue-60,
    secondary_icon: $blue-60,
    secondary_icon_hover: $blue-50,
    secondary_text: $blue-40,
    interactive_bg: transparent,
    interactive_bg_hover: $blue-100,
    interactive_border: $blue-60,
    interactive_icon: $blue-60,
    interactive_icon_hover: $blue-50,
    interactive_text: $blue-40,
    interactive_text_hover: $blue-30,
    interactive_text_visited: $purple-40,
    default_bg: $grey-100,
    default_bg_low: $grey-90,
    default_bg_high: $grey-110,
    default_border: $grey-30,
    default_border_xlow: $grey-70,
    default_border_low: $grey-50,
    default_border_high: $grey-10,
    default_border_xhigh: $white,
    default_icon: $grey-30,
    default_icon_low: $grey-50,
    default_icon_high: $grey-10,
    default_icon_xhigh: $white,
    default_text: $grey-20,
    default_text_low: $grey-40,
    default_text_high: $grey-10,
    default_text_xhigh: $white,
    default_text_inverse: $black,
    active_bg: $orange-100,
    active_bg_high: $orange-90,
    active_border: $orange-70,
    active_icon: $orange-60,
    active_text: $orange-50,
    info_bg: $blue-100,
    info_border: $blue-60,
    info_icon: $blue-60,
    info_text: $blue-20,
    warning_bg: $yellow-90,
    warning_border: $yellow-50,
    warning_icon: $yellow-50,
    warning_text: $yellow-20,
    danger_bg: $red-100,
    danger_bg_hover: $red-90,
    danger_bg_inverse: $red-60,
    danger_bg_inverse_hover: $red-50,
    danger_border: $red-60,
    danger_icon: $red-60,
    danger_text: $red-30,
    success_bg: $green-100,
    success_border: $green-60,
    success_icon: $green-60,
    success_text: $green-20,
    input_bg: $grey-110,
    input_border: $grey-20,
    input_icon: $grey-20,
    input_text_low: $grey-60,
    input_text: $white,
    overlay_bg: $white 40%,
    disabled_all: 0.5,
    default_shadow: $black
  ),
  light: (
    primary_bg: $blue-70,
    primary_bg_hover: $blue-80,
    primary_border: $white,
    primary_border_hover: $blue-80,
    primary_icon: $white,
    primary_icon_hover: $blue-10,
    primary_text: $white,
    secondary_bg: transparent,
    secondary_bg_hover: $blue-10,
    secondary_border: $blue-70,
    secondary_icon: $blue-70,
    secondary_icon_hover: $blue-80,
    secondary_text: $blue-70,
    interactive_bg: transparent,
    interactive_bg_hover: $blue-10,
    interactive_border: $blue-70,
    interactive_icon: $blue-70,
    interactive_icon_hover: $blue-80,
    interactive_text: $blue-70,
    interactive_text_hover: $blue-80,
    interactive_text_visited: $purple-60,
    default_bg: $white,
    default_bg_low: $grey-10,
    default_bg_high: $grey-15,
    default_border: $grey-80,
    default_border_xlow: $grey-30,
    default_border_low: $grey-60,
    default_border_high: $grey-100,
    default_border_xhigh: $black,
    default_icon: $grey-80,
    default_icon_low: $grey-60,
    default_icon_high: $grey-100,
    default_icon_xhigh: $black,
    default_text: $grey-90,
    default_text_low: $grey-70,
    default_text_high: $grey-100,
    default_text_xhigh: $black,
    default_text_inverse: $white,
    active_bg: $orange-10,
    active_bg_high: $orange-20,
    active_border: $orange-60,
    active_icon: $orange-70,
    active_text: $orange-80,
    info_bg: $blue-10,
    info_border: $blue-60,
    info_icon: $blue-60,
    info_text: $blue-90,
    warning_bg: $yellow-10,
    warning_border: $yellow-50,
    warning_icon: $yellow-50,
    warning_text: $yellow-80,
    danger_bg: $red-10,
    danger_bg_hover: $red-20,
    danger_bg_inverse: $red-80,
    danger_bg_inverse_hover: $red-90,
    danger_border: $red-80,
    danger_icon: $red-80,
    danger_text: $red-90,
    success_bg: $green-10,
    success_border: $green-70,
    success_icon: $green-70,
    success_text: $green-80,
    input_bg: $grey-15,
    input_border: $grey-90,
    input_icon: $grey-90,
    input_text_low: $grey-40,
    input_text: $black,
    overlay_bg: $black 40%,
    disabled_all: 0.5,
    default_shadow: $black
  )
);
