/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.margin {
    margin: $base-margin;
}

// Margin and Padding
@for $i from 0 to 10 {
    .mt-#{$i} {
        margin-top: $i * 4px !important;
    }

    .mb-#{$i} {
        margin-bottom: $i * 4px !important;
    }

    .ml-#{$i} {
        margin-left: $i * 4px !important;
    }

    .mr-#{$i} {
        margin-right: $i * 4px !important;
    }

    .m-#{$i} {
        margin: $i * 4px !important;
    }

    .pt-#{$i} {
        padding-top: $i * 4px !important;
    }

    .pb-#{$i} {
        padding-bottom: $i * 4px !important;
    }

    .pl-#{$i} {
        padding-left: $i * 4px !important;
    }

    .pr-#{$i} {
        padding-right: $i * 4px !important;
    }

    .p-#{$i} {
        padding: $i * 4px !important;
    }
}

// close icon class
.#{$prefix}-close {
    @include hcl-close-icon(24);
}

// Border
.b-0 {
    border: 0;
}

.b-1 {
    border: 1px solid $card-border-color;
}