/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// GLOBAL VARIABLES
:root {
    --ff-roboto: "Roboto", sans-serif;
    --base-font-size: 1rem;
    --base-font-size-px: 16px;
    --body-font-size: 0.875rem;
    --small-font-size: 0.75rem;
    --base-line-height: 1.15;
    --base-margin: 0.5rem;
    --base-padding: 0.2rem;
    --black: #000;
    --grey: #707070;
    --white: #fff;
    --blue: #0066b3;
    --dark-blue: #132730;
    --dark-secondary: #4696D2;
    --primary-background-focus: #00578F;
    --primary-background-disabled: #B9E6FA;
    --orange: #EB1946;
    --orange-secondary: #C3143A;
    --orange-background-focus: #C3143A;
    --orange-background-disabled: #F8B2C1;
    --black-secondary: #555;
    --error: #E0182D;
    --success: #589D25;
    --info: #4696D2;
    --warning: #FAC43B;
    --blue-light: #3d70b2;
}

// SASS VARIABLES
$prefix: "hcl";
$base-font-size: var(--base-font-size) !default;
$base-font-size-px: 16px; // CSS variable value should not be used here else mathematical calculations like unit conversion will fail
$small-font-size: var(--small-font-size);
$base-margin: var(--base-margin);
$base-padding: var(--base-padding);
// COLOR GUIDE
$black: #000;
$white: #fff;
$blue: #0066b3;
$orange: var(--orange);
$grey: var(--grey);
$primary: $blue !default;
$secondary: $black !default;
$tertiary: $orange !default;
$link-hover-color: var(--dark-secondary);
// THEMES
$theme-colors: () !default;
$theme-colors: map-merge(("primary": $primary, "secondary": $secondary, "tertiary": $tertiary), $theme-colors);
// Forms
$label-margin-bottom: .5rem;
$input-padding-y: 0;
$input-padding-x: 1rem;
$input-height: 2.5rem !default;
$input-min-width: calc(300rem / 16);
$input-label-weight: 600;
$background-disabled: rgba(70, 150, 210, 0.05);
// Checkbox
$checkbox-border-width: 2px;
$checkbox-border-color: #5a6872;
$checkbox-background-color: $white;
$checkbox-border-color-checked: var(--blue-light);
$checkbox-background-color-checked: var(--blue-light);
$checkbox-focus-color: #7cc7ff;
// Errors
$error:var(--error);
$success:var(--success);
$info: var(--info);
$danger: var(--error);
$warning: var(--warning);
// GRIDS GUTTER
$total-gutter-width: 1.875rem !default;
$gutter: 0.9375rem;
$grid-columns: 12;
$minHeight: 0.0625rem;
// BREAKPOINTS
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1600px) !default;
// TODO: Subject to be changed once the breakpoints are finalized
$tablet-mobile: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;