/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// GLOBAL VARIABLES
:root {
    --ff-roboto: "Roboto", sans-serif;
    --base-font-size: 1rem;
    --base-font-size-px: 16;
    --body-font-size: 0.875rem;
    --small-font-size: 0.75rem;
    --base-line-height: 1.15;
    --base-margin: 0.5rem;
    --base-padding: 0.2rem;
    --black: #000;
    --grey: #707070;
    --white: #fff;
    --blue: #0066b3;
    --dark-secondary: #003d6b;
    --orange: #d01b2e;
    --orange-secondary: #a31221;
    --black-secondary: #555;
    --error: #E0182D;
    --success: #589D25;
}

// SASS VARIABLES
$prefix: "hcl";
$base-font-size: var(--base-font-size) !default;
$base-font-size-px: var(--base-font-size-px);
$small-font-size: var(--small-font-size);
$base-margin: var(--base-margin);
$base-padding: var(--base-padding);
// COLOR GUIDE
$black: var(--black);
$white: var(--white);
$blue: var(--blue);
$orange: var(--orange);
$grey: var(--grey);
$primary: $blue !default;
$secondary: $black !default;
$tertiary: $orange !default;
$link-hover-color: var(--dark-secondary);
// THEMES
$theme-colors: () !default;
$theme-colors: map-merge(( "primary": $primary, "secondary": $secondary, "tertiary": $tertiary), $theme-colors); 
// Forms
$label-margin-bottom: .5rem;
$input-padding-y: 0;
$input-padding-x: 1rem;
$input-height: 2.5rem !default;
$input-min-width: calc( 300rem / 16);
$input-label-weight: 600; 
// Checkbox
$checkbox-border-width: 2px;
$checkbox-border-color: #5a6872;
$checkbox-background-color: $white;
$checkbox-border-color-checked: #3d70b2;
$checkbox-background-color-checked: #3d70b2;
$checkbox-focus-color: #7cc7ff; 
// Errors
$error:var(--error);
$success:var(--success);