<section class="hcl-container pt-5 mb-5">
    <ul id="breadcrumb-withoverflow" class="hcl-breadcrumb" aria-label="breadcrumb">
        <li class="hcl-breadcrumb-item">
            <a href="#" class="hcl-link">Breadcrumb 5</a>
        </li>
        <section class="hcl-overflow">
            <div class="hcl-overflow-container">
                <div class="hcl-ellipsis horizontal-ellipsis" tabindex="0"></div>
                <div class="hcl-overflow-menu hcl-overflow-right hcl-hidden">
                    <ul class="hcl-overflow-list">
                        <li class="hcl-overflow-option">
                            <a class="hcl-link" href="#">Breadcrumb 4</a>
                        </li>
                        <li class="hcl-overflow-option">
                            <a class="hcl-link" href='#'>Breadcrumb 3</a>
                        </li>
                    </ul>
                    <div class="hcl-overflow-caret-right"></div>
                </div>
            </div>
        </section>
        <li class="hcl-breadcrumb-item">
            <a href="#" class="hcl-link">Breadcrumb 2</a>
        </li>
        <li class="hcl-breadcrumb-item">
            <a href="#" class="hcl-link">Breadcrumb 1</a>
        </li>
    </ul>
</section>