<section class="hcl-container p-5">
  <ul
    id="breadcrumb-withoverflow"
    class="hcl-breadcrumb"
    aria-label="breadcrumb"
  >
    <li class="hcl-breadcrumb-item">
      <a href="#breadcrumb7" class="hcl-link">Breadcrumb 7</a>
    </li>
    <li class="hcl-breadcrumb-item">
      <div id="breadcrumb-overflow-menu" class="hcl-overlay-wrapper">
        <button
          class="hcl-overflow-btn hcl-ellipsis horizontal-ellipsis"
          aria-label="Left Overflow Menu"
          role="Overflow Menu"
        ></button>
        <div class="hcl-overlay-container">
          <ul aria-labelledby="Right Overflow Menu" class="hcl-overflow-menu">
            <li class="hcl-overflow-option">
              <button
                class="hcl-overflow-option-item"
                aria-label="Breadcrumb 6"
              >
                Breadcrumb 6
              </button>
            </li>
            <li class="hcl-overflow-option">
              <button
                class="hcl-overflow-option-item"
                aria-label="Breadcrumb 5"
              >
                Breadcrumb 5
              </button>
            </li>
            <li class="hcl-overflow-option">
              <button
                class="hcl-overflow-option-item"
                aria-label="Breadcrumb 4"
              >
                Breadcrumb 4
              </button>
            </li>
            <li class="hcl-overflow-option">
              <button
                class="hcl-overflow-option-item"
                aria-label="Breadcrumb 3"
              >
                Breadcrumb 3
              </button>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="hcl-breadcrumb-item">
      <a href="#" class="hcl-link">Breadcrumb 2</a>
    </li>
    <li class="hcl-breadcrumb-item">
      <a href="#" class="hcl-link">Breadcrumb 1</a>
    </li>
  </ul>
</section>
