/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

$colorMap: (
  'info': info,
  'danger': danger,
  'success': success,
  'warning': warning
);

@mixin getToastThemes() {
  @each $key, $value in $colorMap {
    &-#{$key} {
      border-left: 0.3125rem solid var(#{'--' + $value + '_border'});

      .#{$prefix}-toast-icon-container {
        .#{$prefix}-notification-icon {
          fill: var(#{'--' + $value + '_icon'});
        }
      }
    }
  }
}

.#{$prefix}-toast {
  width: 16.875rem;
  display: flex;
  height: auto;
  padding: 0.75rem 1rem;
  margin: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--rounded_corner_all_rounded_medium);

  background-color: var(--default_bg);
  color: var(--default_text);

  @include getToastThemes();
  z-index: 999;

  &-details {
    margin: 0 1rem;
  }

  &-hide {
    display: none;
  }

  &-title {
    @include getTypoMixinProperties(
      $typoThemeMaps,
      'text-component-heading-small'
    );
    color: var(--default_text_high);
    word-break: break-word;
  }

  &-subtitle,
  &-caption {
    @include getTypoMixinProperties(
      $typoThemeMaps,
      'text-component-body-short'
    );
    color: var(--default_text);
    word-break: break-word;
  }

  &-caption {
    margin-top: 0.75rem;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: outline 0.11s, background-color 0.11s;
    border-radius: var(--rounded_corner_tr_rounded_medium);
    svg {
      width: 0.75rem;
      height: 0.75rem;
      fill: var(--default_icon_high);
    }

    &:hover {
      svg {
        opacity: 0.8;
      }
    }
    &:focus {
      @include primary_boxshadow_focus();
    }
  }

  .#{$prefix}-toast-icon-container {
    display: flex;
    align-items: center;
  }
}
