/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

$toastThemes: 'error',
'info',
'success',
'warning';

@mixin getToastThemes() {
    @each $theme in $toastThemes {
        &-#{$theme} {
            border-left: 0.3125rem solid var(--#{$theme});

            .#{$prefix}-toast-icon {
                path {
                    fill: var(--#{$theme});
                    stroke: var(--#{$theme});
                }
            }
        }
    }
}

.#{$prefix}-toast {
    width: 16.875rem;
    display: flex;
    height: auto;
    padding: 0.75rem 1rem;
    margin: 2rem;
    color: #171717;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.10);
    background: var(--white);
    @include getToastThemes();
    z-index: 999;

    &-details {
        margin: 0 1rem;
    }

    &-title {
        font-size: .875rem;
        line-height: 1rem;
        color: #132730;
        letter-spacing: 0;
        @include getFontWeight('semibold');
    }

    &-subtitle,
    &-caption {
        line-height: 0.875rem;
        font-size: 0.75rem;
        color: #aaa;
        letter-spacing: 0;
        @include getFontWeight('regular');
    }

    &-caption {
        margin-top: 0.75rem;
    }

    &-close {
        outline: 0.125rem solid transparent;
        outline-offset: -0.125rem;
        border: none;
        margin-left: auto;
        padding: 0;
        min-height: 0.625rem;
        min-width: 0.625rem;
        transition: outline .11s, background-color .11s;
        @include hcl-close-icon(16);
    }
}