/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

$colorMap: ('info': $info, 'danger': $red-3, 'success': $success, 'warning': $warning);

@mixin getToastThemes() {

    @each $key,
    $value in $colorMap {
        &-#{$key} {
            border-left: .3125rem solid $value;
        }
    }
}

.#{$prefix}-toast {
    width: 16.875rem;
    display: flex;
    height: auto;
    padding: .75rem 1rem;
    margin: 2rem;
    color: #171717;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, .1);
    background: $white;
    @include getToastThemes();
    z-index: 999;

    &-details {
        margin: 0 1rem;
    }

    &-title {
        font-size: .875rem;
        line-height: 1rem;
        color: #132730;
        letter-spacing: 0;
        word-break: break-word;
        @include getFontWeight('semibold');
    }

    &-subtitle,
    &-caption {
        line-height: .875rem;
        font-size: .75rem;
        color: #aaa;
        letter-spacing: 0;
        word-break: break-word;
        @include getFontWeight('regular');
    }

    &-caption {
        margin-top: .75rem;
    }

    &-close {
        border: none;
        margin-left: auto;
        padding: 0;
        min-height: .625rem;
        min-width: .625rem;
        transition: outline .11s, background-color .11s;
        @include hcl-close-icon(14);
    }
}