/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// NAVBAR
.#{$prefix}-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue);
    color: var(--white);
    padding: .3125rem $navbar-padding-x;
    position: relative;

    >.#{$prefix}-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    // BRAND
    &-brand {
        display: inline-flex;
        padding-top: $navbar-brand-padding-y;
        padding-bottom: $navbar-brand-padding-y;
        margin-right: $navbar-padding-x+.75rem;
        line-height: inherit;
        white-space: nowrap;
        font-size: $navbar-brand-font-size;

        @include hover-focus {
            text-decoration: none;
        }
    }

    // NAV/TAB
    &-nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        .#{$prefix}-nav-item {
            display: flex;
            padding: $navbar-padding-y 0;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            .#{$prefix}-nav-link {
                text-decoration: none;
                color: currentColor;
                font-size: 1rem;
                padding-right: 0;
                padding-left: 0;
            }

            &:hover {
                @include nav-active;
            }
        }

        &.toolbar {
            .#{$prefix}-nav-item {
                display: flex;
                padding: $navbar-padding-y 0;

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                [class^="hcl-icon"] {
                    cursor: pointer;
                }

                &:hover {
                    background-image: none;
                }
            }
        }
    }

    // RESPONSIVE NAVBAR (// TODO: JS required)
    &-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    // HAMBURGER
    &-hamburger {
        font-size: $navbar-hamburger-font-size;
        margin-right: $navbar-padding-x+.75rem;
        line-height: 1;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        @include hover-focus {
            text-decoration: none;
        }

        [class^="hcl-icon"] {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            content: "";
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            background: no-repeat center center;
            background-size: 100% 100%;
            font-size: initial;
            cursor: pointer;

            &>* {
                width: 100%;
                border: 1px solid $white;
            }
        }

        &:focus {
            outline: none;
        }
    }

    // NAVBAR COLLAPSING RESPONSIVE CLASS, `.#{$prefix}-navbar-expand-*`, AT BREAKPOINTS
    &-expand {
        @each $breakpoint in map-keys($grid-breakpoints) {
            $next: breakpoint-next($breakpoint, $grid-breakpoints);
            $infix: breakpoint-infix($next, $grid-breakpoints);

            &#{$infix} {
                @include media-breakpoint-down($breakpoint) {
                    >.#{$prefix}-container {
                        padding-right: 0;
                        padding-left: 0;
                    }
                }

                @include media-breakpoint-up($next) {
                    flex-flow: row nowrap;
                    justify-content: flex-start;

                    .#{$prefix}-navbar-nav {
                        flex-direction: row;
                    }

                    >.#{$prefix}-container {
                        flex-wrap: nowrap;
                    }

                    .#{$prefix}-navbar-collapse {
                        display: flex !important;
                        flex-basis: auto;
                    }

                    .#{$prefix}-navbar-hamburger {
                        display: none;
                    }

                    .#{$prefix}-navbar-search-close {
                        display: none;
                    }

                    &.#{$prefix}-navbar-search-btn {
                        display: none;
                    }
                }
            }
        }
    }

    // SEARCH
    &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        width: 23.125rem;
        position: relative;

        &-input {
            font-family: inherit;
            font-size: inherit;
            color: var(--black);
            background-color: var(--white);
            border: none;
            padding: 0.6875rem 0.6875rem 0.6875rem 3.375rem;
            width: 100%;
            transition: all 0.35s;
            margin-left: -2rem;

            &:focus {
                outline: none;
                width: 100%;
                background-color: var(--white);

                &+.#{$prefix}-navbar-search-btn {
                    background-color: var(--white);
                }
            }

            &::-webkit-input-placeholder {
                font-weight: 100;
                color: var(--grey);
            }
        }

        &-btn {
            border: none;
            background-color: var(--white);
            display: flex;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:active {
                transform: translateY(0);
            }
        }

        &-icon {
            height: 2rem;
            width: 2rem;
            fill: var(--grey);
            transform: translateX(16px) translateY(2px);
            will-change: transform;
        }

        &-close {
            width: 2rem;
            height: 2.5rem;
            font-size: 1.5rem;
            color: var(--grey);
            padding-right: 1rem;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        &-btn[class*="hcl-navbar-expand"] {
            position: absolute;
            top: .5rem;
            right: 1rem;
            background-color: transparent;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            .#{$prefix}-navbar-search-icon {
                fill: var(--white);
            }
        }
    }
}

// COLLAPSING AT SCREEN SIZE <= 768px
@include media-breakpoint-down(sm) {
    .#{$prefix}-navbar {
        padding-left: 2.375rem;
        padding-right: 2.375rem;

        &-nav {
            display: none;
            margin-top: .75rem;

            .#{$prefix}-nav-item {
                margin-right: 0;

                &.#{$prefix}-active {
                    background-image: none;
                }

                &:hover {
                    background-image: none;
                }
            }
        }

        &-search {
            display: none;

            &.shown {
                position: absolute;
                top: 2.75rem;
                left: 0;
                width: 100%;
                margin: 1rem auto;
                padding-left: 2.375rem;
                padding-right: 2.375rem;

                .#{$prefix}-navbar-search-btn {
                    position: relative !important;
                    right: 0 !important;
                    background-color: #efefef;
                }

                .#{$prefix}-navbar-search-icon {
                    fill: var(--grey) !important;
                    transform: translateX(16px) translateY(6px) !important;
                    will-change: transform;
                }

                .#{$prefix}-navbar-search-input {
                    width: inherit !important;
                    visibility: visible !important;
                    background-color: #efefef;

                    &:focus {
                        background-color: #efefef;
                    }
                }

                .#{$prefix}-navbar-search-close {
                    display: initial;
                    background-color: #efefef;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                }
            }

            &-btn[class*="hcl-navbar-expand"] {
                right: 2.375rem;
            }
        }

        &.#{$prefix}-overlay {
            .#{$prefix}-navbar-search-btn {
                opacity: 0;
            }
        }
    }

    .toolbar {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 95vh;
        left: 0;
        z-index: 99999;
        width: 75%;
        padding-left: 2.375rem;
        padding-right: 2.375rem;

        &.#{$prefix}-navbar-nav {
            margin-top: 0;
            display: none;

            .#{$prefix}-nav-item {
                &:not(:last-child) {
                    margin-right: auto !important;
                }

                &.#{$prefix}-active {
                    background-image: none;
                }

                &:hover {
                    background-image: none;
                }
            }
        }

        &.show-sidebar {
            .#{$prefix}-navbar-nav {
                display: flex !important;
            }
        }
    }
}

// COLLAPSING AT SCREEN SIZE <= 576px
@include media-breakpoint-down(xs) {
    .#{$prefix}-navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &-search {
            display: none;

            &.shown {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }

            &-btn[class*="hcl-navbar-expand"] {
                right: 1.5rem;
            }
        }
    }

    .toolbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.search-btn-only {
    position: relative;

    &.#{$prefix}-navbar-search {
        .#{$prefix}-navbar-search-btn {
            background-color: transparent;
            position: absolute;
            right: -1rem;
            z-index: 9;
        }

        .#{$prefix}-navbar-search-icon {
            fill: var(--white);
            transform: translateX(0) translateY(2px);
            will-change: transform;
        }

        .#{$prefix}-navbar-search-input {
            width: 0;
            visibility: hidden;

            &.shown {
                width: 100% !important;
                visibility: visible;

            }
        }

        .#{$prefix}-navbar-search-btn {
            &.shown {
                display: flex !important;
                position: relative !important;
                right: 0 !important;

                .#{$prefix}-navbar-search-icon {
                    fill: var(--grey);
                    transform: translateX(16px) translateY(6px);
                }
            }
        }
    }
}

.shown {
    display: flex !important;
}