/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// NAVBAR
.#{$prefix}-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--blue);
    color: var(--white);
    padding: .3125rem $navbar-padding-x;
    position: relative;

    >.#{$prefix}-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    // BRAND
    &-brand {
        display: inline-flex;
        padding-top: $navbar-brand-padding-y;
        padding-bottom: $navbar-brand-padding-y;
        margin-right: $navbar-padding-x+.75rem;
        line-height: inherit;
        white-space: nowrap;
        font-size: $navbar-brand-font-size;

        @include hover-focus {
            text-decoration: none;
        }
    }

    // NAV/TAB
    &-nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        .#{$prefix}-nav-item {
            display: flex;
            padding: $navbar-padding-y 0;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            .#{$prefix}-nav-link {
                text-decoration: none;
                color: currentColor;
                font-size: 1rem;
                padding-right: 0;
                padding-left: 0;
            }

            &:hover {
                @include nav-active;
            }
        }

        &.toolbar {
            .#{$prefix}-nav-item {
                display: flex;
                padding: $navbar-padding-y 0;
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                &:hover {
                    background-image: none;
                }
            }
        }
    }

    // RESPONSIVE NAVBAR (// TODO: JS required)
    &-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    // HAMBURGER
    &-hamburger {
        font-size: $navbar-hamburger-font-size;
        margin-right: $navbar-padding-x+.75rem;
        line-height: 1;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        @include hover-focus {
            text-decoration: none;
        }

        [class*="-icon-"] {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            content: "";
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            background: no-repeat center center;
            background-size: 100% 100%;
            font-size: initial;
            cursor: pointer;

            &>* {
                width: 100%;
                border: 1px solid $white;
            }
        }

        &:focus {
            outline: none;
        }
    }

    // NAVBAR COLLAPSING RESPONSIVE CLASS, `.#{$prefix}-navbar-expand-*`, AT BREAKPOINTS
    &-expand {
        @each $breakpoint in map-keys($grid-breakpoints) {
            $next: breakpoint-next($breakpoint, $grid-breakpoints);
            $infix: breakpoint-infix($next, $grid-breakpoints);

            &#{$infix} {
                @include media-breakpoint-down($breakpoint) {
                    >.#{$prefix}-container {
                        padding-right: 0;
                        padding-left: 0;
                    }
                }

                @include media-breakpoint-up($next) {
                    flex-flow: row nowrap;
                    justify-content: flex-start;

                    .#{$prefix}-navbar-nav {
                        flex-direction: row;
                    }

                    >.#{$prefix}-container {
                        flex-wrap: nowrap;
                    }

                    .#{$prefix}-navbar-collapse {
                        display: flex !important;
                        flex-basis: auto;
                    }

                    .#{$prefix}-navbar-hamburger {
                        display: none;
                    }

                    .#{$prefix}-navbar-search-close {
                        display: none;
                    }

                    &.#{$prefix}-navbar-search-btn {
                        display: none;
                    }
                }
            }
        }
    }
}

// COLLAPSING AT SCREEN SIZE <= 768px
@include media-breakpoint-down(sm) {
    .#{$prefix}-navbar {
        padding: .75rem 2.375rem;

        &-nav {
            display: none;
            margin-top: .75rem;

            .#{$prefix}-nav-item {
                margin-right: 0;

                &.#{$prefix}-active {
                    background-image: none;
                }

                &:hover {
                    background-image: none;
                }
            }
        }

        &.#{$prefix}-overlay {
            .#{$prefix}-navbar-search-btn {
                opacity: 0;
            }
        }
    }

    .toolbar {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 95vh;
        left: 0;
        z-index: 99999;
        width: 75%;
        padding-left: 2.375rem;
        padding-right: 2.375rem;

        &.#{$prefix}-navbar-nav {
            margin-top: 0;
            display: none;

            .#{$prefix}-nav-item {
                &:not(:last-child) {
                    margin-right: auto !important;
                }

                &.#{$prefix}-active {
                    background-image: none;
                }

                &:hover {
                    background-image: none;
                }
            }
        }

        &.show-sidebar {
            .#{$prefix}-navbar-nav {
                display: flex !important;
            }
        }
    }
}

// COLLAPSING AT SCREEN SIZE <= 576px
@include media-breakpoint-down(xs) {
    .#{$prefix}-navbar {
        padding: .75rem 1.5rem;


    }

    .toolbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}