/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-navbar {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: var(--blue);
    height: 3.125rem;
    width: 100vw;

    @include media-breakpoint-down(md) {
        height: 4rem;
    }

    &-brand {
        display: inline-flex;
        height: 3.125rem;
        margin-left: 1.5rem;
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;

        img {
            height: 1rem;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }

        @include media-breakpoint-down(md) {
            height: 4rem;
            margin-left: 5rem;
        }
    }

    &-search {
        display: inline-flex;
        margin: 0.3125rem;
        height: 2.5rem;
        width: 23.13rem;
        flex-grow: 0;
        flex-shrink: 0;

        .#{$prefix}-search {
            height: 100% !important;
            width: 100% !important;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &-toolbar {
        display: flex;
        margin: 0 0.5rem;
        flex-grow: 0;
        flex-shrink: 0;

        .#{$prefix}-nav-item {
            display: inline-flex;
            margin: 1rem 0.5rem;
            height: 0.875rem;
            width: 0.875rem;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &-searchbtn {
        display: none;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0.75rem;
        height: 2.5rem;
        width: 23.13rem;

        @include media-breakpoint-down(md) {
            display: inline-flex;
        }

        .#{$prefix}-search {
            height: 100% !important;
            width: 100% !important;
            &-input {
                height: 100% !important;
                width: 100% !important;
            }
        }
    }
}