<div>
  <button
    id="hcl-modal-success"
    data-toggle="modal"
    data-target="#hcl-modal-type2"
    class="hcl-btn"
  >
    click me
  </button>
  <section
    id="hcl-modal-type2"
    tabindex="0"
    class="hcl-modal hcl-modal-hide row"
    role="dialog"
    aria-labelledby="success"
  >
    <div class="hcl-modal-container hcl-modal-container-lg">
      <header class="hcl-modal-header hcl-modal-header-lg">
        <h5>Modal heading</h5>
      </header>
      <div class="hcl-modal-content hcl-modal-content-lg">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id
          accumsan augue. Phasellus consequat augue vitae tellus tincidunt
          posuere.
        </p>
      </div>
      <button
        id="hcl-modal-close-type2"
        aria-label="modal close"
        data-dismiss-btn
        class="hcl-modal-close"
      ></button>
    </div>
  </section>
</div>
