/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-accordion {
    display: block;
    list-style: none;
    width: 100%;

    &-item {
        display: block;
        position: relative;
        border-top: 0.0625rem solid var(--light-50);

        &:last-child {
            border-bottom: 0.0625rem solid var(--light-50);
        }

        .#{$prefix}-accordion-title {
            display: inline-block;
            font-size: 1rem;
            line-height: 1.5rem;
            color: var(--dark);
            padding: 0.625rem 0.625rem 0.625rem 1.5rem;
            cursor: pointer;
            width: 100%;

            &::before {
                content: ' ';
                position: absolute;
                height: 0.625rem;
                width: 0.625rem;
                margin-left: -1.625rem;
                margin-top: 0.375rem;
                border-right: 0.0625rem solid var(--dark-40);
                border-bottom: 0.0625rem solid var(--dark-40);
                transform: scale(1) rotate(-45deg);
                transition: all 0.2s ease-in-out;
            }
        }

        .#{$prefix}-accordion-content {
            display: block;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            height: 0;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: var(--dark);
            padding: 0.375rem 0.625rem 1.5rem 1.5rem;
            transition: all 0.2s ease-in-out;
        }

        &.expanded {
            .#{$prefix}-accordion-content {
                position: initial;
                opacity: 1;
                height: initial;
                overflow: initial;
            }

            .#{$prefix}-accordion-title::before {
                transform: scale(1) rotate(45deg);
                margin-left: -1.375rem;
                margin-top: 0.25rem;
            }
        }
    }
}