/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */
@import '../../base';

.#{$prefix}-accordion {
    display: block;
    list-style: none;
    width: 100%;

    &-item {
        display: block;
        position: relative;
       @include themify($themes) {
        border-top: .0625rem solid themed('default_border_xlow');
      }

        &:last-child {
            
            @include themify($themes) {
                border-bottom: .0625rem solid themed('default_border_xlow');
              }
        }

        .#{$prefix}-accordion-title {
            display: inline-block;
            font-size: 1rem;
            line-height: 1.5rem;
            @include themify($themes) {
                color: themed('default_text_high');
              }
            padding: .625rem .625rem .625rem 1.5rem;
            cursor: pointer;
            width: 100%;

            &::before {
                content: ' ';
                position: absolute;
                height: .625rem;
                width: .625rem;
                margin-left: -1.625rem;
                margin-top: .375rem;
                @include themify($themes) {
                    border-right: .0625rem solid themed('default_icon_high');
                    border-bottom: .0625rem solid themed('default_icon_high');
                }
                transform: scale(1) rotate(-45deg);
                transition: all .2s ease-in-out;
            }

            &:focus,
            &:active {
                @include themify($themes) {
                    outline: 1px solid themed('interactive_border');
                }
                outline-offset: 0.125rem;
            }
        }

        .#{$prefix}-accordion-content-wrapper {
            transition: height .2s ease-in-out;
            height: 0;
            overflow: hidden;

            .#{$prefix}-accordion-content {
                font-size: .875rem;
                line-height: 1.5rem;
                @include themify($themes) {
                    color: themed('default_text_high');
                  }
                padding: .375rem .625rem 1.5rem 1.5rem;
            }
        }

        &.expanded {
            &>.#{$prefix}-accordion-title::before {
                transform: scale(1) rotate(45deg);
                margin-left: -1.375rem;
                margin-top: .25rem;
            }
        }
    }
}