<div class="hcl-timepicker" id="timepicker-default">
  <label for="hcl-timepicker-1" class="hcl-label">Select a time</label>
  <div class="hcl-timepicker-input">
    <input
      id="hcl-timepicker-1"
      type="text"
      class="hcl-form-control"
      placeholder="hh:mm"
      maxlength="5"
    />
    <select class="hcl-select" aria-label="choose option">
      <option class="hcl-select-option" value="AM">AM</option>
      <option class="hcl-select-option" value="PM">PM</option>
    </select>
  </div>
  <div class="hcl-error-msg"></div>
</div>
