$colorMap: ("info": #4696D2, "danger": #E0182D, "success": #589D25, "warning": #FAC43B);

.#{$prefix}-notification {
    display: inline-flex;
    max-width: 52rem;
    margin: 1rem 0;
    background-color: #eee;

    @each $key,
    $value in $colorMap {
        &.#{$key} {
            border: 1px solid $value;
            border-left: 5px solid $value;
            background-color: #fff;
            // .#{$prefix}-inline-notification-icon {
            //     fill: #E0182D;
            // }
        }
    }

    .#{$prefix}-notification-body {
        display: flex;
        margin: 0 1rem;

        .#{$prefix}-notification-icon {
            flex-shrink: 0;
            margin-right: 1rem;
            margin-top: .625rem;
        }

        .#{$prefix}-notification-text-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0.625rem 0;

            .#{$prefix}-notification-title {
                font-size: .875rem;
                line-height: 1.125rem;
                letter-spacing: 0;
                color: #132730;
                margin-right: 0.5rem;
            }

            .#{$prefix}-notification-subtitle {
                font-weight: 400;
                font-size: .875rem;
                word-break: break-word;
                color: #aaa;
                line-height: 1.125rem;
            }
        }
    }

    &-close-button {
        outline: 2px solid transparent;
        outline-offset: -2px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        height: 1.5rem;
        width: 1.5rem;
        transition: outline .11s cubic-bezier(.2, 0, .38, .9), background-color .11s cubic-bezier(.2, 0, .38, .9);
        vertical-align: middle;

        &::after {
            content: '\2715';
            color: #000;
        }
    }
}