@import '../../base';

$colorMap: (
  //TODO this should be removed
    'info': info,
  'danger': danger,
  'success': success,
  'warning': warning
);

.#{$prefix}-notification {
  display: inline-flex;
  max-width: 52rem;
  margin: 1rem 0;
  z-index: 999;

  @each $key, $value in $colorMap {
    &.#{$prefix}-#{$key} {
      border: 1px solid var(#{'--' + $value + '_border'});
      border-left: 0.3125rem solid var(#{'--' + $value + '_border'});
      background-color: var(#{'--' + $value + '_bg'});

      > .#{$prefix}-notification-body {
        > .#{$prefix}-notification-icon-container {
          > .#{$prefix}-notification-icon {
            fill: var(#{'--' + $value + '_icon'});
          }
        }
      }
    }
  }

  &-body {
    display: flex;
    margin: 0 1rem;

    .#{$prefix}-notification-icon-container {
      display: flex;
      //width: 36px;
      align-items: center;
      @each $key, $value in $colorMap {
        > .#{$prefix}-notification-icon {
          fill: var(#{'--' + $value + '_icon'});
        }
      }
    }

    .#{$prefix}-notification-icon {
      flex-shrink: 0;
      //margin-right: 1rem;
    }

    .#{$prefix}-notification-text-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0.75rem 0;
      margin-left: 1rem;

      .#{$prefix}-notification-title {
        font-size: 0.875rem;
        line-height: getLineHeight(0.875rem);
        letter-spacing: 0;

        color: var(--default_text_high);

        margin-right: 0.5rem;
        font-weight: 600;
      }

      .#{$prefix}-notification-subtitle {
        font-size: 0.875rem;
        line-height: getLineHeight(0.875rem);
        @include getFontWeight('regular');
        word-break: break-word;

        color: var(--default_text);
      }
    }
  }

  &-close {
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;

    @include hcl-close-icon(12.15, false, --transparent, --default_icon_high);
  }
}
