<div>
    <button id="hcl-btn-toast-type3" data-toast-type="3" class="hcl-btn hcl-primary">Success</button>
    <div id="hcl-toast-type3" data-toast-type="3" class="hcl-toast hcl-toast-success hcl-toast-hide" role="alert">
        <div class="hcl-toast-icon-container">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="20"
                height="20" viewBox="0 0 20 20" aria-hidden="true" style="will-change: transform;"
                class="hcl-notification-icon">
                <path
                    d="M10 1c-4.9 0-9 4.1-9 9s4.1 9 9 9 9-4 9-9-4-9-9-9zM8.7 13.5l-3.2-3.2 1-1 2.2 2.2 4.8-4.8 1 1-5.8 5.8z" />
                <path fill="none" d="M8.7 13.5l-3.2-3.2 1-1 2.2 2.2 4.8-4.8 1 1-5.8 5.8z" data-icon-path="inner-path"
                    opacity="0" />
            </svg>
        </div>
        <div class="hcl-toast-details">
            <h3 class="hcl-toast-title">Toast title</h3>
            <p class="hcl-toast-subtitle">Subtitle text goes here.</p>
            <p class="hcl-toast-caption">Time stamp [00:00:00]</p>
        </div>
        <button id="hcl-toast-close3" class="hcl-toast-close" type="button" aria-label="close" />
    </div>
</div>