<div class="hcl-radio-group p-5">
  <div class="hcl-radio-item">
    <input
      class="hcl-radio"
      id="radio1"
      type="radio"
      value="Option1"
      name="planets"
    />
    <label class="hcl-radio-label" for="radio1">1 (default)</label>
  </div>
  <div class="hcl-radio-item">
    <input
      class="hcl-radio"
      id="radio2"
      type="radio"
      value="Option2"
      name="planets"
      checked
    />
    <label class="hcl-radio-label" for="radio2">2</label>
  </div>
  <div class="hcl-radio-item">
    <input
      disabled
      class="hcl-radio"
      id="radio3"
      type="radio"
      value="Option3"
      name="planets"
    />
    <label class="hcl-radio-label" for="radio3">3 (disabled)</label>
  </div>
</div>
