<div class="hcl-data-table-wrapper">
  <table class="hcl-data-table hcl-loading">
    <thead>
      <tr>
        <th><div class="hcl-data-table-header-wrapper">ID</div></th>
        <th><div class="hcl-data-table-header-wrapper">Name</div></th>
        <th><div class="hcl-data-table-header-wrapper">Protocol</div></th>
        <th><div class="hcl-data-table-header-wrapper">Port</div></th>
        <th><div class="hcl-data-table-header-wrapper">Rule</div></th>
        <th>
          <div class="hcl-data-table-header-wrapper">Attached Groups</div>
        </th>
        <th><div class="hcl-data-table-header-wrapper">Status</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
      </tr>
      <tr>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
      </tr>
      <tr>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
      </tr>
    </tbody>
  </table>
</div>
