<section class="hcl-tab hcl-loading" data-component="tabs">
  <nav data-tabs role="navigation">
    <ul role="tablist" class="hcl-tabs-nav">
      <li
        role="tab"
        class="hcl-tabs-nav-item"
        aria-controls="tab1"
        data-target="tab1"
      >
        <a class="hcl-tabs-nav-link" href="#tab1"></a>
      </li>
      <li
        role="tab"
        class="hcl-tabs-nav-item"
        aria-controls="tab2"
        aria-selected="true"
        data-target="tab2"
      >
        <a class="hcl-tabs-nav-link" href="#tab2"></a>
      </li>
      <li
        role="tab"
        class="hcl-tabs-nav-item hcl-tabs-disabled active"
        aria-controls="tab3"
        data-target="tab3"
      >
        <a class="hcl-tabs-nav-link" href="#tab3"></a>
      </li>
    </ul>
  </nav>
  <section class="hcl-tabcontent">
    <div
      role="tabpanel"
      aria-labelledby="tab1"
      id="tab1"
      class="hcl-tabs-panel"
    >
      <p></p>
    </div>
    <div
      role="tabpanel"
      aria-labelledby="tab2"
      id="tab2"
      class="hcl-tabs-panel"
    >
      <p></p>
    </div>
    <div
      role="tabpanel"
      aria-labelledby="tab3"
      id="tab3"
      class="hcl-tabs-panel active"
    >
      <p></p>
    </div>
  </section>
</section>
