<section id="notification" class="hcl-row m-0">
  <div class="hcl-col">
    <div data-notification="" class="hcl-notification hcl-success" role="alert">
      <div class="hcl-notification-body">
        <div class="hcl-notification-icon-container">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            aria-hidden="true"
            style="will-change: transform; fill: #589d25;"
            class="hcl-notification-icon"
          >
            <path
              d="M10 1c-4.9 0-9 4.1-9 9s4.1 9 9 9 9-4 9-9-4-9-9-9zM8.7 13.5l-3.2-3.2 1-1 2.2 2.2 4.8-4.8 1 1-5.8 5.8z"
            />
            <path
              fill="none"
              d="M8.7 13.5l-3.2-3.2 1-1 2.2 2.2 4.8-4.8 1 1-5.8 5.8z"
              data-icon-path="inner-path"
              opacity="0"
            />
          </svg>
        </div>
        <div class="hcl-notification-text-wrapper">
          <h5 class="hcl-notification-title">Notification title</h5>
          <p class="hcl-notification-subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.
          </p>
        </div>
      </div>
      <button
        class="hcl-notification-close"
        type="button"
        aria-label="close"
      ></button>
    </div>
  </div>
</section>
