<div class="hcl-data-table-wrapper data-table-sticky-header">
    <table class="hcl-data-table">
        <thead>
            <tr>
                <th>Name
                    <svg width="16px" class="hcl-sorting" height="16px" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Artboard</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="srot" fill="#000000" fill-rule="nonzero">
                                <g id="Group">
                                    <path d="M0.848938817,3.92808987 C0.5730624,4.08135457 0.225174806,3.98195809 0.0719101257,3.70608167 C-0.0813545486,3.43020526 0.0180419086,3.08231766 0.293918326,2.92905298 L5.43677549,0.0719101257 C5.81765046,-0.139687074 6.28571429,0.135723263 6.28571429,0.571428571 L6.28571429,14.8571429 C6.28571429,15.1727341 6.02987697,15.4285714 5.71428571,15.4285714 C5.39869446,15.4285714 5.14285714,15.1727341 5.14285714,14.8571429 L5.14285714,1.54257969 L0.848938817,3.92808987 Z" id="Path"></path>
                                    <path d="M14.857143,1.63915229 L10.602686,4.47545698 C10.3400982,4.65051555 9.98531571,4.57955904 9.81025714,4.31697121 C9.63519857,4.05438338 9.70615509,3.6996009 9.96874291,3.52454236 L15.1116001,0.0959709287 C15.4913456,-0.15719278 16.0000002,0.115030877 16.0000002,0.571428237 L16.0000002,14.8571425 C16.0000002,15.1727338 15.7441629,15.4285711 15.4285716,15.4285711 C15.1129803,15.4285711 14.857143,15.1727338 14.857143,14.8571425 L14.857143,1.63915229 Z" id="Path" transform="translate(12.857113, 7.713805) rotate(180.000000) translate(-12.857113, -7.713805) "></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <svg width="16px" height="16px" class="hcl-sorting" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Artboard</title>
                        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Arrow-Up-line" transform="translate(4.000000, 2.000000)" stroke="#000000">
                                <line x1="4" y1="12" x2="4" y2="1"></line>
                                <polyline points="8 4.5 4 0.5 0 4.5"></polyline>
                            </g>
                        </g>
                    </svg>
                </th>
                <th>Protocol
                    <svg width="16px" height="16px" class="hcl-sorting" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Artboard</title>
                        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Arrow-Up-line" transform="translate(4.000000, 2.000000)" stroke="#000000">
                                <line x1="4" y1="12" x2="4" y2="1"></line>
                                <polyline points="8 4.5 4 0.5 0 4.5"></polyline>
                            </g>
                        </g>
                    </svg>
                </th>
                <th>Port</th>
                <th>Rule</th>
                <th>Attached Groups</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Load Balancer 1</td>
                <td>HTTP</td>
                <td>80</td>
                <td>Round Robin</td>
                <td>Maureen's VM Groups</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Load Balancer 2</td>
                <td>HTTP</td>
                <td>80</td>
                <td>Round Robin</td>
                <td>Maureen's VM Groups</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Load Balancer 3</td>
                <td>HTTP</td>
                <td>80</td>
                <td>Round Robin</td>
                <td>Maureen's VM Groups</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</div>