
.#{$prefix}-content-switcher {
    display: flex;
    width: 100%;
    height: hcl-rem(40px);
    position: relative;

    &-btn {
        background-color: transparent;
        color: #3d70b2;
        display: flex;
        align-items: center;
        height: hcl-rem(40px);
        font-size: .875rem;
        margin: 0;
        padding: 0 2rem;
        border: 1px solid #3d70b2;
        position: relative;

        &.active{
            background-color: #0066B3;
            color: $white;
            .#{$prefix}-thumbnail {
                background-color: $white;
            }
        }

        &:focus {
            outline: 1px solid transparent;
            border-color: #3d70b2;
        }

        &:hover {
            background-color: #00518F;
            cursor: pointer;
            color: #FFFFFF;
            .#{$prefix}-thumbnail {
                background-color: $white;
            }
        }
        .#{$prefix}-thumbnail {
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            background-color: #0066B3;
            position: absolute;
            left: 8px;
        }
    }

    &-btn:first-of-type {
        border-top-left-radius: hcl-rem(4px);
        border-bottom-left-radius: hcl-rem(4px);
    }

    &-btn:not(:first-of-type) {
        border-left: 1px solid #3d70b2;
    }

    &-btn:not(:last-of-type) {
        border-right: none;
    }

    &-btn:last-of-type {
        border-top-right-radius: hcl-rem(4px);
        border-bottom-right-radius: hcl-rem(4px);
    }
}