.#{$prefix}-content-switcher {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 2.5rem;
  position: relative;
  padding-left: 0.0625rem;

  button::-moz-focus-inner {
    border: 0;
  }

  &-btn {
    @include media-breakpoint-only(xs) {
      padding: 0 0.2rem;
      flex-grow: 1;
      justify-content: center;
    }

    background-color: var(--default_bg);
    // border-top: 0.0625rem solid var(--default_border_xlow);
    // border-bottom: 0.0625rem solid var(--default_border_xlow);

    border: 0.0625rem solid var(--default_border_xlow);
    // border-right: 0.0625rem solid transparent;
    // border-left: 0.0625rem solid transparent;
    color: var(--interactive_text);

    display: flex;
    align-items: center;
    height: 2.5rem;
    font-size: 0.875rem;
    margin: 0 0 0.3125rem -0.0625rem;
    padding: 0 2rem;
    position: relative;

    // &::before {
    //   position: absolute;
    //   left: -0.0625rem;
    //   display: block;
    //   width: 0.0625rem;
    //   height: 100%;
    //   background-color: var(--default_border_xlow);
    //   content: '';
    // }

    // &::after {
    //   position: absolute;
    //   right: -0.0625rem;
    //   display: block;
    //   width: 0.0625rem;
    //   height: 100%;
    //   background-color: var(--default_border_xlow);
    //   content: '';
    // }

    &:last-child {
      border-right: 0.0625rem solid var(--default_border_xlow);
    }

    &:first-child {
      border-left: 0.0625rem solid var(--default_border_xlow);
    }

    &.active {
      background-color: var(--active_bg_high);
      color: var(--default_text_xhight);
      //   z-index: 1;

      //   .#{$prefix}-thumbnail {
      //     border: 1px solid var(--active_icon);
      //   }
    }

    &:focus {
      @include primary-focus();
      z-index: 1;
    }

    // @include primary_focus();

    &:hover {
      cursor: pointer;
    }

    &:hover:not(:disabled) {
      background-color: var(--interactive_bg_hover);
      color: var(--interactive_text);

      //   .#{$prefix}-thumbnail {
      //     border: 1px solid var(--interactive_icon);
      //   }
    }

    &:disabled {
      cursor: not-allowed;

      opacity: var(--disabled_all);

      .#{$prefix}-thumbnail {
        opacity: var(--disabled_all);
      }
    }

    .#{$prefix}-thumbnail {
      width: 1.125rem;
      height: 1.125rem;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      //   border-radius: 50%;

      //   border: 1px solid var(--interactive_icon);
    }
  }

  &-btn:first-of-type::before {
    content: none;
  }

  &-btn:last-of-type::after {
    content: none;
  }

  //   &-btn.active::before,
  //   &-btn.active + &-btn::before {
  //     background-color: transparent;
  //   }

  &-btn:first-of-type {
    // border-top-left-radius: hcl-rem(4px);
    // border-bottom-left-radius: hcl-rem(4px);
    border-radius: var(--rounded_corner_left_rounded_big);
  }

  &-btn:last-of-type {
    // border-top-right-radius: hcl-rem(4px);
    // border-bottom-right-radius: hcl-rem(4px);
    border-radius: var(--rounded_corner_right_rounded_big);
  }
}

.#{$prefix}-content-switcher-content {
  margin: hcl-rem(15px) 0 hcl-rem(10px);
  width: 100%;
}
