@import '../../base';

.#{$prefix}-tab {
  margin-top: hcl-rem(5px);
}

.#{$prefix}-tabs-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    background: transparent;
    padding: 0.75rem 0;

    &.#{$prefix}-tabs-disabled {
      cursor: not-allowed;
      > a {
        outline: none;
        cursor: not-allowed;
      }

      
        opacity: var(--disabled_all);
     
      &:focus {
        outline: none;
      }
      &:hover {
        
          border-bottom: transparent;
       
      }
    }

    &.active {
      > a {
        outline: none;
        
          color: var(--default_text_high);
       
      }
      
        border-bottom: 2px solid var(--active_border);
     
      &:focus {
        border-bottom: none;
      }
    }

    &:focus {
      
        outline: 2px solid var(--interactive_border);
     
    }

    &:hover {
      cursor: pointer;
      > a {
        outline: none;
        
          color: var(--interactive_text);
       
      }
      
        border-bottom: 2px solid var(--interactive_border);
     
    }
  }

  &-item + &-item {
    margin-left: 3.125rem;
  }

  &-link {
    text-decoration: none;
    display: inline-block;
    
      color: var(--interactive_text);
   

    &:hover,
    &:active,
    &:visited,
    &:focus {
      text-decoration: none;
    }
  }
}

.#{$prefix}-tabs-panel {
  padding-top: hcl-rem(10px);
  display: none;
  
    color: var(--default_text);
 

  &.active {
    display: block;
  }
}

.#{$prefix}-tabcontent {
  margin: hcl-rem(10px) 0 hcl-rem(10px);
}

.#{$prefix}-tabs-disabled {
  &.active {
    cursor: not-allowed;
    > a {
      outline: none;
    }

    
      opacity: var(--disabled_all);
   

    &:focus {
      outline: none;
    }

    &:hover {
      > a {
        outline: none;
        
          color: var(--default_text_high);
       
      }
      
        border-bottom: 2px solid var(--active_border);
     
    }
  }
}
