.#{$prefix}-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;

    .#{$prefix}-slider-bottom-range,
    .#{$prefix}-slider-top-range {
        display: inline-flex;
        margin: 0 .5rem;
    }

    >input[type=range].#{$prefix}-slider-input {
        -webkit-appearance: none;
        width: 100%;
        height: 0.25rem;
        background-color: #aaa;
        outline: none;
        padding: 0;
        margin: 0;

        // Range Handle
        &::-webkit-slider-thumb {
            appearance: none;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $blue;
            cursor: pointer;
            transition: background .15s ease-in-out;

            &:hover {
                background: $blue;
            }
        }

        &:active::-webkit-slider-thumb {
            background: $blue;
        }

        &::-moz-range-thumb {
            width: 1.5rem;
            height: 1.5rem;
            border: 0;
            border-radius: 50%;
            background-color: $blue;
            cursor: pointer;
            transition: background .15s ease-in-out;

            &:hover {
                background: $blue;
            }
        }

        &:active::-moz-range-thumb {
            background: $blue;
        }


        &:focus {
            outline: none;

            &::-webkit-slider-thumb,
            &::-moz-range-thumbm,
            &::-ms-thumb {
                box-shadow: 0 0 0 3px $checkbox-focus-color;
            }
        }

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }

        &::-moz-range-track {
            border: 0;
        }

        &::-moz-focus-inner,
        &::-moz-focus-outer {
            border: 0;
        }
    }

    >input.#{$prefix}-slider-text-input {
        font-size: 0.875rem;
        max-width: 4rem;
        min-width: 2rem;
        height: 100%;
        text-align: center;
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}