$primary_bg: #0066b0;
$secondary_border: #0066b0;
$default_border_low: #737373;
$interactive_border: #0066b0;
$default_bg: white;

.#{$prefix}-slider-wrapper {
  width: 100%;
  --progressPercent: 0%;

  .#{$prefix}-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.75rem;
    margin-top: 1.625rem;

    .#{$prefix}-slider-bottom-range,
    .#{$prefix}-slider-top-range {
      display: inline-flex;
      margin: 0 0.5rem;

      color: var(--default_text_high);
    }

    &.on-hover {
      margin-top: 0;

      .#{$prefix}-range-value {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s ease-in-out 0.4s,
          opacity 0.3s ease-in-out 0.4s;
      }

      input[type='range'].#{$prefix}-slider-input {
        &:hover,
        &:focus {
          + .#{$prefix}-range-value {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0s;
          }
        }
      }
    }

    .#{$prefix}-slider-input-wrapper {
      width: 100%;
      position: relative;

      .#{$prefix}-range-value {
        position: absolute;
        top: -1.625rem;
      }

      .#{$prefix}-range-value span {
        min-width: 1.875rem;
        height: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        font-size: 0.75rem;
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        border-radius: 0.375rem;
        padding: 0 0.625rem;

        color: var(--default_text_high);
        background: var(--default_bg_low);
      }

      .#{$prefix}-range-value span::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 0.4375rem solid transparent;
        border-left: 0.3125rem solid transparent;
        border-right: 0.3125rem solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -0.3125rem;
        margin-top: 1px;
      }

      .#{$prefix}-range-value span::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 0.3125rem solid transparent;
        border-right: 0.3125rem solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -0.3125rem;
        margin-top: -1px;

        border-top: 0.4375rem solid var(--default_bg_low);
      }

      > input[type='range'].#{$prefix}-slider-input {
        -webkit-appearance: none;
        width: 100%;
        height: 2.5rem;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        &::-webkit-slider-runnable-track {
          height: 0.25rem;

          background: linear-gradient(
            90deg,
            var(--secondary_border) var(--progressPercent),
            var(--default_border_low) var(--progressPercent)
          );
        }

        &::-webkit-slider-thumb {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          appearance: none;
          margin-top: -0.625rem;

          background-color: var(--primary_bg);
        }

        &:focus::-webkit-slider-thumb {
          box-shadow: 0 0 0 0.1875rem var(--interactive_border);
          border: 0.0625rem solid var(--default_bg);
        }

        &:focus::-moz-range-thumb {
          box-shadow: 0 0 0 0.1875rem var(--interactive_border);
          border: 0.0625rem solid var(--default_bg);
        }

        &::-moz-range-track {
          height: 0.25rem;

          background-color: var(--secondary_border);
          background: linear-gradient(
            90deg,
            var(--secondary_border) var(--progressPercent),
            var(--default_border_low) var(--progressPercent)
          );

          &:hover {
            background: linear-gradient(
              90deg,
              var(--secondary_border) var(--progressPercent),
              var(--default_border_low) var(--progressPercent)
            );
          }
        }

        &::-moz-range-thumb {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;

          background-color: var(--primary_bg);

          margin-top: 0;
          border: 0;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        &::-moz-focus-inner,
        &::-moz-focus-outer {
          border: 0;
        }

        &::-ms-thumb {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background-color: $primary_bg;
          margin-top: 0;
        }

        &::-ms-fill-lower {
          background: $secondary_border;
        }

        &::-ms-fill-upper {
          background: $default_border_low;
        }
        &::-ms-track {
          height: 0.25rem;
          color: transparent;
          border: none;
        }

        &:focus::-ms-thumb {
          box-shadow: 0 0 0 0.1875rem $interactive_border;
          border: 0.0625rem solid $default_bg;
        }
      }
    }

    > input.#{$prefix}-slider-text-input {
      font-size: 0.875rem;
      max-width: 4rem;
      min-width: 2rem;
      height: 100%;
      text-align: center;
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .#{$prefix}-error-msg {
    text-align: right;
    padding-right: 0.625rem;
  }
}
