<div class="hcl-checkbox-group">
    <div class="hcl-checkbox-item">
        <input class="hcl-checkbox" id="check1" type="checkbox" value="check1" />
        <label class="hcl-checkbox-label" for="check1">1 (default)</label>
    </div>
    <div class="hcl-checkbox-item">
        <input class="hcl-checkbox" id="check2" type="checkbox" value="check2" checked />
        <label class="hcl-checkbox-label" for="check2">2</label>
    </div>
    <div class="hcl-checkbox-item">
        <input class="hcl-checkbox" id="check3" type="checkbox" value="check3" disabled />
        <label class="hcl-checkbox-label" for="check3">3 (disabled)</label>
    </div>
</div>