<section id="content-switcher2" class="hcl-row m-4 p-4 colBorder">
        <h6 class="p-2">Content Switcher (with icons)</h6>
        <div data-content-switcher class="hcl-content-switcher" role="tablist">
            <button class="hcl-content-switcher-btn" role="tab" data-target=".vanilla">
                <div class="hcl-thumbnail-wrapper">
                    <i class="hcl-thumbnail pi pi-administrator"></i>
                </div>
                <span>All</span>
            </button>
            <button class="hcl-content-switcher-btn" role="tab" data-target=".react">
                <div class="hcl-thumbnail-wrapper">
                    <i class="hcl-thumbnail pi pi-View"></i>
                </div>
                <span>Cybernetics</span>
            </button>
            <button class="hcl-content-switcher-btn" role="tab" data-target=".angular">
                <div class="hcl-thumbnail-wrapper">
                    <i class="hcl-thumbnail pi pi-add-new"></i>
                </div>
                <span>Information & Communication</span>
            </button>
        </div>
        <section class="hcl-content-switcher-content">
            <div class="vanilla">
                <ol class="hcl-list-ordered">
                    <li class="hcl-list-item">Cybernetics
                        <ul class="hcl-list-nested">
                            <li class="hcl-list-item">Artifical Intelligence</li>
                            <li class="hcl-list-item">Bionics</li>
                        </ul>
                    </li>
                    <li class="hcl-list-item">Information & Communication technology
                        <ul class="hcl-list-nested">
                            <li class="hcl-list-item">Cyber Infrastructure</li>
                            <li class="hcl-list-item">Digital Technology</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="react">
                <ol class="hcl-list-ordered">
                    <li class="hcl-list-item">Cybernetics
                        <ul class="hcl-list-nested">
                            <li class="hcl-list-item">Artifical Intelligence</li>
                            <li class="hcl-list-item">Bionics</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="angular">
                <ol class="hcl-list-ordered">
                    <li class="hcl-list-item">Information & Communication technology
                        <ul class="hcl-list-nested">
                            <li class="hcl-list-item">Cyber Infrastructure</li>
                            <li class="hcl-list-item">Digital Technology</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </section>
    </section>