<section id="content-switcher2" class="hcl-row m-4 p-4 colBorder">
    <h6 class="p-2">Content Switcher (with icons)</h6>
    <div data-content-switcher class="hcl-content-switcher" role="tablist">
        <button class="hcl-content-switcher-btn" role="tab" data-target=".vanillaIcon">
            <i class="hcl-thumbnail p-hclsw p-hclsw-admin"></i>
            All
        </button>
        <button class="hcl-content-switcher-btn" role="tab" data-target=".reactIcon">
            <i class="hcl-thumbnail p-hclsw p-hclsw-view"></i>
            Cybernetics
        </button>
        <button class="hcl-content-switcher-btn" role="tab" data-target=".angularIcon">
            <i class="hcl-thumbnail p-hclsw p-hclsw-add"></i>
            Information & Communication
        </button>
    </div>
    <section class="hcl-content-switcher-content">
        <div class="vanillaIcon">
            <ol class="hcl-list-ordered">
                <li class="hcl-list-item">
                    Cybernetics
                    <ul class="hcl-list-nested">
                        <li class="hcl-list-item">Artifical Intelligence</li>
                        <li class="hcl-list-item">Bionics</li>
                    </ul>
                </li>
                <li class="hcl-list-item">
                    Information & Communication technology
                    <ul class="hcl-list-nested">
                        <li class="hcl-list-item">Cyber Infrastructure</li>
                        <li class="hcl-list-item">Digital Technology</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="reactIcon">
            <ol class="hcl-list-ordered">
                <li class="hcl-list-item">
                    Cybernetics
                    <ul class="hcl-list-nested">
                        <li class="hcl-list-item">Artifical Intelligence</li>
                        <li class="hcl-list-item">Bionics</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="angularIcon">
            <ol class="hcl-list-ordered">
                <li class="hcl-list-item">
                    Information & Communication technology
                    <ul class="hcl-list-nested">
                        <li class="hcl-list-item">Cyber Infrastructure</li>
                        <li class="hcl-list-item">Digital Technology</li>
                    </ul>
                </li>
            </ol>
        </div>
    </section>
</section>