<div class="hcl-radio-group hcl-stack-vertical">
  <div class="hcl-radio-item">
    <input
      class="hcl-radio"
      id="radio4"
      type="radio"
      value="Option4"
      name="animals"
    />
    <label class="hcl-radio-label" for="radio4">1 (default)</label>
  </div>
  <div class="hcl-radio-item">
    <input
      class="hcl-radio"
      id="radio5"
      type="radio"
      value="Option5"
      name="animals"
      checked
    />
    <label class="hcl-radio-label" for="radio5">2</label>
  </div>
  <div class="hcl-radio-item">
    <input
      class="hcl-radio"
      id="radio6"
      type="radio"
      value="Option6"
      name="animals"
      disabled
    />
    <label class="hcl-radio-label" for="radio6">3 (disabled)</label>
  </div>
</div>
