<div class="hcl-overlay-wrapper">
  <button
    class="hcl-btn hcl-ghost"
    id="overlay2"
    data-target="#overlayContainer2"
  >
    Overlay Component 1
  </button>

  <div class="hcl-overlay-container" id="overlayContainer2">
    <div style="padding:1rem">
      <ol class="hcl-list-ordered hcl-upper-alpha">
        <li class="hcl-list-item">
          Ordered List level 1
          <ol class="hcl-list-nested">
            <li class="hcl-list-item">Ordered List level 2</li>
            <li class="hcl-list-item">Ordered List level 2</li>
          </ol>
        </li>
        <li class="hcl-list-item">Ordered List level 1</li>
        <li class="hcl-list-item">Ordered List level 1</li>
      </ol>
    </div>
  </div>
</div>
