<span class="hcl-toggle">
    <input type="checkbox" id="simple-toggle" />
    <label class="hcl-toggle-label" for="simple-toggle">
        <span class="hcl-switch"></span>
    </label>
    <label class="hcl-toggle-off">Off</label>
    <label class="hcl-toggle-on">On</label>
</span>
<span class="hcl-toggle">
    <input type="checkbox" id="disabled-checked-toggle" disabled checked />
    <label class="hcl-toggle-label" for="disabled-checked-toggle">
        <span class="hcl-switch"></span>
    </label>
    <label class="hcl-toggle-off">Off</label>
    <label class="hcl-toggle-on">On</label>
</span>
<span class="hcl-toggle">
    <input type="checkbox" id="disabled-toggle" disabled />
    <label class="hcl-toggle-label" for="disabled-toggle">
        <span class="hcl-switch"></span>
    </label>
    <label class="hcl-toggle-off">Off</label>
    <label class="hcl-toggle-on">On</label>
</span>