<span class="hcl-toggle p-5">
  <input type="checkbox" id="simple-toggle" />
  <label
    class="hcl-toggle-label"
    aria-label="simple toggle"
    for="simple-toggle"
  >
    <span class="hcl-switch"></span>
  </label>
  <label class="hcl-toggle-off">Off</label>
  <label class="hcl-toggle-on">On</label>
</span>
<span class="hcl-toggle">
  <input type="checkbox" id="disabled-checked-toggle" disabled checked />
  <label
    class="hcl-toggle-label"
    aria-label="disabled checked toggle"
    for="disabled-checked-toggle"
  >
    <span class="hcl-switch"></span>
  </label>
  <label class="hcl-toggle-off">Off</label>
  <label class="hcl-toggle-on">On</label>
</span>
<span class="hcl-toggle">
  <input type="checkbox" id="disabled-toggle" disabled />
  <label
    class="hcl-toggle-label"
    aria-label="disabled toggle"
    for="disabled-toggle"
  >
    <span class="hcl-switch"></span>
  </label>
  <label class="hcl-toggle-off">Off</label>
  <label class="hcl-toggle-on">On</label>
</span>
