/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

%basic-toggle {
  display: inline-block;

  .#{$prefix}-toggle-label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0;

    &::before {
      content: '';
      position: relative;
      display: block;
      top: 50%;
      left: 0;
      transition: 0.4s;
      transform: translate(0, -50%);
    }

    .#{$prefix}-switch {
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;

    &:disabled + .#{$prefix}-toggle-label {
      cursor: not-allowed;
    }

    &:disabled ~ .#{$prefix}-toggle-off,
    &:disabled ~ .#{$prefix}-toggle-on {
      opacity: var(--disabled_all);
    }
  }

  .#{$prefix}-toggle-off {
    float: left;
  }

  .#{$prefix}-toggle-on {
    float: right;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.#{$prefix}-toggle {
  position: relative;
  @extend %basic-toggle;

  .#{$prefix}-toggle-label {
    height: 0.375rem;
    width: 3rem;

    &::before {
      height: 0.375rem;
      width: 3rem;

      background-color: var(--default_border);
      border-radius: var(--border_corner_all_full);
    }

    .#{$prefix}-switch {
      height: 1.5rem;
      width: 1.5rem;
      transform: translate(0, -50%);

      background-color: var(--default_bg_high);
      border: 0.0625rem solid var(--default_border);
    }
  }

  input[type='checkbox'] {
    &:checked + .#{$prefix}-toggle-label {
      &::before {
        background-color: var(--primary_bg);
        border: 0.0625rem solid var(--secondary_border);
      }

      .#{$prefix}-switch {
        top: 50%;
        transform: translate(1.5rem, -50%);
        border: none;

        background-color: var(--primary_bg);
      }
    }

    &:not(:checked):disabled ~ .#{$prefix}-toggle-label {
      opacity: var(--disabled_all);

      &::before {
        background-color: var(--default_border);
        opacity: var(--disabled_all);
      }

      .#{$prefix}-switch {
        border: 0.0625rem solid;
        background-color: var(--default_border);
        // opacity: var(--disabled_all);
      }
    }

    &:checked:disabled ~ .#{$prefix}-toggle-label {
      width: 1.563rem;
      margin-right: 1.938rem;

      &::before {
        width: 1.5rem;

        opacity: var(--disabled_all);
        background-color: var(--primary_bg);
      }

      .#{$prefix}-switch {
        background-color: var(--primary_bg);
        opacity: var(--disabled_all);
      }
    }

    &:focus ~ .#{$prefix}-toggle-label {
      .#{$prefix}-switch {
        box-shadow: 0 0 0 0.125rem var(--interactive_border);
        border: 0.0625rem solid var(--default_bg);
      }
    }
  }

  .#{$prefix}-toggle-off,
  .#{$prefix}-toggle-on {
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;

    color: var(--default_text_high);
  }
}

.#{$prefix}-toggle-small {
  position: relative;
  @extend %basic-toggle;

  .#{$prefix}-toggle-label {
    height: 1rem;
    width: 2rem;
    // border-radius: 6.25rem;

    &::before {
      height: 1rem;
      width: 2rem;
      border-radius: var(--border_corner_all_full);

      background-color: var(--default_bg_high);
      border: 0.0625rem solid var(--default_border);
    }

    .#{$prefix}-switch {
      height: 0.625rem;
      width: 0.625rem;
      border: none;
      transform: translate(0.1875rem, -50%);

      background-color: var(--default_icon);
    }
  }

  input[type='checkbox'] {
    &:checked + .#{$prefix}-toggle-label {
      &::before {
        border: none;

        background-color: var(--primary_bg);
      }

      .#{$prefix}-switch {
        top: 50%;
        transform: translate(1.125rem, -50%);
        border: none;

        background-color: var(--default_bg);

        &::after {
          transform: scale(1) rotate(-45deg);
          content: '';
          width: 5.8px;
          height: 3.7px;

          border-left: 1px solid var(--primary_bg);
          border-bottom: 1px solid var(--primary_bg);

          position: absolute;
          left: 0.125rem;
          top: 50%;
          margin-top: -0.1875rem;
        }
      }
    }

    &:not(:checked):disabled ~ .#{$prefix}-toggle-label {
      opacity: var(--disabled_all);

      &::before {
        border: 0.0625rem solid var(--default_border);
      }
    }

    &:checked:disabled ~ .#{$prefix}-toggle-label {
      &::before {
        opacity: var(--disabled_all);
        background-color: var(--primary_bg);
        border: 0.0625rem solid var(--default_border);
      }

      .#{$prefix}-switch {
        &::after {
          opacity: var(--disabled_all);
        }
      }
    }

    &:focus ~ .#{$prefix}-toggle-label {
      &::before {
        box-shadow: 0 0 0 0.125rem var(--interactive_border);
        border: 0.0625rem solid var(--default_bg);
      }
    }
  }

  .#{$prefix}-toggle-off,
  .#{$prefix}-toggle-on {
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.01rem;

    color: var(--default_text_high);
  }
}
