/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

 @import '../../base';
 
%basic-toggle {
    display: inline-block;

    .#{$prefix}-toggle-label {
        position: relative;
        cursor: pointer;
        display: inline-block;
        top: 0;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: 0;

        &::before {
            content: '';
            position: relative;
            display: block;
            top: 50%;
            left: 0;
            transition: .4s;
            transform: translate(0, -50%);
        }

        .#{$prefix}-switch {
            position: absolute;
            display: block;
            left: 0;
            top: 50%;
            transition: .4s;
            border-radius: 50%;
        }
    }

    input[type='checkbox'] {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;

        &:disabled+.#{$prefix}-toggle-label {
            cursor: not-allowed;
        }

        &:disabled~.#{$prefix}-toggle-off,
        &:disabled~.#{$prefix}-toggle-on {
           // color: rgba($dark-10,0.5);
            @include themify($themes) {
                opacity: themed('disabled_all'); 
            }
        }
    }

    .#{$prefix}-toggle-off {
        float: left;
    }

    .#{$prefix}-toggle-on {
        float: right;
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.#{$prefix}-toggle {
    position: relative;
    @extend %basic-toggle;

    .#{$prefix}-toggle-label {
        height: .375rem;
        width: 3rem;

        &::before {
            height: .375rem;
            width: 3rem;
           // background-color: $dark-10;
            @include themify($themes) {
                background-color: themed('default_border');
            }
        }

        .#{$prefix}-switch {
            height: 1.5rem;
            width: 1.5rem;
           // border: .0625rem solid $dark-10;
           // background-color: $white;
            transform: translate(0, -50%);
            @include themify($themes) {
                background-color: themed('default_bg');
                border: .0625rem solid themed('default_border');
            }
        }
    }

    input[type='checkbox'] {
        &:checked+.#{$prefix}-toggle-label {
            &::before {
                //background-color: $blue;
                @include themify($themes) {
                    background-color: themed('primary_bg');
                }
            }

            .#{$prefix}-switch {
                top: 50%;
                transform: translate(1.5rem, -50%);
               //background-color: $blue;
                border: none;
                @include themify($themes) {
                    background-color: themed('primary_bg');
                }
            }
        }

        &:not(:checked):disabled~.#{$prefix}-toggle-label {
            @include themify($themes) {
                 opacity: themed('disabled_all');
            }
            &::before {
               // background-color: rgba($dark-10,0.5);
                @include themify($themes) {
                   background-color: rgba(themed('default_border'),themed('disabled_all')) ;
                }
            }

            .#{$prefix}-switch {
                //border: .0625rem solid rgba($dark-10,0.5);
                @include themify($themes) {
                  border: .0625rem solid rgba(themed('default_border'),themed('disabled_all')) ;
                }
            }
        }

        &:checked:disabled~.#{$prefix}-toggle-label {
            width: 1.563rem;
            margin-right: 1.938rem;
            &::before {
                width: 1.5rem;
               // background-color: rgba($blue,0.5);
               @include themify($themes) {
                background-color: rgba(themed('primary_bg'),themed('disabled_all')) ;
            }
            }

            .#{$prefix}-switch {
                //background-color: rgba($blue,0.5);
                @include themify($themes) {
                    background-color: rgba(themed('primary_bg'),themed('disabled_all')) ;
                }
            }
        }

        &:focus~.#{$prefix}-toggle-label {
            .#{$prefix}-switch {
                border: .0625rem solid var(--grey-light);
                box-shadow: 0 0 0 0.125rem $checkbox-focus-color;
            }
        }
    }

    .#{$prefix}-toggle-off,
    .#{$prefix}-toggle-on {
        font-size: .875rem;
        line-height: 1.5rem;
        letter-spacing: .01rem;
       // color: $dark-10;
        @include themify($themes) {
            color: themed('default_text_high'); 
        }
    }
}

.#{$prefix}-toggle-small {
    position: relative;
    @extend %basic-toggle;

    .#{$prefix}-toggle-label {
        height: 1rem;
        width: 2rem;
        border-radius: 6.25rem;

        &::before {
            height: 1rem;
            width: 2rem;
           // background-color: $white;
           // border: .0625rem solid $dark-10;
            border-radius: 6.25rem;
            @include themify($themes) {
                background-color: themed('default_bg_high');
                border: .0625rem solid themed('default_border');
            }
        }

        .#{$prefix}-switch {
            height: .625rem;
            width: .625rem;
           // background-color: $dark-10;
            border: none;
            transform: translate(.1875rem, -50%);
            @include themify($themes) {
                background-color: themed('default_bg') ;
            }
        }
    }

    input[type='checkbox'] {
        &:checked+.#{$prefix}-toggle-label {
            &::before {
               // background-color: $blue;
                border: none;
                @include themify($themes) {
                    background-color: themed('primary_bg');
                }
            }

            .#{$prefix}-switch {
                top: 50%;
                transform: translate(1.125rem, -50%);
               // background-color: $white;
                border: none;

                @include themify($themes) {
                    background-color: themed('default_bg'); 
                }
                &::after {
                    transform: scale(1) rotate(-45deg);
                    content: '';
                    width: 5.8px;
                    height: 3.7px;
                    
                   // border-left: 1px solid $blue;
                   // border-bottom: 1px solid $blue;
                    @include themify($themes) {
                        border-left: 1px solid themed('primary_bg');
                        border-bottom: 1px solid themed('primary_bg');
                    }
                    position: absolute;
                    left: .125rem;
                    top: 50%;
                    margin-top: -.1875rem;
                }
            }
        }

        &:not(:checked):disabled~.#{$prefix}-toggle-label {
            @include themify($themes) {
                opacity: themed('disabled_all');
            }
            &::before {
                //border: .0625rem solid rgba($dark-10,0.5);
                @include themify($themes) {
                    border: .0625rem solid themed('default_border');
                }
            }
        }

        &:checked:disabled~.#{$prefix}-toggle-label {
            &::before {
              //  background-color: rgba($blue,0.5);
                @include themify($themes) {
                    opacity: themed('disabled_all');
                    background-color: themed('primary_bg'); 
                    border: .0625rem solid themed('default_border');
                }
            }
            .#{$prefix}-switch {
            &::after {
                @include themify($themes) {
                    opacity: themed('disabled_all');
                }
            }
        }
        }

        &:focus~.#{$prefix}-toggle-label {
            &::before {
                box-shadow: 0 0 0 0.125rem $checkbox-focus-color;
            }
        }
    }

    .#{$prefix}-toggle-off,
    .#{$prefix}-toggle-on {
        font-size: .875rem;
        line-height: 1rem;
        letter-spacing: .01rem;
       // color: $dark-10;
        @include themify($themes) {
            color: themed('default_text_high'); 
        }
    }
}