<footer class="hcl-footer p-5">
  <div class="hcl-footer-caption">
    Copyright © HCL Software. All rights reserved
  </div>
  <ul class="hcl-footer-navigation">
    <li class="hcl-navigation-item">
      <a href="https://www.hcltechsw.com/legal/privacy" class="hcl-link"
        >Legal</a
      >
    </li>
    <li class="hcl-navigation-item">
      <a href="https://www.hcltech.com/disclaimer" class="hcl-link"
        >Disclaimer</a
      >
    </li>
    <li class="hcl-navigation-item">
      <a href="https://www.hcltech.com/privacy-statement" class="hcl-link"
        >Privacy</a
      >
    </li>
    <li class="hcl-navigation-item">
      <a href="https://www.hcltech.com/terms-use" class="hcl-link"
        >Terms of use</a
      >
    </li>
    <li class="hcl-navigation-item">
      <a href="https://www.hcltech.com/contact-us/customer" class="hcl-link"
        >Contact Us</a
      >
    </li>
  </ul>
</footer>
