.#{$prefix}-modal {
    // Below props will be required for component 
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: hsla(var(--grey-secondary), 0%, 9%, .5);
    visibility: hidden;

    &-isVisible {
        z-index: 9000;
        opacity: 1;
        transition: opacity .4s cubic-bezier(0, 0, .3, 1);
        visibility: visible;
    }

    .#{$prefix}-modal-container {

        &-danger{
            border-top: 0.25rem solid #E0182D;  
        }
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        border-top: 0.25rem solid #0066B3;
        box-shadow: 0 0.75rem 1.5rem 0 rgba(0,0,0,0.10);
        height: auto;
        width: 50%;
        max-width: 48rem;
        max-height: 90%;
    }

    &-header {
        padding-top: 1.5rem;
        margin-bottom: 1rem;
        width: 75%;
        padding-left: 10%;
    }

    &-label {

        &-disable{
            display: none;
        }
        font-size: .75rem;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: .0.02rem;
        margin-bottom: .25rem;
        height: 1rem;
    }

    &-heading {
        font-weight: 400;
        height: 1.15rem;
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        height: 3rem;
        width: 3rem;
        padding: .75rem;
        border: 0.125rem solid transparent;
        overflow: hidden;
        cursor: pointer;
        background-color: transparent;
    }

    &-content {
        font-size: .875rem;
        line-height: 1.25rem;
        letter-spacing: 0.01rem;
        overflow-y: auto;
        margin-bottom: 3rem;
        font-weight: 400;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        height: 7.6875rem;
    }

    &-footer {
        display: flex;
        margin-top: auto;
        height: 4rem;
        background-color: #E4F5FC;
        justify-content: flex-end;
        padding-right: 10%;
        height: 3.875rem;

        &-disable{
            display: none;
        }

    }
}

@include respond-to(x-small){
    .#{$prefix}-modal-container-sm {
        width: 100% !important;
        height: 100% !important;
    }
}


@include respond-to(small){
    .#{$prefix}-modal-container-sm {
        width: 100% !important;
        height: 100% !important;
    }
}