.#{$prefix}-modal {

    &-hide {
        display: none;
    }

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 9%, .5);
    z-index: 2; // this is added because of tabs
    display: flex;
    align-items: center;
    justify-content: center;

    .#{$prefix}-modal-container {

        &-danger {
            border-top: 0.25rem solid var(--error);
        }

        position: relative;
        background-color: var(--white);
        border-top: 0.25rem solid var(--blue);
        box-shadow: 0 0.75rem 1.5rem 0 rgba(0, 0, 0, 0.10);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-between(md, xxl) {
            &.#{$prefix}-modal-container-lg {
                width: 50%;
                max-width: 48rem;
                max-height: 90%;
                height: auto;
            }
        }
    }

    &-header{
        word-wrap: break-word;
    }

    &-header {
        padding: 1rem 10% 1rem 10%;
        margin-top: 1.25rem;
    }

    &-label {

        &-hide {
            display: none;
        }

        margin-bottom: .25rem;
    }

    &-close {
        position: absolute !important;
        right: 0;
        top: 0;
        margin: 1rem 1.25rem;
        // we are not using var for #5A6872 because of saas issue
        @include hcl-close-icon(14, $white, $lightGrey);
    }

    &-content {
        overflow-y: scroll;
        margin-bottom: 2rem;
        width: 100%;
        padding: 2% 10%;
        max-height: 15rem;
    }

    &-footer {
        display: flex;
        margin-top: auto;
        height: 4rem;
        background-color: var(--sky-blue);
        justify-content: flex-end;
        padding: 0.75rem 3.5rem;
        height: 3.875rem;

        &-hide {
            display: none;
        }

    }

    .hcl-btn {
        margin: 0 0.625rem !important;
        width: 5.625rem;
    }
}