<section class="p-5">
  <span>
    Interactive Tooltip Label
    <svg
      tabindex="0"
      class="hcl-interactive-tooltip"
      data-direction="right"
      data-focus-on-click
      data-tooltip="#tooltipContent"
      role="tooltip"
      focusable="false"
      preserveAspectRatio="xMidYMid meet"
      style="will-change: transform"
      xmlns="https://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
    >
      <path
        d="M8.5 11V6.5h-2v1h1V11H6v1h4v-1zM8 3.5c-.4 0-.8.3-.8.8s.4.7.8.7.8-.3.8-.8-.4-.7-.8-.7z"
      ></path>
      <path
        d="M8 15c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7zM8 2C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6z"
      ></path>
    </svg>
  </span>
  <div id="tooltipContent">
    <p>
      This is some tooltip text. This box shows the maximum amount of text that
      should appear inside. If more room is needed please use a modal instead.
    </p>
    <div>
      <a href="#">Learn More</a>
      <button type="button" class="hcl-btn hcl-primary">Create</button>
    </div>
  </div>
</section>
