<table class="hcl-data-table hcl-data-table-compact">
    <thead>
        <tr>
            <th class="sortable">Name</th>
            <th>Protocol</th>
            <th>Port</th>
            <th>Rule</th>
            <th>Attached Groups</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Load Balancer 1</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen&#x27;s VM Groups</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>Load Balancer 2</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen&#x27;s VM Groups</td>
            <td>Active</td>
        </tr>
        <tr>
            <td>Load Balancer 3</td>
            <td>HTTP</td>
            <td>80</td>
            <td>Round Robin</td>
            <td>Maureen&#x27;s VM Groups</td>
            <td>Active</td>
        </tr>
    </tbody>
</table>