<div class="hcl-data-table-wrapper">
  <table class="hcl-data-table hcl-data-table-compact">
    <thead>
      <tr>
        <th><div class="header-text-wrapper">Name</div></th>
        <th><div class="header-text-wrapper">Protocol</div></th>
        <th><div class="header-text-wrapper">Port</div></th>
        <th><div class="header-text-wrapper">Rule</div></th>
        <th><div class="header-text-wrapper">Attached Groups</div></th>
        <th><div class="header-text-wrapper">Status</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="body-content-wrapper">Load Balancer 1</div></td>
        <td><div class="body-content-wrapper">HTTP</div></td>
        <td><div class="body-content-wrapper">80</div></td>
        <td><div class="body-content-wrapper">Round Robin</div></td>
        <td>
          <div class="body-content-wrapper">Maureen&#x27;s VM Groups</div>
        </td>
        <td><div class="body-content-wrapper">Active</div></td>
      </tr>
      <tr>
        <td><div class="body-content-wrapper">Load Balancer 2</div></td>
        <td><div class="body-content-wrapper">HTTP</div></td>
        <td><div class="body-content-wrapper">80</div></td>
        <td><div class="body-content-wrapper">Round Robin</div></td>
        <td>
          <div class="body-content-wrapper">Maureen&#x27;s VM Groups</div>
        </td>
        <td><div class="body-content-wrapper">Active</div></td>
      </tr>
      <tr>
        <td><div class="body-content-wrapper">Load Balancer 3</div></td>
        <td><div class="body-content-wrapper">HTTP</div></td>
        <td><div class="body-content-wrapper">80</div></td>
        <td><div class="body-content-wrapper">Round Robin</div></td>
        <td>
          <div class="body-content-wrapper">Maureen&#x27;s VM Groups</div>
        </td>
        <td><div class="body-content-wrapper">Active</div></td>
      </tr>
    </tbody>
  </table>
</div>
