@import '../../base';

.#{$prefix}-timepicker {
  display: flex;
  flex-direction: column;
  &-label {
    @include themify($themes) {
      color: themed('default_text');
    }
  }
  &-input {
    display: flex;
    flex-direction: row;
    @include themify($themes) {
      color: themed('input_text_low');
    }
    @include themify($themes) {
      border-bottom: themed('interactive_border');
    }
    input {
      width: 5.25rem;
      @include themify($themes) {
        background-color: themed('input_bg');
        border-bottom: 1px solid themed('input_border');
        color: themed('input_text_low');
      }

      &:focus {
        @include themify($themes) {
          border-bottom: 1px solid themed('interactive_border');
          color: themed('input_text_low');
        }
      }
      &:active {
        @include themify($themes) {
          border-bottom: 1px solid themed('input_border');
          color: themed('input_text');
        }
      }

      &:disabled,
      &[disabled='disabled'] {
        @include themify($themes) {
          cursor: not-allowed;
          opacity: themed('disabled_all');
        }
      }
    }
  }

  &:disabled,
  &[disabled='disabled'] {
    @include themify($themes) {
      cursor: not-allowed;
      opacity: themed('disabled_all');
    }
  }

  .#{$prefix}-timepicker-hour-label {
    @include themify($themes) {
      color: themed('interactive_text');
      background-color: themed('interactive_bg');
    }
    display: flex;
    align-items: center;
    padding-left: 0.625rem;
  }
}
