<div class="hcl-timepicker" id="timepicker-timezone">
  <label for="hcl-timepicker-3" class="hcl-label">Select a time</label>
  <div class="hcl-timepicker-input">
    <input
      id="hcl-timepicker-3"
      type="text"
      class="hcl-form-control"
      placeholder="hh:mm"
      maxlength="5"
    />
    <select class="hcl-select" aria-label="choose option">
      <option class="hcl-select-option" value="AM">AM</option>
      <option class="hcl-select-option" value="PM">PM</option>
    </select>
    <select class="hcl-select" aria-label="choose option">
      <option class="hcl-select-option" value="option-1">Time zone 1</option>
      <option class="hcl-select-option" value="option-2">Time zone 2</option>
      <option class="hcl-select-option" value="option-3">Time zone 3</option>
    </select>
  </div>
  <div class="hcl-error-msg"></div>
</div>
