/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

/* MIXINS SPECIFIC TO TYPOGRAPHY */

// Font weight
$fontWeights-map: ( light: 300, regular: 400, semibold: 600, bold: 800);
@mixin getFontWeight($fontWeight) {
    @if map-has-key($fontWeights-map, $fontWeight) {
        font-weight: map-get($fontWeights-map, $fontWeight);
    }
    @else {
        @warn 'This is not define in the HCL design System!';
    }
}

// Font style
$fontStyles-map: (underline, italic);
@each $fontStyle in $fontStyles-map {
    .#{$fontStyle} {
        font-style: $fontStyle;
    }
}

$textTransforms-map: (uppercase, lowercase, capitalize);
@each $textTransform in $textTransforms-map {
    .#{$textTransform} {
        text-transform: $textTransform;
    }
}

$textAlignments-map: ( "center": center, "left": left, "right": right, "justify": justify);
@mixin getTextAlignment($alignment) {
    @if map-has-key($textAlignments-map, $alignment) {
        text-align: map-get($textAlignments-map, $alignment);
    }
    @else {
        @warn 'This is not define in the HCL design System!';
    }
}

// Font sizes
$typeSizes-map: ( "h1": 4.75rem, "h2": 3.375rem, "h3": 2.25rem, "h4": 1.75rem, "h5": 1.25rem, "h6": 1.125rem, "16": 1rem, "11": 0.6875rem, "12": 0.75rem, "14": 0.875rem);
@mixin getFontSize($size) {
    @if map-has-key($typeSizes-map, $size) {
        font-size: map-get($typeSizes-map, $size);
    }
    @else {
        @warn 'This is not define in the HCL design System!';
    }
}

@mixin fontSmoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin letterSpacing {
    letter-spacing: 0;
}

@mixin lineHeight($type) {
    @if ($type=="heading") {
        line-height: 1.125;
    }
    @else {
        line-height: 1.15;
    }
}