/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import "mixins";
// TEXT ALIGNMENT
.#{$prefix}-text-right {
    @include getTextAlignment("right");
}

.#{$prefix}-text-left {
    @include getTextAlignment("left");
}

.#{$prefix}-text-center {
    @include getTextAlignment("center");
}

.#{$prefix}-text-justify {
    @include getTextAlignment("justify");
}

// TEXT STYLE
.#{$prefix}-text-bold {
    @include getFontWeight("bold");
}

.#{$prefix}-text-light {
    @include getFontWeight("light");
}

.#{$prefix}-text-regular {
    @include getFontWeight("regular");
}

.#{$prefix}-text-semibold {
    @include getFontWeight("semibold");
}

// HEADINGS
h1,
.#{$prefix}-h1 {
    @include getFontSize("h1");
    @include lineHeight("heading");
}

h2,
.#{$prefix}-h2 {
    @include getFontSize("h2");
    @include lineHeight("heading");
}

h3,
.#{$prefix}-h3 {
    @include getFontSize("h3");
    @include lineHeight("heading");
}

h4,
.#{$prefix}-h4 {
    @include getFontSize("h4");
    @include lineHeight("heading");
}

h5,
.#{$prefix}-h5 {
    @include getFontSize("h5");
    @include lineHeight("heading");
}

h6,
.#{$prefix}-h6 {
    @include getFontSize("h6");
    @include lineHeight("heading");
}

// LINK
a {
    color: theme-color("primary");
    @include getFontSize("14");
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

// PARAGRAPH
p,
.#{$prefix}-p {
    @include getFontSize("16");
    color: inherit;
    line-height: var(--base-line-height);
}