<button class="hcl-tag hcl-tag-primary" id="hcl-primary" title="primary" tabindex="0">
    <span class="hcl-tag-text">
        primary
    </span>
</button>
<button class="hcl-tag hcl-tag-primary" id="hcl-primary-disabled" title="secondary" tabindex="0" disabled>
    <span class="hcl-tag-text">
        primary-disabled
    </span>
</button>
<br />
<button class="hcl-tag hcl-tag-primary" id="hcl-primary-closeable" title="primary-closeable" tabindex="0">
    <span class="hcl-tag-text">
        primary-closeable
    </span>
    <span class="hcl-tag-icon" aria-hidden="true" tabindex="0"></span>
    <span class="hcl-close" aria-hidden="true" tabindex="0"></span>
</button>
<button class="hcl-tag hcl-tag-primary" id="hcl-primary-thumbnail-closeable" title="primary-thumbnail-closeable" tabindex="0">
    <span class="hcl-tag-thumbnail" aria-hidden="true"></span>
    <span class="hcl-tag-text">
        primary-thumbnail-closeable
    </span>
    <span class="hcl-tag-icon" aria-hidden="true" tabindex="0"></span>
    <span class="hcl-close" aria-hidden="true" tabindex="0"></span>
</button>