<div>
    <button id="hcl-btn-modal-type5" data-modal-type="5" class="hcl-btn">
       click me
    </button>
    <section id="hcl-modal-type5" data-modal-type="5" class="hcl-modal hcl-modal-hide row">
        <div id="hcl-modal-type5" data-modal-type="5"
            class="hcl-modal-container hcl-modal-container-danger hcl-modal-container-lg">
            <header class="hcl-modal-header hcl-modal-header-lg">
                <h5>Modal heading</h5>
            </header>
            <div class="hcl-modal-content hcl-modal-content-lg">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id
                    accumsan augue. Phasellus consequat augue vitae tellus tincidunt
                    posuere.
                </p>
            </div>
            <button id="hcl-modal-close-type5" class="hcl-modal-close"></button>
        </div>
    </section>
</div>