<!-- <div class="hcl-pb-linear-wrapper" id="pbar-linear-determ">
  <div class="hcl-pb-linear-label mb-2">
    <span class="hcl-pb-linear-label-content"> Downloading.. </span>
    <span class="hcl-pb-linear-label-value"> 50% </span>
  </div>
  <div class="hcl-pb-linear-content">
    <div class="hcl-pb-linear-style"></div>
  </div>
  <div class="hcl-pb-linear-subtext mt-2">Subtext</div>
</div> -->

<div class="hcl-pb-linear-wrapper" id="pbar-linear-determ">
  <div class="hcl-pb-linear-label">
    <span class="hcl-pb-linear-label-content"> Downloading.. </span>
    <span class="hcl-pb-linear-label-value"> 50% </span>
  </div>
  <svg class="hcl-pb-linear" preserveAspectRatio="none" viewBox="0 0 100 4">
    <line
      class="hcl-pb-linear-bgline hcl-pb-linear-line"
      x1="0"
      y1="2"
      x2="100"
      y2="2"
    />
    <line
      class="hcl-pb-linear-mainline hcl-pb-linear-line"
      y1="2"
      x2="0"
      y2="2"
    />
  </svg>
  <div class="hcl-pb-linear-subtext mt-2">Subtext</div>
</div>
