<div  class="p-5">
  <button
    id="hcl-modal-danger-label-action"
    data-toggle="modal"
    data-target="#hcl-modal-type7"
    class="hcl-btn hcl-primary"
  >
    click me
  </button>
  <section
    id="hcl-modal-type7"
    tabindex="0"
    class="hcl-modal hcl-modal-hide row"
    role="dialog"
    aria-labelledby="dangerLabelAction"
  >
    <div
      class="hcl-modal-container hcl-modal-container-danger hcl-modal-container-lg"
    >
      <header class="hcl-modal-header hcl-modal-header-lg">
        <small class="hcl-modal-label">Optional label</small>
        <h5>Modal heading</h5>
      </header>
      <div class="hcl-modal-content hcl-modal-content-lg">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id
          accumsan augue. Phasellus consequat augue vitae tellus tincidunt
          posuere.
        </p>
      </div>
      <footer class="hcl-modal-footer hcl-modal-footer-lg">
        <button
          id="hcl-modal-cancel-type7"
          data-dismiss-btn
          class="hcl-btn hcl-modal-cancel hcl-modal-btn hcl-secondary hcl-danger"
        >
          Cancel
        </button>
        <button class="hcl-btn hcl-primary hcl-danger hcl-modal-btn">
          Delete
        </button>
      </footer>
      <button
        id="hcl-modal-close-type7"
        aria-label="modal close"
        data-dismiss-btn
        class="hcl-modal-close"
      ></button>
    </div>
  </section>
</div>
