<div
  class="hcl-data-table-wrapper data-table-sticky-header hcl-data-table-borderless"
>
  <table class="hcl-data-table">
    <thead>
      <tr>
        <th><div class="hcl-data-table-header-wrapper">Name</div></th>
        <th><div class="hcl-data-table-header-wrapper">Protocol</div></th>
        <th><div class="hcl-data-table-header-wrapper">Port</div></th>
        <th><div class="hcl-data-table-header-wrapper">Rule</div></th>
        <th>
          <div class="hcl-data-table-header-wrapper">Attached Groups</div>
        </th>
        <th><div class="hcl-data-table-header-wrapper">Status</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Load Balancer 1</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 2</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 3</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>
</div>
