@mixin indeter-pb($size) {
  > svg {
    @if ($size==default) {
      height: $loader-width-medium;
      width: $loader-width-medium;
    } @else if ($size==small) {
      height: $loader-width-small;
      width: $loader-width-small;
    } @else if ($size==large) {
      height: $loader-width-large;
      width: $loader-width-large;
    }

    > circle {
      @if ($size== 'default') {
        stroke-width: 4;
      } @else if ($size== 'small') {
        stroke-width: 6;
      } @else if ($size== 'large') {
        stroke-width: 3;
      }
      stroke: var(--primary_bg);
      stroke-linecap: round;
    }

    > .dot {
      stroke-dasharray: 0, 200;
    }

    > .#{$prefix}-pb-bgcircle {
      stroke: var(--default_bg_high);
    }

    > .#{$prefix}-pb-maincircle {
      @if ($size == 'large') {
        animation: stroke-dash 2.5s ease-in-out infinite;
      } @else {
        animation: stroke-dash 2s ease-in-out infinite;
      }
    }

    > .#{$prefix}-pb-dot1 {
      @if ($size == 'large') {
        animation: stroke-dot1 2.5s ease-in infinite;
      } @else {
        animation: stroke-dot1 2s ease-in infinite;
      }
    }
    > .#{$prefix}-pb-dot2 {
      @if ($size == 'large') {
        animation: stroke-dot2 2.5s ease-in infinite;
      } @else {
        animation: stroke-dot2 2s ease-in infinite;
      }
    }
    > .#{$prefix}-pb-dot3 {
      @if ($size == 'large') {
        animation: stroke-dot3 2.5s ease-in infinite;
      } @else {
        animation: stroke-dot3 2s ease-in infinite;
      }
    }

    fill: none;
    animation: spin 4.3s linear both infinite;
  }
}

@mixin determ-pb($size) {
  > svg {
    @if ($size==default) {
      height: $loader-width-medium;
      width: $loader-width-medium;
    } @else if ($size==small) {
      height: $loader-width-small;
      width: $loader-width-small;
    } @else if ($size==large) {
      height: $loader-width-large;
      width: $loader-width-large;
    }
    > circle {
      @if ($size== 'default') {
        stroke-width: 4;
      } @else if ($size== 'small') {
        stroke-width: 2;
      } @else if ($size== 'large') {
        stroke-width: 4;
      }
      fill: none;
    }
  }
  .#{$prefix}-progressbar-circle-text {
    font-size: 0.75rem;
    text-anchor: middle;
    color: var(--default_text);
  }
}

.#{$prefix}-progressbar-linear {
  &-label-content {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
  &-label-content,
  &-label-value,
  &-subtext {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--default_text);
  }
  &-content {
    background-color: var(--default_bg_high);
    height: 0.25rem;
    .#{$prefix}-progressbar-linear-style {
      background-color: var(--primary_bg);
    }
  }

  &-label-value {
    float: right;
  }
}

.#{$prefix}-progressbar-circle {
  .#{$prefix}-progressbar-circle-inner {
    fill: none;
    stroke: var(--default_bg_high);
  }
  &-outer {
    fill: none;
    stroke: var(--primary_bg);
  }
  &-text {
    font-size: 0.75rem;
    text-anchor: middle;
    fill: var(--default_text);
  }
}

.#{$prefix}-determ-pb-circle {
  @include determ-pb(default);
}

.#{$prefix}-determ-pb-circle-small {
  @include determ-pb(small);
}

.#{$prefix}-determ-pb-circle-large {
  @include determ-pb(large);
}

.#{$prefix}-indeterm-pb-circle {
  @include indeter-pb(default);
}

.#{$prefix}-indeterm-pb-circle-small {
  @include indeter-pb(small);
}

.#{$prefix}-indeterm-pb-circle-large {
  @include indeter-pb(large);
}

.#{$prefix}-indeterm-pb-linear {
  position: relative;
  .#{$prefix}-linear {
    height: 4px;
    fill: none;
    &-line {
      stroke: var(--primary_bg);
      stroke-width: 0.25rem;
    }

    &-bgline {
      stroke: var(--default_bg_high);
    }

    &-mainline-one {
      animation: stroke-dash-linear 4s ease-in-out infinite;
    }
    &-mainline-two {
      animation: stroke-dash-one-linear 4s ease-in-out infinite;
    }

    &-dot {
      stroke-dasharray: 1, 200;
    }

    &-dot-one {
      animation: stroke-dot-one-linear 4s ease-in infinite;
    }

    &-dot-two {
      animation: stroke-dot-two-linear 4s ease-in infinite;
    }

    &-dot-three {
      animation: stroke-dot-three-linear 4s ease-in infinite;
    }
  }
}

@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 60, 200;
  }

  100% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: -125px;
  }
}

@keyframes stroke-dot1 {
  0% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }

  25% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 2, 200;
    stroke-dashoffset: -125px;
  }
}

@keyframes stroke-dot2 {
  0% {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: -12px;
  }

  100% {
    stroke-dasharray: 2, 200;
    stroke-dashoffset: -150px;
  }
}

@keyframes stroke-dot3 {
  0% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: -24px;
  }

  100% {
    stroke-dasharray: 2, 200;
    stroke-dashoffset: -175px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes stroke-dash-linear {
  0% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }

  20% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }

  60% {
    stroke-dasharray: 60, 200;
  }

  100% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: -125px;
  }
}

@keyframes stroke-dash-one-linear {
  0% {
    stroke-dasharray: 20, 200;
    stroke-dashoffset: 0;
  }

  20% {
    stroke-dasharray: 70, 200;
  }

  40% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: -125px;
  }

  80% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: -125px;
  }

  80% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 20, 200;
    stroke-dashoffset: 0;
  }
}

@keyframes stroke-dot-one-linear {
  0% {
    stroke-dashoffset: 4px;
  }

  60% {
    stroke-dashoffset: 4px;
  }

  60% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes stroke-dot-two-linear {
  0% {
    stroke-dashoffset: 4px;
  }

  62% {
    stroke-dashoffset: 4px;
  }

  62% {
    stroke-dashoffset: -12px;
  }

  100% {
    stroke-dashoffset: -150px;
  }
}

@keyframes stroke-dot-three-linear {
  0% {
    stroke-dashoffset: 4px;
  }

  64% {
    stroke-dashoffset: 4px;
  }

  64% {
    stroke-dashoffset: -24px;
  }

  100% {
    stroke-dashoffset: -175px;
  }
}
