.#{$prefix}-progressbar-linear {
  &-label-content,
  &-label-value,
  &-subtext {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--default_text);
  }
  &-content {
    background-color: var(--default_bg_high);
    height: 0.25rem;
    .#{$prefix}-progressbar-linear-style {
      background-color: var(--primary_bg);
    }
  }

  &-label-value {
    float: right;
  }
}


.#{$prefix}-progressbar-circle {
  .#{$prefix}-progressbar-circle-inner {
    fill: none;
    stroke: var(--default_bg_high);
  }
  &-outer {
    fill: none;
    stroke: var(--primary_bg);
  }
  &-text {
    font-size: 1rem;
    text-anchor: middle;
    fill: #fff;
  }
}