<section class="hcl-dropdown hcl-dropdown-multiSelect" id="multi-dropdown">
    <div role="button" class="hcl-btn hcl-dropdown-toggle"aria-haspopup="true" aria-controls="dropdown" aria-expanded="false" data-toggle="dropdown" tabindex="0">
        <button class="hcl-tag hcl-tag-primary hidden" title="primary-closeable" tabindex="0">
            <span class="hcl-tag-text"></span>
            <span class="hcl-close" aria-hidden="true" tabindex="0"></span>
        </button>
        <span class="hcl-dropdown-text">MultiSelect Dropdown</span>
    </div>
    <ul class="hcl-dropdown-container" aria-expanded="true" aria-labelledby="dropdown">
        <li class="hcl-dropdown-item">
            <div class="hcl-checkbox-item" role="menuitem" tabindex="0">
                <input class="hcl-checkbox" id="check0" type="checkbox" tabindex="-1" value="check0">
                <label class="hcl-checkbox-label" for="check0">A</label>
            </div>
        </li>
        <li class="hcl-dropdown-item">
            <div class="hcl-checkbox-item" role="menuitem" tabindex="0">
                <input class="hcl-checkbox" id="check1" type="checkbox" tabindex="-1" value="check1">
                <label class="hcl-checkbox-label" for="check0">B</label>
            </div>
        </li>
        <li class="hcl-dropdown-item">
            <div class="hcl-checkbox-item" role="menuitem" tabindex="0">
                <input class="hcl-checkbox" id="check2" type="checkbox"tabindex="-1"  value="check2">
                <label class="hcl-checkbox-label" for="check0">C</label>
            </div>
        </li>
    </ul>
</section>