<div class="p-5">
  <div
    class="hcl-overlay-wrapper hcl-dropdown hcl-dropdown-multiSelect"
    id="multi-dropdown"
  >
    <div
      role="button"
      class="hcl-btn hcl-dropdown-toggle"
      id="multiselect-dropdown-btn"
      aria-haspopup="true"
      aria-controls="multiselect-container"
      data-toggle="dropdown"
      tabindex="0"
    >
      <button
        class="hcl-tag hcl-tag-primary hidden"
        title="primary-closeable"
        tabindex="-1"
      >
        <span class="hcl-tag-text"></span>
        <span
          aria-label="close-icon"
          class="hcl-tag-close"
          aria-hidden="true"
          tabindex="0"
          ><svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 16 16"
            xml:space="preserve"
          >
            <polygon
              points="15.393,2.021 13.979,0.607 8,6.586 2.021,0.607 0.607,2.021 6.586,8 0.607,13.979 2.021,15.393 8,9.414 
       13.979,15.393 15.393,13.979 9.414,8 "
            /></svg
        ></span>
      </button>
      <span class="hcl-dropdown-text">MultiSelect Dropdown</span>
    </div>

    <div class="hcl-overlay-container">
      <ul
        class="hcl-dropdown-menu"
        role="menu"
        id="multiselect-container"
        aria-labelledby="multiselect-dropdown-btn"
      >
        <li class="hcl-dropdown-item" tabindex="0">
          <div class="hcl-checkbox-item" role="checkbox" aria-label="A">
            <input
              class="hcl-checkbox"
              id="check0"
              type="checkbox"
              tabindex="-1"
              value="check0"
            />
            <label class="hcl-checkbox-label" for="check0">A</label>
          </div>
        </li>
        <li class="hcl-dropdown-item" tabindex="0">
          <div class="hcl-checkbox-item" aria-label="B" role="checkbox">
            <input
              class="hcl-checkbox"
              id="check1"
              type="checkbox"
              tabindex="-1"
              value="check1"
            />
            <label class="hcl-checkbox-label" for="check1">B</label>
          </div>
        </li>
        <li class="hcl-dropdown-item" tabindex="0">
          <div class="hcl-checkbox-item" aria-label="C" role="checkbox">
            <input
              class="hcl-checkbox"
              id="check2"
              type="checkbox"
              tabindex="-1"
              value="check2"
            />
            <label class="hcl-checkbox-label" for="check2">C</label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
