<div class="hcl-data-table-wrapper">
  <table class="hcl-data-table hcl-loading">
    <thead>
      <tr>
        <th><div class="header-text-wrapper">Id</div></th>
        <th class="sortable"><div class="header-text-wrapper">Name</div></th>
        <th><div class="header-text-wrapper">Protocol</div></th>
        <th><div class="header-text-wrapper">Port</div></th>
        <th><div class="header-text-wrapper">Rule</div></th>
        <th><div class="header-text-wrapper">Attached Groups</div></th>
        <th><div class="header-text-wrapper">Status</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
      </tr>
      <tr>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
      </tr>
      <tr>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
        <td><span></span></td>
      </tr>
    </tbody>
  </table>
</div>
