<table class="hcl-data-table hcl-loading">
  <thead>
    <tr>
      <th>
        TEST
      </th>
      <th class="sortable">Name</th>
      <th>Protocol</th>
      <th>Port</th>
      <th>Rule</th>
      <th>Attached Groups</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
    </tr>
    <tr>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
      <td><span></span></td>
    </tr>
  </tbody>
</table>
