:root {
  --fontsize_xxhuge: 3rem;
  --fontsize_xhuge: 2.25rem;
  --fontsize_huge: 2rem;
  --fontsize_xlarge: 1.75rem;
  --fontsize_large: 1.5rem;
  --fontsize_medium: 1.25rem;
  --fontsize_default: 1rem;
  --fontsize_small: 0.875rem;
  --fontsize_smaller: 0.75rem;
  --fontsize_tiny: 0.0625rem;
  --leading_taller: 3.125rem;
  --leading_tall: 2.5rem;
  --leading_default: 1.75rem;
  --leading_short: 1.5rem;
  --leading_shorter: 1.375rem;
  --kerning_xxwide: 0.09375rem;
  --kerning_xwide: 0.0625rem;
  --kerning_wide: 0.03125rem;
  --kerning_roomy: 0.015625rem;
  --kerning_comfortable: 0.009375rem;
  --kerning_default: 0;
  --kerning_tight: -0.009375rem;
  --kerning_narrow: -0.015625rem;
  --kerning_condensed: -0.03125rem;
  --kerning_xcondensed: -0.0625rem;
  --kerning_xxcondensed: -0.09375rem;
  --weight_lighter: 100;
  --weight_light: 300;
  --weight_regular: 400;
  --weight_medium: 500;
  --weight_bold: 700;
  --weight_bolder: 900;
  --typeface_regular: 'Roboto';
  --typeface_mono: 'Roboto Mono';
  --typeface_unicode: 'Noto';
  --typeface_heading: 'Roboto';
  --typeface_special: 'Roboto';
  --capitalization_sentence: capitalize;
  --capitalization_all_caps: uppercase;
  --capitalization_headline: uppercase;
  --capitalization_lowercase: none;
  --capitalization_small_caps: lowercase;
}
