:root {
  --fontsize-xxhuge: 3rem;
  --fontsize-xhuge: 2.25rem;
  --fontsize-huge: 2rem;
  --fontsize-xlarge: 1.75rem;
  --fontsize-large: 1.5rem;
  --fontsize-medium: 1.25rem;
  --fontsize-default: 1rem;
  --fontsize-small: 0.875rem;
  --fontsize-smaller: 0.75rem;
  --fontsize-tiny: 0.625rem;
  --leading-taller: 3.125rem;
  --leading-tall: 2.5rem;
  --leading-default: 1.75rem;
  --leading-short: 1.5rem;
  --leading-shorter: 1.375rem;
  --kerning-xxwide: 0.09375rem;
  --kerning-xwide: 0.0625rem;
  --kerning-wide: 0.03125rem;
  --kerning-roomy: 0.015625rem;
  --kerning-comfortable: 0.009375rem;
  --kerning-default: 0;
  --kerning-tight: -0.009375rem;
  --kerning-narrow: -0.015625rem;
  --kerning-condensed: -0.03125rem;
  --kerning-xcondensed: -0.0625rem;
  --kerning-xxcondensed: -0.09375rem;
  --weight-lighter: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-bolder: 900;
  --typeface-regular: 'Roboto';
  --typeface-mono: 'Roboto Mono';
  --typeface-unicode: 'Noto';
  --typeface-heading: 'Roboto';
  --typeface-special: 'Roboto';
  --capitalization-sentence: initial;
  --capitalization-all-caps: uppercase;
  --capitalization-headline: capitalize;
  --capitalization-lowercase: lowercase;
  --capitalization-small-caps: uppercase;
}
