:root,
.#{$prefix}-productive {
  --page-heading-font-size: var(--fontsize-huge);
  --page-heading-typeface: var(--typeface-heading);
  --page-heading-weight: var(--weight-regular);
  --page-heading-leading: var(--leading-short);
  --page-heading-kerning: var(--kerning-default);
  --page-heading-capitalization: var(--capitalization-sentence);

  --page-heading-small-font-size: var(--fontsize-xlarge);
  --page-heading-small-typeface: var(--typeface-heading);
  --page-heading-small-weight: var(--weight-regular);
  --page-heading-small-leading: var(--leading-short);
  --page-heading-small-kerning: var(--kerning-default);
  --page-heading-small-capitalization: var(--capitalization-sentence);

  --page-nav-font-size: var(--fontsize-small);
  --page-nav-typeface: var(--typeface-regular);
  --page-nav-weight: var(--weight-regular);
  --page-nav-leading: var(--leading-short);
  --page-nav-kerning: var(--kerning-comfortable);
  --page-nav-capitalization: var(--capitalization-sentence);

  --page-subnav-font-size: var(--fontsize-small);
  --page-subnav-typeface: var(--typeface-regular);
  --page-subnav-weight: var(--weight-regular);
  --page-subnav-leading: var(--leading-short);
  --page-subnav-kerning: var(--kerning-comfortable);
  --page-subnav-capitalization: var(--capitalization-sentence);

  --page-descriptive-font-size: var(--fontsize-small);
  --page-descriptive-typeface: var(--typeface-regular);
  --page-descriptive-weight: var(--weight-regular);
  --page-descriptive-leading: var(--leading-short);
  --page-descriptive-kerning: var(--kerning-comfortable);
  --page-descriptive-capitalization: var(--capitalization-sentence);

  --page-action-font-size: var(--fontsize-small);
  --page-action-typeface: var(--typeface-regular);
  --page-action-weight: var(--weight-medium);
  --page-action-leading: var(--leading-short);
  --page-action-kerning: var(--kerning-comfortable);
  --page-action-capitalization: var(--capitalization-sentence);

  --page-body-font-size: var(--fontsize-large);
  --page-body-typeface: var(--typeface-regular);
  --page-body-weight: var(--weight-regular);
  --page-body-leading: var(--leading-default);
  --page-body-kerning: var(--kerning-default);
  --page-body-capitalization: var(--capitalization-sentence);

  --section-heading-font-size: var(--fontsize-huge);
  --section-heading-typeface: var(--typeface-heading);
  --section-heading-weight: var(--weight-regular);
  --section-heading-leading: var(--leading-short);
  --section-heading-kerning: var(--kerning-default);
  --section-heading-capitalization: var(--capitalization-sentence);

  --section-heading-small-font-size: var(--fontsize-xlarge);
  --section-heading-small-typeface: var(--typeface-heading);
  --section-heading-small-weight: var(--weight-regular);
  --section-heading-small-leading: var(--leading-short);
  --section-heading-small-kerning: var(--kerning-default);
  --section-heading-small-capitalization: var(--capitalization-sentence);

  --section-nav-font-size: var(--fontsize-small);
  --section-nav-typeface: var(--typeface-regular);
  --section-nav-weight: var(--weight-regular);
  --section-nav-leading: var(--leading-short);
  --section-nav-kerning: var(--kerning-comfortable);
  --section-nav-capitalization: var(--capitalization-sentence);

  --section-subnav-font-size: var(--fontsize-small);
  --section-subnav-typeface: var(--typeface-regular);
  --section-subnav-weight: var(--weight-regular);
  --section-subnav-leading: var(--leading-short);
  --section-subnav-kerning: var(--kerning-comfortable);
  --section-subnav-capitalization: var(--capitalization-sentence);

  --section-body-short-font-size: var(--fontsize-medium);
  --section-body-short-typeface: var(--typeface-regular);
  --section-body-short-weight: var(--weight-regular);
  --section-body-short-leading: var(--leading-short);
  --section-body-short-kerning: var(--kerning-default);
  --section-body-short-capitalization: var(--capitalization-sentence);

  --section-body-long-font-size: var(--fontsize-medium);
  --section-body-long-typeface: var(--typeface-regular);
  --section-body-long-weight: var(--weight-regular);
  --section-body-long-leading: var(--leading-default);
  --section-body-long-kerning: var(--kerning-default);
  --section-body-long-capitalization: var(--capitalization-sentence);

  --section-descriptive-font-size: var(--fontsize-small);
  --section-descriptive-typeface: var(--typeface-regular);
  --section-descriptive-weight: var(--weight-regular);
  --section-descriptive-leading: var(--leading-short);
  --section-descriptive-kerning: var(--kerning-comfortable);
  --section-descriptive-capitalization: var(--capitalization-sentence);

  --content-heading-font-size: var(--fontsize-large);
  --content-heading-typeface: var(--typeface-heading);
  --content-heading-weight: var(--weight-regular);
  --content-heading-leading: var(--leading-short);
  --content-heading-kerning: var(--kerning-default);
  --content-heading-capitalization: var(--capitalization-sentence);

  --content-heading-small-font-size: var(--fontsize-medium);
  --content-heading-small-typeface: var(--typeface-heading);
  --content-heading-small-weight: var(--weight-regular);
  --content-heading-small-leading: var(--leading-short);
  --content-heading-small-kerning: var(--kerning-default);
  --content-heading-small-capitalization: var(--capitalization-sentence);

  --content-nav-font-size: var(--fontsize-small);
  --content-nav-typeface: var(--typeface-regular);
  --content-nav-weight: var(--weight-regular);
  --content-nav-leading: var(--leading-short);
  --content-nav-kerning: var(--kerning-comfortable);
  --content-nav-capitalization: var(--capitalization-sentence);

  --content-body-short-font-size: var(--fontsize-default);
  --content-body-short-typeface: var(--typeface-regular);
  --content-body-short-weight: var(--weight-regular);
  --content-body-short-leading: var(--leading-short);
  --content-body-short-kerning: var(--kerning-default);
  --content-body-short-capitalization: var(--capitalization-sentence);

  --content-body-long-font-size: var(--fontsize-default);
  --content-body-long-typeface: var(--typeface-regular);
  --content-body-long-weight: var(--weight-regular);
  --content-body-long-leading: var(--leading-default);
  --content-body-long-kerning: var(--kerning-default);
  --content-body-long-capitalization: var(--capitalization-sentence);

  --content-descriptive-font-size: var(--fontsize-smaller);
  --content-descriptive-typeface: var(--typeface-regular);
  --content-descriptive-weight: var(--weight-regular);
  --content-descriptive-leading: var(--leading-default);
  --content-descriptive-kerning: var(--kerning-roomy);
  --content-descriptive-capitalization: var(--capitalization-sentence);

  --content-meta-font-size: var(--fontsize-smaller);
  --content-meta-typeface: var(--typeface-regular);
  --content-meta-weight: var(--weight-regular);
  --content-meta-leading: var(--leading-short);
  --content-meta-kerning: var(--kerning-comfortable);
  --content-meta-capitalization: var(--capitalization-sentence);

  --content-numeric-font-size: var(--fontsize-large);
  --content-numeric-typeface: var(--typeface-special);
  --content-numeric-weight: var(--weight-regular);
  --content-numeric-leading: var(--leading-short);
  --content-numeric-kerning: var(--kerning-comfortable);
  --content-numeric-capitalization: var(--capitalization-sentence);

  --content-action-font-size: var(--fontsize-small);
  --content-action-typeface: var(--typeface-regular);
  --content-action-weight: var(--weight-medium);
  --content-action-leading: var(--leading-short);
  --content-action-kerning: var(--kerning-comfortable);
  --content-action-capitalization: var(--capitalization-sentence);

  --component-heading-font-size: var(--fontsize-default);
  --component-heading-typeface: var(--typeface-heading);
  --component-heading-weight: var(--weight-medium);
  --component-heading-leading: var(--leading-short);
  --component-heading-kerning: var(--kerning-default);
  --component-heading-capitalization: var(--capitalization-sentence);

  --component-heading-small-font-size: var(--fontsize-small);
  --component-heading-small-typeface: var(--typeface-heading);
  --component-heading-small-weight: var(--weight-medium);
  --component-heading-small-leading: var(--leading-short);
  --component-heading-small-kerning: var(--kerning-comfortable);
  --component-heading-small-capitalization: var(--capitalization-sentence);

  --component-nav-font-size: var(--fontsize-small);
  --component-nav-typeface: var(--typeface-regular);
  --component-nav-weight: var(--weight-regular);
  --component-nav-leading: var(--leading-default);
  --component-nav-kerning: var(--kerning-comfortable);
  --component-nav-capitalization: var(--capitalization-sentence);

  --component-body-short-font-size: var(--fontsize-small);
  --component-body-short-typeface: var(--typeface-regular);
  --component-body-short-weight: var(--weight-regular);
  --component-body-short-leading: var(--leading-short);
  --component-body-short-kerning: var(--kerning-comfortable);
  --component-body-short-capitalization: var(--capitalization-sentence);

  --component-body-long-font-size: var(--fontsize-small);
  --component-body-long-typeface: var(--typeface-regular);
  --component-body-long-weight: var(--weight-regular);
  --component-body-long-leading: var(--leading-default);
  --component-body-long-kerning: var(--kerning-comfortable);
  --component-body-long-capitalization: var(--capitalization-sentence);

  --component-descriptive-font-size: var(--fontsize-smallest);
  --component-descriptive-typeface: var(--typeface-regular);
  --component-descriptive-weight: var(--weight-regular);
  --component-descriptive-leading: var(--leading-short);
  --component-descriptive-kerning: var(--kerning-roomy);
  --component-descriptive-capitalization: var(--capitalization-sentence);

  --component-meta-font-size: var(--fontsize-smallest);
  --component-meta-typeface: var(--typeface-regular);
  --component-meta-weight: var(--weight-regular);
  --component-meta-leading: var(--leading-short);
  --component-meta-kerning: var(--kerning-roomy);
  --component-meta-capitalization: var(--capitalization-sentence);

  --component-numeric-font-size: var(--fontsize-large);
  --component-numeric-typeface: var(--typeface-special);
  --component-numeric-weight: var(--weight-regular);
  --component-numeric-leading: var(--leading-short);
  --component-numeric-kerning: var(--kerning-comfortable);
  --component-numeric-capitalization: var(--capitalization-sentence);

  --additional-code-small-font-size: var(--fontsize-smallest);
  --additional-code-small-typeface: var(--typeface-mono);
  --additional-code-small-weight: var(--weight-regular);
  --additional-code-small-leading: var(--leading-short);
  --additional-code-small-kerning: var(--kerning-roomy);
  --additional-code-small-capitalization: var(--capitalization-sentence);

  --additional-code-large-font-size: var(--fontsize-small);
  --additional-code-large-typeface: var(--typeface-mono);
  --additional-code-large-weight: var(--weight-regular);
  --additional-code-large-leading: var(--leading-default);
  --additional-code-large-kerning: var(--kerning-roomy);
  --additional-code-large-capitalization: var(--capitalization-sentence);

  --additional-quote-font-size: var(--fontsize-large);
  --additional-quote-typeface: var(--typeface-regular);
  --additional-quote-weight: var(--weight-regular);
  --additional-quote-leading: var(--leading-short);
  --additional-quote-kerning: var(--kerning-default);
  --additional-quote-capitalization: var(--capitalization-sentence);

  --additional-active-font-size: var(--fontsize-small);
  --additional-active-typeface: var(--typeface-regular);
  --additional-active-weight: var(--weight-medium);
  --additional-active-leading: var(--leading-short);
  --additional-active-kerning: var(--kerning-comfortable);
  --additional-active-capitalization: var(--capitalization-sentence);

  --additional-label-font-size: var(--fontsize-smaller);
  --additional-label-typeface: var(--typeface-regular);
  --additional-label-weight: var(--weight-regular);
  --additional-label-leading: var(--leading-short);
  --additional-label-kerning: var(--kerning-roomy);
  --additional-label-capitalization: var(--capitalization-sentence);

  --additional-overline-font-size: var(--fontsize-tiny);
  --additional-overline-typeface: var(--typeface-regular);
  --additional-overline-weight: var(--weight-medium);
  --additional-overline-leading: var(--leading-short);
  --additional-overline-kerning: var(--kerning-xxwide);
  --additional-overline-capitalization: var(--capitalization-sentence);

  --additional-legal-font-size: var(--fontsize-tiny);
  --additional-legal-typeface: var(--typeface-regular);
  --additional-legal-weight: var(--weight-regular);
  --additional-legal-leading: var(--leading-default);
  --additional-legal-kerning: var(--kerning-roomy);
  --additional-legal-capitalization: var(--capitalization-sentence);

  --additional-numeric-font-size: var(--fontsize-large);
  --additional-numeric-typeface: var(--typeface-special);
  --additional-numeric-weight: var(--weight-regular);
  --additional-numeric-leading: var(--leading-short);
  --additional-numeric-kerning: var(--kerning-comfortable);
  --additional-numeric-capitalization: var(--capitalization-sentence);
}

.#{$prefix}-expressive {
  --page-heading-font-size: var(--fontsize-xxhuge);
  --page-heading-typeface: var(--typeface-heading);
  --page-heading-weight: var(--weight-light);
  --page-heading-leading: var(--leading-short);
  --page-heading-kerning: var(--kerning-default);
  --page-heading-capitalization: var(--capitalization-sentence);

  --page-heading-small-font-size: var(--fontsize-xhuge);
  --page-heading-small-typeface: var(--typeface-heading);
  --page-heading-small-weight: var(--weight-light);
  --page-heading-small-leading: var(--leading-short);
  --page-heading-small-kerning: var(--kerning-default);
  --page-heading-small-capitalization: var(--capitalization-sentence);

  --page-nav-font-size: var(--fontsize-small);
  --page-nav-typeface: var(--typeface-regular);
  --page-nav-weight: var(--weight-regular);
  --page-nav-leading: var(--leading-short);
  --page-nav-kerning: var(--kerning-comfortable);
  --page-nav-capitalization: var(--capitalization-sentence);

  --page-subnav-font-size: var(--fontsize-small);
  --page-subnav-typeface: var(--typeface-regular);
  --page-subnav-weight: var(--weight-regular);
  --page-subnav-leading: var(--leading-short);
  --page-subnav-kerning: var(--kerning-comfortable);
  --page-subnav-capitalization: var(--capitalization-sentence);

  --page-descriptive-font-size: var(--fontsize-small);
  --page-descriptive-typeface: var(--typeface-regular);
  --page-descriptive-weight: var(--weight-regular);
  --page-descriptive-leading: var(--leading-short);
  --page-descriptive-kerning: var(--kerning-comfortable);
  --page-descriptive-capitalization: var(--capitalization-sentence);

  --page-action-font-size: var(--fontsize-small);
  --page-action-typeface: var(--typeface-regular);
  --page-action-weight: var(--weight-medium);
  --page-action-leading: var(--leading-short);
  --page-action-kerning: var(--kerning-comfortable);
  --page-action-capitalization: var(--capitalization-sentence);

  --page-body-font-size: var(--fontsize-large);
  --page-body-typeface: var(--typeface-regular);
  --page-body-weight: var(--weight-regular);
  --page-body-leading: var(--leading-default);
  --page-body-kerning: var(--kerning-default);
  --page-body-capitalization: var(--capitalization-sentence);

  --section-heading-font-size: var(--fontsize-huge);
  --section-heading-typeface: var(--typeface-heading);
  --section-heading-weight: var(--weight-regular);
  --section-heading-leading: var(--leading-short);
  --section-heading-kerning: var(--kerning-default);
  --section-heading-capitalization: var(--capitalization-sentence);

  --section-heading-small-font-size: var(--fontsize-xlarge);
  --section-heading-small-typeface: var(--typeface-heading);
  --section-heading-small-weight: var(--weight-regular);
  --section-heading-small-leading: var(--leading-short);
  --section-heading-small-kerning: var(--kerning-default);
  --section-heading-small-capitalization: var(--capitalization-sentence);

  --section-nav-font-size: var(--fontsize-small);
  --section-nav-typeface: var(--typeface-regular);
  --section-nav-weight: var(--weight-regular);
  --section-nav-leading: var(--leading-short);
  --section-nav-kerning: var(--kerning-comfortable);
  --section-nav-capitalization: var(--capitalization-sentence);

  --section-subnav-font-size: var(--fontsize-small);
  --section-subnav-typeface: var(--typeface-regular);
  --section-subnav-weight: var(--weight-regular);
  --section-subnav-leading: var(--leading-short);
  --section-subnav-kerning: var(--kerning-comfortable);
  --section-subnav-capitalization: var(--capitalization-sentence);

  --section-body-short-font-size: var(--fontsize-medium);
  --section-body-short-typeface: var(--typeface-regular);
  --section-body-short-weight: var(--weight-regular);
  --section-body-short-leading: var(--leading-short);
  --section-body-short-kerning: var(--kerning-default);
  --section-body-short-capitalization: var(--capitalization-sentence);

  --section-body-long-font-size: var(--fontsize-medium);
  --section-body-long-typeface: var(--typeface-regular);
  --section-body-long-weight: var(--weight-regular);
  --section-body-long-leading: var(--leading-default);
  --section-body-long-kerning: var(--kerning-default);
  --section-body-long-capitalization: var(--capitalization-sentence);

  --section-descriptive-font-size: var(--fontsize-small);
  --section-descriptive-typeface: var(--typeface-regular);
  --section-descriptive-weight: var(--weight-regular);
  --section-descriptive-leading: var(--leading-short);
  --section-descriptive-kerning: var(--kerning-comfortable);
  --section-descriptive-capitalization: var(--capitalization-sentence);

  --content-heading-font-size: var(--fontsize-large);
  --content-heading-typeface: var(--typeface-heading);
  --content-heading-weight: var(--weight-regular);
  --content-heading-leading: var(--leading-short);
  --content-heading-kerning: var(--kerning-default);
  --content-heading-capitalization: var(--capitalization-sentence);

  --content-heading-small-font-size: var(--fontsize-medium);
  --content-heading-small-typeface: var(--typeface-heading);
  --content-heading-small-weight: var(--weight-regular);
  --content-heading-small-leading: var(--leading-short);
  --content-heading-small-kerning: var(--kerning-default);
  --content-heading-small-capitalization: var(--capitalization-sentence);

  --content-nav-font-size: var(--fontsize-small);
  --content-nav-typeface: var(--typeface-regular);
  --content-nav-weight: var(--weight-regular);
  --content-nav-leading: var(--leading-short);
  --content-nav-kerning: var(--kerning-comfortable);
  --content-nav-capitalization: var(--capitalization-sentence);

  --content-body-short-font-size: var(--fontsize-default);
  --content-body-short-typeface: var(--typeface-regular);
  --content-body-short-weight: var(--weight-regular);
  --content-body-short-leading: var(--leading-short);
  --content-body-short-kerning: var(--kerning-default);
  --content-body-short-capitalization: var(--capitalization-sentence);

  --content-body-long-font-size: var(--fontsize-default);
  --content-body-long-typeface: var(--typeface-regular);
  --content-body-long-weight: var(--weight-regular);
  --content-body-long-leading: var(--leading-default);
  --content-body-long-kerning: var(--kerning-default);
  --content-body-long-capitalization: var(--capitalization-sentence);

  --content-descriptive-font-size: var(--fontsize-smaller);
  --content-descriptive-typeface: var(--typeface-regular);
  --content-descriptive-weight: var(--weight-regular);
  --content-descriptive-leading: var(--leading-default);
  --content-descriptive-kerning: var(--kerning-roomy);
  --content-descriptive-capitalization: var(--capitalization-sentence);

  --content-meta-font-size: var(--fontsize-smaller);
  --content-meta-typeface: var(--typeface-regular);
  --content-meta-weight: var(--weight-regular);
  --content-meta-leading: var(--leading-short);
  --content-meta-kerning: var(--kerning-comfortable);
  --content-meta-capitalization: var(--capitalization-sentence);

  --content-numeric-font-size: var(--fontsize-large);
  --content-numeric-typeface: var(--typeface-special);
  --content-numeric-weight: var(--weight-regular);
  --content-numeric-leading: var(--leading-short);
  --content-numeric-kerning: var(--kerning-comfortable);
  --content-numeric-capitalization: var(--capitalization-sentence);

  --content-action-font-size: var(--fontsize-small);
  --content-action-typeface: var(--typeface-regular);
  --content-action-weight: var(--weight-medium);
  --content-action-leading: var(--leading-short);
  --content-action-kerning: var(--kerning-comfortable);
  --content-action-capitalization: var(--capitalization-sentence);

  --component-heading-font-size: var(--fontsize-default);
  --component-heading-typeface: var(--typeface-heading);
  --component-heading-weight: var(--weight-medium);
  --component-heading-leading: var(--leading-short);
  --component-heading-kerning: var(--kerning-default);
  --component-heading-capitalization: var(--capitalization-sentence);

  --component-heading-small-font-size: var(--fontsize-small);
  --component-heading-small-typeface: var(--typeface-heading);
  --component-heading-small-weight: var(--weight-medium);
  --component-heading-small-leading: var(--leading-short);
  --component-heading-small-kerning: var(--kerning-comfortable);
  --component-heading-small-capitalization: var(--capitalization-sentence);

  --component-nav-font-size: var(--fontsize-small);
  --component-nav-typeface: var(--typeface-regular);
  --component-nav-weight: var(--weight-regular);
  --component-nav-leading: var(--leading-default);
  --component-nav-kerning: var(--kerning-comfortable);
  --component-nav-capitalization: var(--capitalization-sentence);

  --component-body-short-font-size: var(--fontsize-small);
  --component-body-short-typeface: var(--typeface-regular);
  --component-body-short-weight: var(--weight-regular);
  --component-body-short-leading: var(--leading-short);
  --component-body-short-kerning: var(--kerning-comfortable);
  --component-body-short-capitalization: var(--capitalization-sentence);

  --component-body-long-font-size: var(--fontsize-small);
  --component-body-long-typeface: var(--typeface-regular);
  --component-body-long-weight: var(--weight-regular);
  --component-body-long-leading: var(--leading-default);
  --component-body-long-kerning: var(--kerning-comfortable);
  --component-body-long-capitalization: var(--capitalization-sentence);

  --component-descriptive-font-size: var(--fontsize-smallest);
  --component-descriptive-typeface: var(--typeface-regular);
  --component-descriptive-weight: var(--weight-regular);
  --component-descriptive-leading: var(--leading-short);
  --component-descriptive-kerning: var(--kerning-roomy);
  --component-descriptive-capitalization: var(--capitalization-sentence);

  --component-meta-font-size: var(--fontsize-smallest);
  --component-meta-typeface: var(--typeface-regular);
  --component-meta-weight: var(--weight-regular);
  --component-meta-leading: var(--leading-short);
  --component-meta-kerning: var(--kerning-roomy);
  --component-meta-capitalization: var(--capitalization-sentence);

  --component-numeric-font-size: var(--fontsize-large);
  --component-numeric-typeface: var(--typeface-special);
  --component-numeric-weight: var(--weight-regular);
  --component-numeric-leading: var(--leading-short);
  --component-numeric-kerning: var(--kerning-comfortable);
  --component-numeric-capitalization: var(--capitalization-sentence);

  --additional-code-small-font-size: var(--fontsize-smallest);
  --additional-code-small-typeface: var(--typeface-mono);
  --additional-code-small-weight: var(--weight-regular);
  --additional-code-small-leading: var(--leading-short);
  --additional-code-small-kerning: var(--kerning-roomy);
  --additional-code-small-capitalization: var(--capitalization-sentence);

  --additional-code-large-font-size: var(--fontsize-small);
  --additional-code-large-typeface: var(--typeface-mono);
  --additional-code-large-weight: var(--weight-regular);
  --additional-code-large-leading: var(--leading-default);
  --additional-code-large-kerning: var(--kerning-roomy);
  --additional-code-large-capitalization: var(--capitalization-sentence);

  --additional-quote-font-size: var(--fontsize-large);
  --additional-quote-typeface: var(--typeface-regular);
  --additional-quote-weight: var(--weight-regular);
  --additional-quote-leading: var(--leading-short);
  --additional-quote-kerning: var(--kerning-default);
  --additional-quote-capitalization: var(--capitalization-sentence);

  --additional-active-font-size: var(--fontsize-small);
  --additional-active-typeface: var(--typeface-regular);
  --additional-active-weight: var(--weight-medium);
  --additional-active-leading: var(--leading-short);
  --additional-active-kerning: var(--kerning-comfortable);
  --additional-active-capitalization: var(--capitalization-sentence);

  --additional-label-font-size: var(--fontsize-smaller);
  --additional-label-typeface: var(--typeface-regular);
  --additional-label-weight: var(--weight-regular);
  --additional-label-leading: var(--leading-short);
  --additional-label-kerning: var(--kerning-roomy);
  --additional-label-capitalization: var(--capitalization-sentence);

  --additional-overline-font-size: var(--fontsize-tiny);
  --additional-overline-typeface: var(--typeface-regular);
  --additional-overline-weight: var(--weight-medium);
  --additional-overline-leading: var(--leading-short);
  --additional-overline-kerning: var(--kerning-xxwide);
  --additional-overline-capitalization: var(--capitalization-all-caps);

  --additional-legal-font-size: var(--fontsize-tiny);
  --additional-legal-typeface: var(--typeface-regular);
  --additional-legal-weight: var(--weight-regular);
  --additional-legal-leading: var(--leading-default);
  --additional-legal-kerning: var(--kerning-roomy);
  --additional-legal-capitalization: var(--capitalization-sentence);

  --additional-numeric-font-size: var(--fontsize-large);
  --additional-numeric-typeface: var(--typeface-special);
  --additional-numeric-weight: var(--weight-regular);
  --additional-numeric-leading: var(--leading-short);
  --additional-numeric-kerning: var(--kerning-comfortable);
  --additional-numeric-capitalization: var(--capitalization-sentence);
}
