/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// Grid Container
.#{$prefix}-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;

    .row {
        margin-left: -$gutter;
        margin-right: -$gutter;
    }
}

.col {
    flex: 1 1 0;
}

// Columns width calculations
@for $i from 1 through $columns {
    .col-#{$i} {
        @include generate-col($i);
    }

    .col,
    .col-#{$i} {
        @extend %common-col-rules;
    }
}

// Row
.row {
    @include generate-row;
}

// TODO: Subject to be removed
.bgColor {
    background-color: #eee;
}

.colBorder {
    border: 1px solid #999;
}

.bigCol {
    min-height: 5rem;
    padding: 0.9375rem;
}

.darkBox {
    background-color: #555;
    color: #BBB;
}