/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-header {
    font-size: inherit;
    height: 3.125rem;
    background-color: var(--blue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// LOGO IS A COMPONENT AND SHOULD BE PLACED INSIDE components DIRECTORY // TODO: Subject to be changed
.#{$prefix}-logo {
    text-decoration: none;
    color: var(--white);
    height: 100%;
    width: 5rem; // TODO: Subject to be changed
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    cursor: pointer;
    background-image: url(../logo.png); // Customizable as per the application demands
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

// TABS/MENUS ARE COMPONENTS AND SHOULD BE PLACED INSIDE components DIRECTORY // TODO: Subject to be changed
.#{$prefix}-navbar {
    list-style: none;
    align-self: stretch;
    display: flex;
    align-items: center;

    &-nav {
        position: relative;
        height: 100%;
        color: var(--white);

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &>* {
        padding: 0 .5rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &>*:hover {
        border-bottom: 2px solid var(--white);
    }
}

// TOOLBAR IS A COMPONENT AND SHOULD BE PLACED INSIDE components DIRECTORY // TODO: Subject to be changed
.#{$prefix}-toolbar {
    margin-left: auto;
    align-self: stretch;
    display: flex;
    align-items: center;

    &>* {
        padding: 0 .5rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &>*:hover {
        background-color: var(--grey);
    }

    &-icon {
        position: relative;
    }
}

/* 
 * ICON UTILITY CLASSES
 *
 * ICON SIZES
 *
 * 1 -> 1rem = 16px
 * 2 -> 2rem = 32px
 * 3 -> 3rem = 48px
 *
 *********************************************************************
*/

.#{$prefix}-icon-1 {
    height: 1rem;
    width: 1rem;
    background-color: var(--white); // TODO: Subjecto to be changed
}

// ACTIVE TAB/MENU UTILITY CLASS
.#{$prefix}-active {
    border-bottom: 2px solid var(--white);
}