<section class="hcl-col-6 hcl-overflow">
    <div class="hcl-overflow-container">
        <!-- This input tag is just for landing page, will not be part of design system -->
        <input
            style="width:1rem; position:absolute; background:transparent;outline: none; padding: 0 0.5rem; z-index: 2;">
        <div class="hcl-ellipsis horizontal-ellipsis"></div>
        <div class="hcl-overflow-menu hcl-hidden">
            <ul class="hcl-overflow-list">
                <li class="hcl-overflow-option">
                    Option 1
                </li>
                <li class="hcl-overflow-option">
                    Option 2
                </li>
                <li class="hcl-overflow-option hcl-overflow-disable">
                    Option 3
                </li>
                <li class="hcl-overflow-optiondanger hcl-overflow-separator">
                    Danger
                </li>
            </ul>
            <div class="hcl-overflow-caret"></div>
        </div>
    </div>
</section>