<section class="hcl-col-6 hcl-overflow" id="left-overflow-menu">
    <p style="float: left;">Left Overflow Menu</p>
    <div class="hcl-overflow-container">
      <i class="hcl-ellipsis horizontal-ellipsis" tabindex="0"></i>
        <div class="hcl-overflow-menu hcl-hidden">
            <ul class="hcl-overflow-list">
                <li class="hcl-overflow-option" tabindex="0">
                    Option 1
                </li>
                <li class="hcl-overflow-option" tabindex="0">
                    Option 2
                </li>
                <li class="hcl-overflow-option hcl-overflow-disable">
                    Option 3
                </li>
                <li class="hcl-overflow-optiondanger hcl-overflow-separator" tabindex="0">
                    Danger
                </li>
            </ul>
            <div class="hcl-overflow-caret"></div>
        </div>
    </div>
</section>