<section class="hcl-overflow" id="left-overflow-menu" role="overflow menu">
    <div class="hcl-overflow-container">
      <i class="hcl-ellipsis horizontal-ellipsis" tabindex="0" aria-label="Left Overflow Menu" role="Overflow Menu"></i>
        <div class="hcl-overflow-menu hcl-overflow-left">
            <ul aria-labelledby="Right Overflow Menu">
                <li class="hcl-overflow-option" >
                    <button class="hcl-overflow-option-btn" aria-label="option 1">Option 1</button>  
                </li>
                <li class="hcl-overflow-option">
                    <button class="hcl-overflow-option-btn" aria-label="option 2">Option 2</button>  
                </li>
                <li class="hcl-overflow-option">
                    <button class="hcl-overflow-option-disable-btn" disabled="disabled" tabindex="-1" aria-label="option 3">Option 3</button>   
                </li>
                <li class="hcl-overflow-option hcl-overflow-separator">
                    <button class="hcl-overflow-option-danger-btn" aria-label="Danger">Danger</button> 
                </li>
            </ul>
            <div class="hcl-overflow-caret"></div>
        </div>
    </div>
</section>