<div
  data-invalid="true"
  data-component="numberInput"
  class="hcl-number-input-wrapper hcl-form-group"
>
  <div class="hcl-form-control hcl-number-input">
    <input
      type="number"
      value="10"
      data-invalid="true"
      class="hcl-form-control"
      id="numbetInput3"
    />
    <div class="hcl-number-input-control">
      <button
        aria-label="increase number input"
        class="increment-btn"
        type="button"
        aria-live="polite"
        aria-atomic="true"
      >
        <svg
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          style="will-change: transform;"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 8 4"
          aria-hidden="true"
        >
          <path d="M0 4l4-4 4 4z"></path>
        </svg>
      </button>
      <button
        aria-label="decrease number input"
        class="decrement-btn"
        type="button"
        aria-live="polite"
        aria-atomic="true"
      >
        <svg
          focusable="false"
          preserveAspectRatio="xMidYMid meet"
          style="will-change: transform;"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 8 4"
          aria-hidden="true"
        >
          <path d="M8 0L4 4 0 0z"></path>
        </svg>
      </button>
    </div>
  </div>
  <label for="numbetInput3">Number Input Validation</label>
  <div class="hcl-error-msg">Validation message here</div>
</div>
