.#{$prefix}-time-picker {
    display: flex;
    align-items: flex-end;

    &-label {
        font-family: inherit;
        font-size: .875rem;
        color: var(--black);
        font-weight: 600;
        display: inline-block;
        vertical-align: baseline;
        margin-bottom: .5rem;
    }

    &-input {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid transparent;


    }

    &-input-field {
        font-size: .875rem;
        display: flex;
        align-items: center;
        background-color: rgba(70,150,210,0.05);
        border: none;
        width: 5.25rem;
        color: var(--black);
        height: 2.5rem;
        padding: 0 1rem;
        order: 2;
        box-shadow: 0 1px 0 0 var(--grey-light);

        &:focus {
            outline: none;
            box-shadow: 0 2px 0 0 var(--blue-light);
        }
    }

    &-msg {
        font-size: .75rem;
        margin: .75rem 0 0;
        max-height: 0;
        overflow: hidden;
        font-weight: 600;
        line-height: 1.5;
        display: none;
    }

    &-tz {
        position: relative;
        display: flex;
        flex-direction: column;


    }
}