<section class="p-5">
  <button
    class="hcl-tag hcl-tag-secondary"
    id="hcl-secondary"
    title="secondary"
    tabindex="0"
  >
    <span class="hcl-tag-text"> secondary </span>
  </button>
  <button
    class="hcl-tag hcl-tag-secondary"
    id="hcl-secondary-disabled"
    title="secondary"
    tabindex="0"
    disabled
  >
    <span class="hcl-tag-text"> secondary-disabled </span>
  </button>
  <button
    class="hcl-tag hcl-tag-secondary"
    id="hcl-secondary-thumbnail-closeable-disabled"
    title="secondary-thumbnail-closeable"
    tabindex="0"
    disabled
  >
    <i class="hcl-tag-thumbnail p-hclsw p-hclsw-user" aria-hidden="true"></i>
    <span class="hcl-tag-text"> secondary-thumbnail-closeable-disabled </span>
    <i class="hcl-tag-icon p-hclsw p-hclsw-view" aria-hidden="true"></i>
    <span class="hcl-tag-close" aria-hidden="true"
      ><svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 16 16"
        xml:space="preserve"
      >
        <polygon
          points="15.393,2.021 13.979,0.607 8,6.586 2.021,0.607 0.607,2.021 6.586,8 0.607,13.979 2.021,15.393 8,9.414 
       13.979,15.393 15.393,13.979 9.414,8 "
        /></svg
    ></span>
  </button>
  <br />
  <button
    class="hcl-tag hcl-tag-secondary"
    id="hcl-secondary-closeable"
    title="secondary-closeable"
    tabindex="0"
  >
    <span class="hcl-tag-text"> secondary-closeable </span>
    <i
      class="hcl-tag-icon p-hclsw p-hclsw-view"
      aria-hidden="true"
      tabindex="0"
    ></i>
    <span class="hcl-tag-close" aria-hidden="true" tabindex="0"
      ><svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 16 16"
        xml:space="preserve"
      >
        <polygon
          points="15.393,2.021 13.979,0.607 8,6.586 2.021,0.607 0.607,2.021 6.586,8 0.607,13.979 2.021,15.393 8,9.414 
       13.979,15.393 15.393,13.979 9.414,8 "
        /></svg
    ></span>
  </button>
  <br />
  <button
    class="hcl-tag hcl-tag-secondary"
    id="hcl-secondary-thumbnail-closeable"
    title="secondary-thumbnail-closeable"
    tabindex="0"
  >
    <i class="hcl-tag-thumbnail p-hclsw p-hclsw-user" aria-hidden="true"></i>
    <span class="hcl-tag-text"> secondary-thumbnail-closeable </span>
    <i
      class="hcl-tag-icon p-hclsw p-hclsw-view"
      aria-hidden="true"
      tabindex="0"
    ></i>
    <span class="hcl-tag-close" aria-hidden="true" tabindex="0"
      ><svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 16 16"
        xml:space="preserve"
      >
        <polygon
          points="15.393,2.021 13.979,0.607 8,6.586 2.021,0.607 0.607,2.021 6.586,8 0.607,13.979 2.021,15.393 8,9.414 
       13.979,15.393 15.393,13.979 9.414,8 "
        /></svg
    ></span>
  </button>
</section>
