<button class="hcl-tag hcl-tag-secondary" title="secondary" tabindex="0">
    <span class="hcl-tag-text">
        secondary
    </span>
</button>
<button class="hcl-tag hcl-tag-secondary" title="secondary" tabindex="0" disabled>
    <span class="hcl-tag-text">
        secondary-disabled
    </span>
</button>
<button class="hcl-tag hcl-tag-secondary" title="secondary-thumbnail-closeable" tabindex="0"
    disabled>
    <span class="hcl-tag-thumbnail" aria-hidden="true"></span>
    <span class="hcl-tag-text">
        secondary-thumbnail-closeable-disabled
    </span>
    <span class="hcl-close" aria-hidden="true"></span>
</button>
<br />
<button class="hcl-tag hcl-tag-secondary" title="secondary-closeable" tabindex="0">
    <span class="hcl-tag-text">
        secondary-closeable
    </span>
    <span class="hcl-close" aria-hidden="true"></span>
</button>
<br />
<button class="hcl-tag hcl-tag-secondary" title="secondary-thumbnail-closeable" tabindex="0">
    <span class="hcl-tag-thumbnail" aria-hidden="true"></span>
    <span class="hcl-tag-text">
        secondary-thumbnail-closeable
    </span>
    <span class="hcl-close" aria-hidden="true"></span>
</button>