<button
  class="hcl-tag hcl-tag-secondary"
  id="hcl-secondary"
  title="secondary"
  tabindex="0"
>
  <span class="hcl-tag-text"> secondary </span>
</button>
<button
  class="hcl-tag hcl-tag-secondary"
  id="hcl-secondary-disabled"
  title="secondary"
  tabindex="0"
  disabled
>
  <span class="hcl-tag-text"> secondary-disabled </span>
</button>
<button
  class="hcl-tag hcl-tag-secondary"
  id="hcl-secondary-thumbnail-closeable-disabled"
  title="secondary-thumbnail-closeable"
  tabindex="0"
  disabled
>
  <i class="hcl-tag-thumbnail p-hclsw p-hclsw-user" aria-hidden="true"></i>
  <span class="hcl-tag-text"> secondary-thumbnail-closeable-disabled </span>
  <i class="hcl-tag-icon p-hclsw p-hclsw-view" aria-hidden="true"></i>
  <span class="hcl-close" aria-hidden="true"></span>
</button>
<br />
<button
  class="hcl-tag hcl-tag-secondary"
  id="hcl-secondary-closeable"
  title="secondary-closeable"
  tabindex="0"
>
  <span class="hcl-tag-text"> secondary-closeable </span>
  <i
    class="hcl-tag-icon p-hclsw p-hclsw-view"
    aria-hidden="true"
    tabindex="0"
  ></i>
  <span class="hcl-close" aria-hidden="true" tabindex="0"></span>
</button>
<br />
<button
  class="hcl-tag hcl-tag-secondary"
  id="hcl-secondary-thumbnail-closeable"
  title="secondary-thumbnail-closeable"
  tabindex="0"
>
  <i class="hcl-tag-thumbnail p-hclsw p-hclsw-user" aria-hidden="true"></i>
  <span class="hcl-tag-text"> secondary-thumbnail-closeable </span>
  <i
    class="hcl-tag-icon p-hclsw p-hclsw-view"
    aria-hidden="true"
    tabindex="0"
  ></i>
  <span class="hcl-close" aria-hidden="true" tabindex="0"></span>
</button>
