@mixin spinner($size) {
    --spinner-color: #55c9d3;

    display: flex;
    justify-content: center;

    >svg {
        @if($size==normal) {
            height: 5.25rem;
            width: 5.25rem;
        }

        @else if ($size==small) {
            height: 1rem;
            width: 1rem;
            --spinner-color:var(--dark-blue);
            margin-left:1rem;

        }

        animation-name: infinite-spinning;
        animation-duration: 0.7s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;

        >circle {
            stroke: var(--spinner-color);
            stroke-dashoffset: 40;

            @if($size=='normal') {
                stroke-width: 8;
                stroke-dasharray: 240;
            }

            @else if ($size=='small') {
                stroke-width: 12;
                stroke-dasharray: 240;
            }

            fill: transparent;
        }
    }
}

.#{$prefix}-spinner {
    @include spinner(normal);
}

.#{$prefix}-spinner-small {
    @include spinner(small);
}

@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}