.#{$prefix}-spinner {
    --spinner-color: #55c9d3;
    --spinner-stroke-width: 7;

    display: flex;
    justify-content: center;

    &-svg {
        height: 6.25rem;
        width: 6.25rem;
        animation-name: infinite-spinning;
        animation-duration: 0.7s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;

        &-circle {
            stroke: var(--spinner-color);
            stroke-width: var(--spinner-stroke-width);
            fill: transparent;
            stroke-linecap: butt;
            stroke-dasharray: 220;
        }
    }
}

@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}