@mixin spinner($size) {
  z-index: 989;
  display: flex;
  justify-content: center;

  > svg {
    @if ($size==default) {
      height: 5.8771875rem;
      width: 5.8771875rem;
    } @else if ($size==inline) {
      height: 1.190625rem;
      width: 1.190625rem;
    }

    animation-name: infinite-spinning;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;

    > circle {
      stroke-dasharray: 480;
      stroke-dashoffset: 120;

      @if ($size== 'default') {
        stroke-width: 8;
      } @else if ($size== 'inline') {
        stroke-width: 12;
        stroke-dasharray: 421;
        stroke-dashoffset: 105;
      }

      fill: transparent;
    }
  }
}

.#{$prefix}-spinner {
  @include spinner(default);

  circle {
    stroke: var(--secondary_icon);
  }
}

.#{$prefix}-spinner-inline {
  @include spinner(inline);

  circle {
    stroke: var(--secondary_icon);
  }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
