/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import '../../base';

.#{$prefix}-actionbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary_bg);

  &-list {
    > .#{$prefix}-btn {
      color: var(--primary_text);
      margin: 0;

      > .#{$prefix}-btn-icon {
        fill: var(--primary_icon);
      }

      &:focus {

        border: 0.0625rem solid var(--primary_border);
        background-color: var(--primary_bg);

        outline: none;

        > .#{$prefix}-btn-icon {
          fill: var(--primary_icon);
        }
      }
      &:hover {
        background-color: var(--primary_bg_hover);
      }
    }
  }

  &-summary {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primary_text);
    button {
      padding: 10;
      margin: 0;
      border-bottom: 0.0625rem solid transparent;
      color: var(--primary_text);
      background-color: var('primary_bg');
      &:hover {
        color: var(--primary_text);
        background-color: var(--primary_bg_hover) !important;
      }

      &:focus {
        border: 0.0625rem solid var(--primary_border);

        outline: none;
      }
    }
  }

  &-text {
    margin-right: 1.5rem;
    color: var(--primary_text);
  }

  &-hide {
    display: none;
  }
}
