/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import '../../base';

.#{$prefix}-actionbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 1.5rem;
  @include themify($themes) {
    background-color: themed('primary_bg');
  }

  &-list {
    > .#{$prefix}-btn {
      @include themify($themes) {
        color: themed('primary_text');
      }
      margin: 0;

      > .#{$prefix}-btn-icon {
        @include themify($themes) {
          fill: themed('primary_icon');
        }
      }

      &:focus {
        @include themify($themes) {
          border: 0.0625rem solid themed('primary_border');
          background-color: themed('primary_bg');
        }

        outline: none;

        > .#{$prefix}-btn-icon {
          @include themify($themes) {
            fill: themed('primary_icon');
          }
        }
      }
      &:hover {
        @include themify($themes) {
          background-color: themed('primary_bg_hover');
        }
      }
    }
  }

  &-summary {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include themify($themes) {
      color: themed('primary_text');
    }

    button {
      padding: 10;
      margin: 0;
      border-bottom: 0.0625rem solid transparent;
      @include themify($themes) {
        color: themed('primary_text');
        background-color: themed('primary_bg');
      }
      &:hover {
        @include themify($themes) {
          color: themed('primary_text');
          background-color: themed('primary_bg_hover')!important;
        }
      }

      &:focus {
        @include themify($themes) {
          border: 0.0625rem solid themed('primary_border');
        }

        outline: none;
      }
    }
  }

  &-text {
    margin-right: 1.5rem;
    @include themify($themes) {
      color: themed('primary_text');
    }
  }

  &-hide {
    display: none;
  }
}
