<section id="notification" class="hcl-row p-5">
  <div class="hcl-col">
    <div data-notification="" class="hcl-notification hcl-info" role="alert">
      <div class="hcl-notification-body">
        <div class="hcl-notification-icon-container">
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 32 32"
            aria-hidden="true"
            style="will-change: transform; fill: #4696d2"
            class="hcl-notification-icon"
          >
            <path
              d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2zm0 5a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 16 7zm4 17.12h-8v-2.24h2.88v-6.76H13v-2.24h4.13v9H20z"
            />
          </svg>
        </div>
        <div class="hcl-notification-text-wrapper">
          <h5 class="hcl-notification-title">Notification title</h5>
          <p class="hcl-notification-subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.
          </p>
        </div>
      </div>
      <button class="hcl-notification-close" type="button" aria-label="close">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 16 16"
          xml:space="preserve"
        >
          <polygon
            points="15.393,2.021 13.979,0.607 8,6.586 2.021,0.607 0.607,2.021 6.586,8 0.607,13.979 2.021,15.393 8,9.414 
         13.979,15.393 15.393,13.979 9.414,8 "
          />
        </svg>
      </button>
    </div>
  </div>
</section>
