<div>
    <button id="hcl-btn-toast-type2" data-toast-type="2" class="hcl-btn">Info</button>
    <div id="hcl-toast-type2" data-toast-type="2" class="hcl-toast hcl-toast-info hcl-toast-hide" role="alert">
        <div class="hcl-toast-icon-container">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="20"
                height="20" viewBox="0 0 32 32" aria-hidden="true" style="will-change: transform;"
                class="hcl-notification-icon">
                <path
                    d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2zm0 5a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 16 7zm4 17.12h-8v-2.24h2.88v-6.76H13v-2.24h4.13v9H20z" />
            </svg>
        </div>
        <div class="hcl-toast-details">
            <h3 class="hcl-toast-title">Toast title</h3>
            <p class="hcl-toast-subtitle">Subtitle text goes here.</p>
            <p class="hcl-toast-caption">Time stamp [00:00:00]</p>
        </div>
        <button id="hcl-toast-close2" class="hcl-toast-close" type="button" aria-label="close" />
    </div>
</div>