/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// GLOBAL STYLING
html {
    box-sizing: border-box;
    font-size: 100%; // 1rem = 16px, 16px/16px = 100%
}

body {
    // $body-color: var(--black) !default; // TODO: Not seen being used anywhere, so commented out
    font: {
        family: 'Roboto', sans-serif;
    }
    color: var(--black);
    line-height: var(--base-line-height);
}