/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// Global styling for Patron CSS framework
html {
  box-sizing: border-box;
}

body {
  font: {
    family: 'Roboto', sans-serif;
  }

  color: $black;
  font-size: 1rem;
}

ul,
ol {
  &.no-style {
    list-style: none;
  }

  li {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

dd,
dt,
dl {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

//clear icon removed from input for edge browser.
input::-ms-clear {
  display: none;
}

// dark themes
.theme-blue_active_orange_dark,
.theme-blue_active_blue_dark {
  background-color: $grey-100;
  color: white;
  //   @include themify($themes) {
  //     background-color: themed("default_bg");
  //     color: themed("default_text");
  //   }
}