/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// Global styling for Patron CSS framework
html {
    box-sizing: border-box;
}

body {

    // $body-color: var(--black) !default; // TODO: Not seen being used anywhere, so commented out
    font: {
        family: 'Roboto', sans-serif;
    }

    color: var(--black);
    font-size: 1rem;
}

ul,
ol {
    &.no-style {
        list-style: none;
    }

    li {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}

dd,
dt,
dl {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

//clear icon removed from input for edge browser.
input::-ms-clear {
    display: none;
}