/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

// input,
// textarea,
// input[type="radio"],
// input[type="checkbox"] {
//     padding: $base-padding;
//     color: inherit;
//     line-height: inherit;
//     border: 1px solid #eee;
//     margin: $base-margin 0;
// }

// label {
//     font-size: var(--base-font-size);
//     padding: $base-padding;
// }

// input[type="text"],
// textarea,
// .input-control {
//     color: #707070;
//     display: block;
//     background-color: $white;
//     border-color: $input-border-color;
//     font-size: $input-font-size;
//     min-width:$input-min-width;
//     width:100%;
//     height: $input-height;
//     padding: 5px 15px;
//     &:focus {
//         border-color: #1792E5;
//     }
//     &:disabled {
//         background-color: #F6F6F6;
//         border-color: #D0D0D0;
//         opacity: 0.4;
//         cursor: not-allowed;
//     }
//     &.error {
//         border-color: $input-border-error;
//     }
//     &.success {
//         border-color: $input-border-success;
//     }
// }

@import "mixin.scss";

$prefix: 'hcl';

.#{$prefix}-form-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    margin-bottom:1.5rem;
    input[data-invalid]~.#{$prefix}-input-error, textarea[data-invalid]~.#{$prefix}-input-error{
        max-height:12.5rem;
        display:inline-block;
    }
}

.#{$prefix}-helper-text{
    @include getFontSize("12");
    opacity:1;
    @include getInputColor('color-2', "color");
    order: 1;
    line-height: 1.5;
    max-height: 3rem;
    margin-bottom: .5rem;
}

label{
    @include getInputColor('color-1', "color");
    font-weight: $input-label-weight;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: $label-margin-bottom;
}

.#{$prefix}-form-control{
    @include getFormControl("inputcontrol");
    @include getErrorMarkup("inputcontrol");
}

.#{$prefix}-text-area{
    @include getFormControl("inputcontrol");
    min-width: 10rem;
    resize: vertical;
    padding: 1rem;
    height: auto;
    @include getErrorMarkup("inputcontrol");
}

// Checkbox and radio button
.form-item{
    display: inline-block;
    position: relative;
    user-select: none;
    .form-item__checkbox, input[type="checkbox"] {
        position:absolute;
        padding:0;
        width:1px;
        height:1px;
        overflow:hidden;
        border:0;
        visibility: visible;
        white-space: nowrap;
        clip:rect(0px, 0px, 0px, 0px);
        + .form-item__text{
            padding:0;
            padding-left:26px;
            line-height:1.5rem;
            cursor:pointer;
            position:relative;
            display:flex;
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            &::before{
                background-color: $white;
                border-color: $blue;
                border-width:1px;
            }
        }
        &:disabled {
            + .form-item__text{
            cursor:not-allowed;
            color: $grey;
            }
            + label.form-item__text::before, + .form-item__text::before{
                background: #F6F6F6;
                border-color: #D0D0D0;
            }
        }
        &:checked{
            + label.form-item__text::after{
                -webkit-transform: scale(1) rotate(-45deg);
                transform: scale(1) rotate(-45deg);
            }
            + .form-item__text::before{
                background-color: $blue;
                border-width:1px;
                border-color:$blue;
            }
        }
        + label.form-item__text::before, + .form-item__text::before{
            content:"";
            position:absolute;
            left:0;
            top:0rem;
            display: inline-block;
            width:1.125rem;
            height:1.125rem;
            margin:0.125rem;
            border:1px solid $blue;
            
        }
        + label.form-item__text::after, + .form-item__text::after{
            content:"";
            color:#FFFFFF;
            position:absolute;
            left:6px;
            top:6px;
            display: inline-block;
            width:10px;
            height:7px;
            border-left:1px solid $white;
            border-bottom:1px solid $white;
            transform:rotate(-45deg);
        }
    }
    //radio
    .form-item__radio, input[type="radio"].form-item__radio, input[type="radio"]{
        position:absolute;
        opacity:0;
        margin:0;
        + label.form-item__text, + .form-item__text{
            display:inline-block;
            padding-left:1.625rem;
            position: relative;
            color: $black;
            min-height: 1rem;
            margin-top: 0;
            cursor: pointer;
        }
        + label.form-item__text:before{
            position: absolute;
            top: .1666665rem;
            left: 0;
            content: '';
            display: inline-block;
            height: 1.125rem;
            width: 1.125rem;
            border: 1px solid #9a9a9a;
            border-radius: 50%;
        }
        &:checked + label.form-item__text:before{
            box-shadow: inset 0 0 0 0.11rem $white;
            border: 1px solid #D0D0D0;
            background: $blue;
        }
        &:disabled + label.form-item__text{
            color: $grey;
        }
    }
}