
//Input Fields Color Maps
$inputColor-map: ( "color-1": #152935, "color-2": #5a6872, "color-3": #f4f7fb, "color-5": #3d70b2);
@mixin getInputColor($color, $property) {
    @if map-has-key($inputColor-map, $color) {
        #{$property}: map-get($inputColor-map, $color);
    }
    @else {
        @warn 'This is not define in the HCL design System!';
    }
}

@mixin getFormControl($which) {
    @if ($which == "inputcontrol") {
        @include getFontSize("14");
       // display: block;
        width: 100%;
        height: $input-height;
        min-width: $input-min-width;
        padding: $input-padding-y $input-padding-x;
        @include getInputColor('color-1', "color");
        @include getInputColor('color-3', "background-color");    
        border: none;
        box-shadow: 0 1px 0 0 #5a6872;
        border-bottom: 1px solid transparent;
        &:focus{
            outline:none;
            box-shadow: 0 2px 0 0 #3d70b2;
        }
        &[disabled]{
            opacity:0.5;
            cursor:not-allowed;
        }
    }
    @else {
        @warn 'This is not define in the HCL design System!';
    }
}

@mixin getErrorMarkup($which) {
    @if ($which == "inputcontrol") {
        ~.#{$prefix}-input-error{
            @include getInputColor('color-4', "color");
            @include getFontWeight("regular");
            @include getFontSize("12");
            margin-top: .25rem;
            line-height:1.5;
        }
    }
    @else {
        @warn 'This is not define in the HCL design System!';
    }
}