<section id="formcomp" class="m-1 p-2 colBorder">
  <form class="m-5">
    <div class="hcl-form-group">
      <input
        type="text"
        class="hcl-form-control"
        id="firstname"
        placeholder="Enter First Name"
      />
      <label for="firstname">First Name</label>
      <div class="hcl-helper-text">Optional Helper text goes here</div>
    </div>
    <div class="hcl-form-group">
      <textarea
        class="hcl-textarea"
        id="feedback11"
        rows="4"
        cols="50"
        placeholder="Please Feedback here"
      ></textarea>
      <label for="feedback11">Feedback Form</label>
    </div>
    <button class="hcl-btn hcl-primary">Submit</button>
  </form>
</section>
