/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-data-table-wrapper {
  width: 100%;
  border-bottom: transparent;
  border: 0.0625rem solid var(--default_border_xlow);
  border-radius: var(--rounded_corner_all_rounded_medium);
  color: var(--default_text);

  &-resizer {
    overflow-y: scroll;
    .#{$prefix}-data-table {
      height: 100%;
    }
  }

  .resize-line {
    display: none;
    position: absolute;
    left: 0;
    display: inline-block;
    z-index: 5999;
    background-color: var(--interactive_border);
    width: hcl-rem(1px);
    height: 100%;
  }

  .#{$prefix}-data-table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    thead {
      display: table-header-group;
    }

    tr {
      display: table-row;
      outline: 0;
      vertical-align: middle;

      th,
      td {
        display: table-cell;
        //padding: 0.625rem 0.625rem;
        font-size: 0.875rem;
        text-align: left;
        font-weight: 400;
        vertical-align: inherit;
        height: 3.125rem;

        &:focus {
          outline-offset: -0.0625rem;
          outline: 0.0625rem solid var(--interactive_border);
        }
      }

      td:first-child {
        border-left: 0.0625rem solid transparent;
      }

      td:last-child {
        border-right: 0.0625rem solid transparent;
      }

      th {
        .#{$prefix}-data-table-header-wrapper {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          padding: 0.625rem;

          .hcl-data-table-header {
            display: inline-block;

            overflow: hidden;
            text-overflow: ellipsis;

            &:not(.nowrap) {
              white-space: nowrap;
            }
          }
        }

        &.resizable {
          span.hcl-data-table-resizable {
            user-select: none;
            display: inline-block;
            position: absolute;
            width: 0.4375rem !important;
            height: inherit;
            bottom: 0;
            right: 0;
            z-index: 1;
            cursor: col-resize;
            background: transparent !important;
            touch-action: none !important;
          }

          &:hover {
            span.hcl-data-table-resizable {
              span.resize-handle {
                user-select: none;
                display: inline-block;
                position: absolute;
                width: 0.125rem;
                height: 100%;
                bottom: 0;
                right: 0;
                z-index: 2;
                cursor: col-resize;
                background: var(--default_border_low);
              }

              &:hover {
                span.resize-handle {
                  background: var(--interactive_border);
                  height: inherit;
                }
              }
            }
          }
        }

        &.draggable {
          cursor: pointer;

          .draggable-column {
            flex-shrink: 0;

            g {
              stroke: var(--default_icon_low);
            }

            path {
              fill: var(--default_icon_low);
            }

            &.draggable-column-onhover {
              visibility: hidden;
              opacity: 0;
            }
          }

          &:hover {
            .draggable-column-onhover {
              visibility: visible;
              opacity: 1;
              transition: opacity 0.3s ease-in-out;
            }
          }
        }

        color: var(--default_text_high);
        background-color: var(--default_bg_high);

        .#{$prefix}-sorting {
          vertical-align: middle;
          flex-shrink: 0;
          margin-left: 0.625rem;
          transition: transform 0.3s ease-in-out;

          &.desc {
            transform: rotate(180deg);
          }

          g {
            stroke: var(--interactive_icon);
          }
          path {
            fill: var(--interactive_icon);
          }
        }

        &.#{$prefix}-overlay-wrapper-active {
          visibility: visible;
        }

        &.sortable {
          cursor: pointer;
        }
      }

      td {
        border-top: 0.0625rem solid transparent;
        padding: 0.625rem 0.625rem;
        border-bottom: 0.0625rem solid var(--default_border_xlow);
        background-color: var(--default_bg);

        .overflow-onhover {
          visibility: hidden;

          &.#{$prefix}-overlay-wrapper-active {
            visibility: visible;
          }
        }
      }
    }

    tbody {
      display: table-row-group;

      tr.#{$prefix}-active-row {
        td {
          background-color: var(--active_bg);
        }
      }

      tr:last-child {
        td {
          border-bottom: 0.0625rem solid transparent;
        }
      }

      tr:hover {
        td {
          color: var(--default_text_high);
          background-color: var(--interactive_bg_hover);
        }

        .overflow-onhover {
          visibility: visible;
        }
      }

      tr:focus {
        outline-offset: -0.125rem;
        outline: 0.125rem solid var(--interactive_border);
      }
    }

    &.#{$prefix}-data-table-zebra {
      tbody {
        tr {
          &:nth-child(even) {
            td {
              color: var(--default_text_high);
              background-color: var(--default_bg_low);
            }
          }

          &:nth-child(odd) {
            td {
              background-color: var(--default_bg);
            }
          }

          &:hover {
            td {
              color: var(--default_text_high);
              background-color: var(--interactive_bg_hover);
            }
          }
        }
      }
    }

    &.#{$prefix}-data-table-compact {
      tbody {
        tr {
          td {
            height: 1.5rem;
          }
        }
      }
    }

    &.#{$prefix}-data-table-fixed {
      table-layout: fixed;
    }

    &.#{$prefix}-data-table-tall {
      tbody {
        tr {
          td {
            height: 4rem;
          }
        }
      }
    }

    .sticky-left-div {
      left: 0;
    }

    .sticky-right-div {
      right: 0;
    }

    thead tr th.sticky-div {
      position: sticky;
      z-index: 3;
    }

    tbody tr td.sticky-div {
      position: sticky;
      z-index: 1;
    }

    th.sticky-left-div,
    th.sticky-right-div,
    td.sticky-left-div,
    td.sticky-right-div {
      &::after {
        pointer-events: none;
        content: '';
        transition: box-shadow 0.3s;
        position: absolute;
        top: 0;
        bottom: -0.125rem;
        width: 1.25rem;
      }
    }

    th.sticky-left-div,
    td.sticky-left-div {
      &::after {
        right: -0.0625rem;
        transform: translateX(100%);
        box-shadow: inset 0.625rem 0 0.5rem -0.5rem var(--default_shadow);
      }
    }

    th.sticky-right-div,
    td.sticky-right-div {
      &::after {
        left: -0.0625rem;
        transform: translateX(-100%);
        box-shadow: inset -0.625rem 0 0.5rem -0.5rem var(--default_shadow);
      }
    }
  }

  table.#{$prefix}-data-table.#{$prefix}-data-table-zebra {
    tbody {
      tr.#{$prefix}-active-row {
        td {
          background-color: var(--active_bg);
        }
      }
    }
  }

  &.data-table-sticky-header {
    overflow-x: auto;

    .#{$prefix}-data-table {
      border-collapse: separate;

      th {
        top: 0;
        z-index: 2;
        position: sticky;
      }

      thead tr:nth-child(2) th {
        top: 3.125rem;
      }
    }
  }

  &.data-table-header {
    overflow-x: auto;

    .#{$prefix}-data-table {
      border-collapse: separate;

      th {
        z-index: 2;
        position: relative;
      }
    }
  }

  &.#{$prefix}-data-table-borderless {
    border: 0.0625rem solid transparent;

    tbody {
      tr:last-child {
        td {
          border-bottom: 0.0625rem solid var(--default_border_xlow);
        }
      }
    }

    .#{$prefix}-data-table-zebra tbody tr td {
      border-bottom-color: transparent;
    }
  }

  .#{$prefix}-expand-row {
    transform: rotate(270deg);
    transition: all 0.3s ease-in-out;
  }

  .#{$prefix}-collapse-row {
    transition: all 0.3s ease-in-out;
  }

  .dragged-col {
    opacity: 0.5;
    border: 0.0625rem dotted;
  }
}

/* 
.resize-table class sits in body tag
*/
.resize-table {
  cursor: col-resize;

  .#{$prefix}-data-table {
    .resizable.hovered {
      > span.hcl-data-table-resizable {
        span.resize-handle {
          user-select: none;
          display: inline-block;
          position: absolute;
          width: 0.125rem;
          height: 100%;
          bottom: 0;
          right: 0;
          z-index: 2;
          cursor: col-resize;
          background: var(--interactive_border);
        }
      }
    }
  }
}

/*
resize table from bottom
*/
.hcl-data-table-resizer {
  border-top: 0.0625rem solid var(--interactive_border);
  cursor: row-resize;
  height: 0.625rem;
  background-color: var(--interactive_bg);
  &:hover {
    background-color: var(--interactive_bg_hover);
  }
}
