/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import '../../base';

.#{$prefix}-data-table-wrapper {
  width: 100%;
  border-bottom: transparent;

  color: var(--default_text);

  .resize-line {
    display: none;
    position: absolute;
    left: 0;
    display: inline-block;
    z-index: 5999;
    background-color: var(--interactive_border);
    width: 1px;
    height: 100%;
  }

  .#{$prefix}-data-table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    thead {
      display: table-header-group;
    }

    tr {
      display: table-row;
      outline: 0;
      vertical-align: middle;

      th,
      td {
        display: table-cell;
        padding: 0 0.625rem;
        font-size: 0.875rem;
        text-align: left;
        font-weight: 400;
        vertical-align: inherit;
        height: 3.125rem;

        &:focus {
          outline-offset: -0.0625rem;
          outline: 0.0625rem solid var(--interactive_border);
        }
      }

      td:first-child {
        border-left: 0.0625rem solid transparent;
      }

      td:last-child {
        border-right: 0.0625rem solid transparent;
      }

      th {
        line-height: 1.5rem;

        &.resizable {
          > span.hcl-data-table-resizable {
            user-select: none;
            display: inline-block;
            // visibility: hidden;
            position: absolute;
            width: 7px !important;
            height: 100%;
            bottom: 0;
            right: 0;
            z-index: 1;
            cursor: col-resize;
            background: transparent !important;
          }

          &:hover {
            > span.hcl-data-table-resizable {
              span.resize-handle {
                user-select: none;
                display: inline-block;
                position: absolute;
                width: 2px;
                height: 100%;
                bottom: 0;
                right: 0;
                z-index: 2;
                cursor: col-resize;
                background: var(--default_border_low);
              }
              &:hover {
                span.resize-handle {
                  background: var(--interactive_border);
                }
              }
            }
          }

          // &:hover {
          //   > span.hcl-data-table-resizable span.resize-handle {
          //     user-select: none;
          //     display: inline-block;
          //     position: absolute;
          //     width: 2px;
          //     height: 100%;
          //     bottom: 0;
          //     right: 0;
          //     z-index: 2;
          //     cursor: col-resize;
          //     background: var(--default_border_low);
          //   }

          //   > span.hcl-data-table-resizable {
          //     &:hover {
          //       span.resize-handle {
          //         &::after {
          //           content: '';
          //           display: inline-block;
          //           background: var(--interactive_border);
          //           height: 100%;
          //           width: 100%;
          //         }
          //       }
          //     }
          //   }
          // }

          // &:hover {
          //   > span.#{$prefix}-data-table-resizable {
          //     user-select: none;
          //     display: inline-block;
          //     position: absolute;
          //     width: 2px;
          //     height: 100%;
          //     bottom: 0;
          //     right: 0;
          //     z-index: 1;
          //     cursor: col-resize;
          //     &::after {
          //       content: '';
          //       display: inline-block;
          //       background: var(--default_border_low);
          //       height: 100%;
          //       width: 100%;
          //     }
          //   }
          // }
        }

        // &.resizable.hovered {
        //   > span.hcl-data-table-resizable {
        //     display: inline-block;
        //   }
        // }

        color: var(--default_text_high);
        background-color: var(--default_bg_low);

        .#{$prefix}-sorting {
          vertical-align: middle;
          margin-left: 0.625rem;
          transition: transform 0.3s ease-in-out;

          &.desc {
            transform: rotate(180deg);
          }
        }

        &.#{$prefix}-overlay-wrapper-active {
          visibility: visible;
        }

        &.sortable {
          cursor: pointer;
        }
      }

      td {
        border-top: 0.0625rem solid transparent;

        border-bottom: 0.0625rem solid var(--default_border_xlow);
        background-color: var(--default_bg);

        .overflow-onhover {
          visibility: hidden;

          &.#{$prefix}-overlay-wrapper-active {
            visibility: visible;
          }
        }
      }
    }

    tbody {
      display: table-row-group;

      tr:hover {
        td {
          color: var(--default_text_high);
          background-color: var(--interactive_bg_hover);
        }

        .overflow-onhover {
          visibility: visible;
        }
      }

      tr:focus {
        outline-offset: -1px;
        outline: 1px solid var(--interactive_border);
      }
    }

    &.#{$prefix}-data-table-zebra {
      tbody {
        tr {
          &:nth-child(even) {
            td {
              color: var(--default_text_high);
              background-color: var(--default_bg_low);
            }
          }

          &:nth-child(odd) {
            td {
              background-color: var(--default_bg);
            }
          }

          &:hover {
            td {
              color: var(--default_text_high);
              background-color: var(--interactive_bg_hover);
            }
          }
        }
      }
    }

    &.#{$prefix}-data-table-compact {
      tbody {
        tr {
          td {
            height: 1.5rem;
          }
        }
      }
    }

    &.#{$prefix}-data-table-tall {
      tbody {
        tr {
          td {
            height: 4rem;
          }
        }
      }
    }

    .sticky-left-div {
      left: 0;
    }

    .sticky-right-div {
      right: 0;
    }

    thead tr th.sticky-div {
      position: sticky;
      z-index: 3;
    }

    tbody tr td.sticky-div {
      position: sticky;
      z-index: 1;
    }

    th.sticky-left-div,
    th.sticky-right-div,
    td.sticky-left-div,
    td.sticky-right-div {
      &::after {
        pointer-events: none;
        content: '';
        transition: box-shadow 0.3s;
        position: absolute;
        top: 0;
        bottom: -2px;
        width: 20px;
      }
    }

    th.sticky-left-div,
    td.sticky-left-div {
      &::after {
        right: -1px;
        transform: translateX(100%);
        box-shadow: inset 10px 0 8px -8px var(--default_shadow);
      }
    }

    th.sticky-right-div,
    td.sticky-right-div {
      &::after {
        left: -1px;
        transform: translateX(-100%);
        box-shadow: inset -10px 0 8px -8px var(--default_shadow);
      }
    }
  }

  &.data-table-sticky-header {
    overflow-x: auto;

    .#{$prefix}-data-table {
      border-collapse: separate;

      th {
        top: 0;
        z-index: 2;
        position: sticky;
      }
    }
  }

  &.#{$prefix}-data-table-borderless {
    border: 0.0625rem solid transparent;

    .#{$prefix}-data-table-zebra tr td {
      border-bottom-color: transparent;
    }
  }

  .#{$prefix}-expand-row {
    transform: rotate(270deg);
    transition: all 0.3s ease-in-out;
  }

  .#{$prefix}-collapse-row {
    transition: all 0.3s ease-in-out;
  }
}

/* For Table Resize:
.resize-table class sits in body tag
*/
.resize-table {
  cursor: col-resize;
  // & .#{$prefix}-data-table-wrapper thead tr th.resizing {
  //   > span.#{$prefix}-data-table-resizable {
  //     user-select: none;
  //     display: inline-block;
  //     position: absolute;
  //     width: 2px;
  //     height: 100%;
  //     bottom: 0;
  //     right: 0;
  //     z-index: 1;
  //     &::after {
  //       content: ' ';
  //       display: inline-block;
  //       background: var(--interactive_border);
  //       height: 100%;
  //       width: 100%;
  //     }
  //   }
  // }
  .#{$prefix}-data-table {
    .resizable {
      > span.hcl-data-table-resizable {
        span.resize-handle {
          user-select: none;
          display: inline-block;
          position: absolute;
          width: 2px;
          height: 100%;
          bottom: 0;
          right: 0;
          z-index: 2;
          cursor: col-resize;
          background: var(--default_border_low);
        }
      }
    }
  }
}
