.#{$prefix}-slideout {
  position: fixed;
  display: block;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  .#{$prefix}-slideout-mask {
    background: var(--overlay);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &.#{$prefix}-slideout__default-border {
    .#{$prefix}-slideout-layout {
      border-top: 0.25rem solid var(--secondary_border);
    }
  }
  &.#{$prefix}-slideout__danger-border {
    .#{$prefix}-slideout-layout {
      border-top: 0.25rem solid var(--danger_border);
    }
  }
  &.#{$prefix}-slideout__warning-border {
    .#{$prefix}-slideout-layout {
      border-top: 0.25rem solid var(--warning_border);
    }
  }
  &.#{$prefix}-slideout__ghost-border {
    .#{$prefix}-slideout-layout {
      border-top: 0.25rem solid var(--ghost_border);
    }
  }
  .slide-in {
    animation: slide-in 0.25s ease-in;
    -webkit-animation: slide-in 0.25s ease-in;
  }
  .slide-out {
    animation: slide-out 0.25s ease-in;
    -webkit-animation: slide-out 0.25s ease-in;
  }

  .slide-in-left {
    animation: slide-in-left 0.25s ease-in;
    -webkit-animation: slide-in-left 0.25s ease-in;
  }
  .slide-out-left {
    animation: slide-out-left 0.25s ease-in;
    -webkit-animation: slide-out-left 0.25s ease-in;
  }
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @-webkit-keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @-webkit-keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes slide-out {
    0% {
      -webkit-transform: translateX(0%);
    }
    50% {
      transform: translateX(-50%);
    }

    100% {
      -webkit-transform: translateX(-100%);
    }
  }

  @keyframes slide-out-left {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0%);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      -webkit-transform: translateX(-100%);
    }
  }
  .#{$prefix}-slideout-layout {
    border-top: 0.25rem solid var(--secondary_border);
    position: absolute;
    right: 0;
    transition: width 0.15s linear;
    width: 0;
    height: 100%;
    padding: 1.75rem 1.5rem 0;
    max-height: 100%;
    max-width: 100%;
    background: var(--default_bg);
    &.default {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
    }
    &.show {
      width: 25rem;
    }
    &.hide {
      width: 0;
    }
    &.large {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      &.show {
        width: 37.5rem;
      }
    }
    &.layout-left {
      left: 0;
    }
    .#{$prefix}-slideout-header {
      display: flex;
      .#{$prefix}-slideout-header__text {
        position: relative;
        font-size: 1.5rem;
        line-height: 1.5;
        height: 2.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
      }
    }
    .#{$prefix}-slideout-close {
      right: 0.578125rem;
      top: 1.203125rem;
      padding: 0.875rem;
      background: transparent;
      cursor: pointer;
      position: absolute;
      & > svg {
        width: 0.75rem;
        height: 0.75rem;
        fill: var(--default_icon_high);
      }
    }
    .#{$prefix}-slideout-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 5.5rem;
      background: var(--default_bg_low);
      .#{$prefix}-action-bar {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        top: 0.9375rem;
        right: 1.5rem;
      }
    }
  }
  .#{$prefix}-slideout-content {
    margin-top: 1.5rem;
    overflow: auto;
    height: 80%;
  }
  @media (max-width: 768px) {
    .#{$prefix}-slideout-layout {
      &.show {
        width: 100%;
      }
    }
  }
}
