.#{$prefix}-datePicker {
    width: 18rem !important;

    &-container {
        position: relative;
        display: flex;
        flex-direction: column;

        >svg {
            position: absolute;
            top: 0.75rem;
            right: 1rem;
            fill: var(--black);
            cursor: pointer;
            z-index: 1;

            &:hover {
                fill: var(--blue);
            }
        }

        &-error {
            border: 0.0625rem solid var(--error) !important;
        }

        >input {
            padding-left: 1rem;
            border: none;
            width: 100%;
            height: 2.5rem;
            border-bottom: 0.0625rem solid var(--grey);
            color: var(--black);
            background-color: var(--grey-secondary);
            padding-right: 3rem;
            box-sizing: border-box;
            outline: none;
        }
    }

    &-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 8;
    }

    &-curMonth {
        padding-right: 0.5rem;
    }

    &-arrows {
        height: 1.25rem;
        width: 0rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0rem;
        left: 2.5rem;
        justify-content: space-evenly;

    }

    &-up {
        cursor: pointer;
        border-left: 0.25rem solid transparent;
        border-right: 0.25rem solid transparent;
        border-bottom: 0.25rem solid var(--blue);
    }

    &-down {
        cursor: pointer;
        border-left: 0.25rem solid transparent;
        border-right: 0.25rem solid transparent;
        border-top: 0.25rem solid var(--blue);
    }

    &-year {
        position: relative;

        >input {
            width: 3rem;
            background-color: var(--grey-secondary);
        }

    }

    &-select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-month {
        height: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;

        >span {
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    &-days {
        height: 2.5rem;
        display: flex;
        flex-direction: row;

        span {
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--black);
            border-radius: 0;
            border: none;
        }
    }

    &-dates {
        height: 15.375rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &-today {
            &:after {
                content: "";
                position: absolute;
                display: block;
                bottom: 0.4375rem;
                left: 50%;
                transform: translateX(-50%);
                height: 0.25rem;
                width: 0.25rem;
                background: var(--blue);
            }
        }

        span {
            cursor: pointer;
            font-size: .875rem;
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            border: none;
            position: relative;
        }
    }

    &-date {
        color: var(--black);

        &:hover {
            background-color: var(--grey-3);
        }

        &-picked {
            background-color: var(--blue);
            color: var(--white);

            &:hover {
                color: var(--black);
            }
        }
    }

    &-panel {
        background-color: var(--grey-secondary);
        display: block;
        z-index: 9;

        &-show {
            display: block;
        }

        &-hide {
            display: none;
        }
    }

    &-error {
        display: none;
        color: var(--error);
        font-weight: 400;
        margin-top: .25rem;
        overflow: visible;

        &-show {
            display: block;
        }
    }
}