.#{$prefix}-datePicker {


    &-container {
        position: relative;
        display: flex;
        flex-direction: column;

        >svg {
            position: absolute;
            top: 0.75rem;
            left: 1rem;
            fill: var(--blue-light);
            cursor: pointer;
            z-index: 1;

            // &:hover {
            //     fill: var(--blue-light);
            // }
        }

        &-error {
            border: 0.0625rem solid var(--error) !important;
        }

        >input {
            padding: 0 1rem 0 3rem;
            border: none;
            width: 9rem;
            height: 2.5rem;
            border-bottom: 0.0625rem solid var(--dark-blue);
            background-color: rgba(70, 150, 210, 0.05);
            outline: none;
            font-size: 0.875rem;
        }
    }

    &-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 8;
    }

    &-curMonth {
        padding-right: 0.5rem;
    }

    &-arrows {
        height: 1.25rem;
        width: 0rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0rem;
        left: 2.5rem;
        justify-content: space-evenly;

    }

    &-up {
        cursor: pointer;
        border-left: 0.25rem solid transparent;
        border-right: 0.25rem solid transparent;
        border-bottom: 0.25rem solid var(--blue);
    }

    &-down {
        cursor: pointer;
        border-left: 0.25rem solid transparent;
        border-right: 0.25rem solid transparent;
        border-top: 0.25rem solid var(--blue);
    }

    &-year {
        position: relative;

        >input {
            width: 2.5rem;
            background-color: rgba(70, 150, 210, 0.05);
            text-align: center;

        }

    }

    &-select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-month {
        // height: 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        margin-bottom: .25rem;
        // padding: 0 1.09375rem 0 1.09375rem;

        >span {
            height: 1.75rem;
            width: 1.75rem;
            padding: 0.5rem;
            fill: var(--dark-blue);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    &-days {
        height: 1.75rem;
        display: flex;
        margin-bottom: .25rem;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;

        // padding: 0 2.6875rem 0 2.6875rem;

        span {
            height: 1.5rem;
            width: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // color: var(--black);
            border-radius: 0;
            border: none;
            margin: 0.125rem;
        }
    }

    &-dates {
        // height: 15.375rem;
        // padding: 0 2.1875rem 0 2.1875rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;


        &-today {
            &:after {
                content: "";
                position: absolute;
                display: block;
                top: 90%;
                left: 50%;
                height: 3px;
                width: 3px;
                border-radius: 50%;
                background: #3d70b2;
            }
        }

        span {
            cursor: pointer;
            font-size: 12px;
            height: 1.5625rem;
            width: 1.8rem;
            margin: 0.125rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            border: none;
            position: relative;
        }
    }

    &-date {
        // color: var(--black);

        &:hover {
            background-color: rgba(85, 150, 230, .1);
        }

        &-picked {
           border: 2px solid #3d70b2 !important;
        }

        &-fade {
            opacity: .5;
            color: #5a6872;
        }
    }

    &-panel {
        background-color: var(--white);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
        display: block;
        z-index: 9;
        width: 17.8125rem;
        height: 16.375rem;
        padding: 1rem 1rem 0.25rem 1rem;
        color: var(--blue-4);

        &-show {
            display: block;
        }

        &-hide {
            display: none;
        }
    }

    &-error {
        display: none;
        color: var(--error);
        font-weight: 400;
        margin-top: .25rem;
        overflow: visible;

        &-show {
            display: block;
        }
    }
}