<section id="treeStructure" >
  <div class="hcl-row">
      <div class="hcl-col-4">
          <ul role="tree" class="hcl-tree">
              <li class="tree-item" role="treeitem" aria-expanded="false">
                  <div class="tree-node" tabindex="0">
                      <i class="toggle-icon"></i>
                      <span>Main 1</span>
                  </div>
                  <ul role="group" class="tree-nested">
                      <li class="tree-item" role="treeitem">
                          <div class="tree-node pl-5" tabindex="0">
                              <span>Sub Main 1.1</span>
                          </div>
                      </li>
                      <li class="tree-item" role="treeitem">
                          <div class="tree-node pl-5" tabindex="0">
                              <span>Sub Main 1.2</span>
                          </div>
                      </li>
                  </ul>
              </li>
              <li class="tree-item" role="treeitem" aria-expanded="false">
                  <div class="tree-node" tabindex="0">
                      <i class="toggle-icon"></i>
                      <span>Main 2</span>
                  </div>
                  <ul role="group" class="tree-nested">
                      <li class="tree-item" role="treeitem" aria-expanded="false">
                          <div class="tree-node" tabindex="0">
                              <i class="toggle-icon"></i>
                              <span>Sub Main 2.1</span>
                          </div>
                          <ul role="group" class="tree-nested">
                              <li class="tree-item" role="treeitem">
                                  <div class="tree-node pl-5" tabindex="0">
                                      <span>Sub Main 2.1.1</span>
                                  </div>
                              </li>
                              <li class="tree-item" role="treeitem">
                                  <div class="tree-node pl-5" tabindex="0">
                                      <span>Sub Main 2.1.2</span>
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <li class="tree-item" role="treeitem" aria-expanded="false">
                          <div class="tree-node" tabindex="0">
                              <i class="toggle-icon"></i>
                              <span>Sub Main 2.2</span>
                          </div>
                          <ul role="group" class="tree-nested">
                              <li class="tree-item" role="treeitem">
                                  <div class="tree-node pl-5" tabindex="0">
                                      <span>Sub Main 2.2.1</span>
                                  </div>
                              </li>
                              <li class="tree-item" role="treeitem">
                                  <div class="tree-node pl-5" tabindex="0">
                                      <span>Sub Main 2.2.1</span>
                                  </div>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li class="tree-item" role="treeitem" aria-expanded="false">
                  <div class="tree-node" tabindex="0">
                      <i class="toggle-icon"></i>
                      <span>Main 3</span>
                  </div>
                  <ul role="group" class="tree-nested">
                      <li class="tree-item" role="treeitem">
                          <div class="tree-node pl-5" tabindex="0">
                              <span>Sub Main 3.1</span>
                          </div>
                      </li>
                      <li class="tree-item" role="treeitem">
                          <div class="tree-node pl-5" tabindex="0">
                              <span>Sub Main 3.2</span>
                          </div>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</section>