<section id="treeStructure">
    <div class="hcl-row">
        <div class="hcl-col-4">
            <ul role="tree" class="hcl-tree">
                <li class="tree-item" role="treeitem" aria-expanded="false">
                    <div class="tree-node " tabindex="0">
                        <i class="toggle-icon"></i>
                        <div class="treenode-action-wrapper">
                            <div class="treenode-content-wrapper">
                                <i class="pi pi-export expanded"></i>
                                <i class="pi pi-folder collapsed"></i>
                                <span class="tree-text-node " title="Main">
                                    <div>Main</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <ul role="group" class="tree-nested">
                        <li class="tree-item" role="treeitem" aria-expanded="false">
                            <div class="tree-node no-children-exist " tabindex="0">
                                <div class="treenode-action-wrapper">
                                    <div class="treenode-content-wrapper">
                                        <i class="pi pi-folder"></i><span class="tree-text-node " title="1">
                                            <div>1</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tree-item" role="treeitem" aria-expanded="false">
                            <div class="tree-node no-children-exist " tabindex="0">
                                <div class="treenode-action-wrapper">
                                    <div class="treenode-content-wrapper">
                                        <i class="pi pi-document"></i><span class="tree-text-node " title="2">
                                            <div>2</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tree-item" role="treeitem" aria-expanded="false">
                            <div class="tree-node no-children-exist " tabindex="0">
                                <div class="treenode-action-wrapper">
                                    <div class="treenode-content-wrapper">
                                        <i class="pi pi-document"></i><span class="tree-text-node " title="3">
                                            <div>3</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tree-item" role="treeitem" aria-expanded="false">
                            <div class="tree-node no-children-exist " tabindex="0">
                                <div class="treenode-action-wrapper">
                                    <div class="treenode-content-wrapper">
                                        <i class="pi pi-document"></i><span class="tree-text-node " title="4">
                                            <div>4</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="tree-item" role="treeitem" aria-expanded="false">
                    <div class="tree-node " tabindex="0">
                        <i class="toggle-icon"></i>
                        <div class="treenode-action-wrapper">
                            <div class="treenode-content-wrapper">
                                <i class="pi pi-export expanded"></i>
                                <i class="pi pi-folder collapsed"></i><span class="tree-text-node " title="Folder 2">
                                    <div>Folder 2</div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <ul role="group" class="tree-nested">
                        <li class="tree-item" role="treeitem" aria-expanded="false">
                            <div class="tree-node " tabindex="0">
                                <i class="toggle-icon"></i>
                                <div class="treenode-action-wrapper">
                                    <div class="treenode-content-wrapper">
                                        <i class="pi pi-export expanded"></i>
                                        <i class="pi pi-folder collapsed"></i><span class="tree-text-node "
                                            title="Folder 2.1">
                                            <div>Folder 2.1</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <ul role="group" class="tree-nested">
                                <li class="tree-item" role="treeitem" aria-expanded="false">
                                    <div class="tree-node no-children-exist " tabindex="0">
                                        <div class="treenode-action-wrapper">
                                            <div class="treenode-content-wrapper">
                                                <i class="pi pi-document"></i><span class="tree-text-node "
                                                    title="File 2.1.1">
                                                    <div>File 2.1.1</div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tree-item" role="treeitem" aria-expanded="false">
                                    <div class="tree-node no-children-exist " tabindex="0">
                                        <div class="treenode-action-wrapper">
                                            <div class="treenode-content-wrapper">
                                                <i class="pi pi-folder"></i><span class="tree-text-node "
                                                    title="Folder 2.1.2">
                                                    <div>Folder 2.1.2</div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="tree-item" role="treeitem" aria-expanded="false">
                            <div class="tree-node " tabindex="0">
                                <i class="toggle-icon"></i>
                                <div class="treenode-action-wrapper">
                                    <div class="treenode-content-wrapper">
                                        <i class="pi pi-export expanded"></i>
                                        <i class="pi pi-folder collapsed"></i><span class="tree-text-node "
                                            title="Folder 2.2">
                                            <div>Folder 2.2</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <ul role="group" class="tree-nested">
                                <li class="tree-item" role="treeitem" aria-expanded="false">
                                    <div class="tree-node " tabindex="0">
                                        <i class="toggle-icon"></i>
                                        <div class="treenode-action-wrapper">
                                            <div class="treenode-content-wrapper">
                                                <i class="pi pi-export expanded"></i>
                                                <i class="pi pi-folder collapsed"></i><span class="tree-text-node "
                                                    title="Folder 2.2.1">
                                                    <div>Folder 2.2.1</div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul role="group" class="tree-nested">
                                        <li class="tree-item" role="treeitem" aria-expanded="false">
                                            <div class="tree-node no-children-exist " tabindex="0">
                                                <div class="treenode-action-wrapper">
                                                    <div class="treenode-content-wrapper">
                                                        <i class="pi pi-document"></i><span class="tree-text-node "
                                                            title="File 2.2.1.1">
                                                            <div>File 2.2.1.1</div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="tree-item" role="treeitem" aria-expanded="false">
                                            <div class="tree-node no-children-exist " tabindex="0">
                                                <div class="treenode-action-wrapper">
                                                    <div class="treenode-content-wrapper">
                                                        <i class="pi pi-document"></i><span class="tree-text-node "
                                                            title="File 2.2.1.2">
                                                            <div>File 2.2.1.2</div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tree-item" role="treeitem" aria-expanded="false">
                                    <div class="tree-node no-children-exist " tabindex="0">
                                        <div class="treenode-action-wrapper">
                                            <div class="treenode-content-wrapper">
                                                <i class="pi pi-document"></i><span class="tree-text-node "
                                                    title="File 2.2.2">
                                                    <div>File 2.2.2</div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="tree-item" role="treeitem" aria-expanded="false">
                    <div class="tree-node no-children-exist " tabindex="0">
                        <div class="treenode-action-wrapper">
                            <div class="treenode-content-wrapper">
                                <i class="pi pi-document"></i><span class="tree-text-node " title="File 3">
                                    <div>File 3</div>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>