/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import '../../base';

$pagination-font-size: var(--body-font-size);
$pagination-line-height: 1.125rem;

.#{$prefix}-pagination {
  font-size: $pagination-font-size;
  @include getFontWeight('regular');
  line-height: $pagination-line-height;
  width: 100%;

  background-color: var(--default_bg);
  border: 1px solid var(--default_border_xlow);

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: hcl-rem(40px);

  &-left,
  &-right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-left {
    //padding: 0 1rem;

    @include media-breakpoint-down(sm) {
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: flex-end;
      padding-right: 0;
    }

    .#{$prefix}-pagination-select-wrapper {
      select,
      .#{$prefix}-pagination-select {
        padding-right: hcl-rem(32px);
      }

      svg,
      .#{$prefix}-select-arrow {
        right: hcl-rem(16px);
      }

      &::after {
        content: '';

        border-right: 1px solid var(--default_border_xlow);

        height: 100%;
      }
    }

    .#{$prefix}-range-separator {
      margin: 0 hcl-rem(2px) 0;
    }

    .#{$prefix}-pagination-range {
      margin-right: hcl-rem(2px);
    }

    .#{$prefix}-pagination-totalitems {
      margin: 0 hcl-rem(2px) 0;
    }
  }

  &-left {
    button.#{$prefix}-pagination-button-next,
    button.#{$prefix}-pagination-button-previous {
      border-right-width: 0;
    }
  }

  &-right {
    button.#{$prefix}-pagination-button-next{
      border-left-width: 0;
    }
  }

  &-right:last-child {
    button.#{$prefix}-pagination-button-next{
      border-right-width: 0;
    }
  }

  &-left {
    button.#{$prefix}-pagination-button-next,
    button.#{$prefix}-pagination-button-previous {
      border-left-width: 0;
    }
  }

  &-right,
  &-left {
    button.#{$prefix}-pagination-button-previous,
    button.#{$prefix}-pagination-button-next {
      height: 100%;
      margin: 0;
      border-width: 0 1px 0 1px;
      border-style: solid;

      background-color: var(--default_bg);
      border-right: 1px solid var(--default_border_xlow);
      border-left: 1px solid var(--default_border_xlow);

      padding: 0 1rem;
      cursor: pointer;

      &:focus {
        outline-offset: -1px;

        outline: 1px solid var(--interactive_border);
      }

      &:hover {
        background-color: var(--interactive_bg_hover);
      }

      &:disabled {
        opacity: var(--disabled_all);

        cursor: not-allowed;
      }

      svg,
      .#{$prefix}-pagination__button-icon {
        fill: var(--interactive_icon);
      }
    }

    button.#{$prefix}-pagination-button-next {
      // border-right-width: 0;

      &:hover {
        background-color: var(--interactive_bg_hover);
      }

      svg,
      .#{$prefix}-pagination__button-icon {
        fill: var(--interactive_icon);
      }
    }

    .#{$prefix}-pagination-text {
      margin-right: hcl-rem(16px);

      color: var(--default_text);
    }

    .#{$prefix}-pagination-select-wrapper {
      select,
      .#{$prefix}-pagination-select {
        padding-right: 2rem;
      }

      &::after {
        margin-left: 0;
      }

      svg,
      .#{$prefix}-select-arrow {
        right: hcl-rem(16px);

        fill: var(--interactive_icon);
      }
    }

    .#{$prefix}-page-start {
      margin-right: hcl-rem(2px);
    }

    .#{$prefix}-page-end {
      margin: 0 hcl-rem(2px) 0;
    }
  }

  label,
  &-text {
    margin-bottom: 0;
    font-weight: normal;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .#{$prefix}-pagination-range {
    margin-left: hcl-rem(16px);

    color: var(--default_text);

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .#{$prefix}-pagination-label {
    color: var(--default_text);
    margin-left: 1rem;

    @include media-breakpoint-down(sm) {
      font-size: 0.75rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @include media-breakpoint-down(xs) {
      max-width: calc(100% - 3rem);
    }
  }

  &-select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    border: none;

    select,
    .#{$prefix}-pagination-select {
      width: auto;
      height: 100%;
      padding: 0 1rem 0 1rem;
      appearance: none;
      margin-right: -0.65rem;
      cursor: pointer;
      text-align-last: center;

      background-color: var(--interactive_bg);
      color: var(--interactive_text);

      &:hover {
        background-color: var(--interactive_bg_hover);
      }

      &:focus {
        outline: 2px solid var(--interactive_border);
      }
    }

    svg,
    .#{$prefix}-select-arrow {
      pointer-events: none;

      fill: var(--interactive_icon);

      position: relative;
      top: auto;
      bottom: auto;
    }
  }
}
