.#{$prefix}-pagination-wrapper {
    width: 36.25rem;
    height: 3.125rem;

    .#{$prefix}-pagination {
        font-family: inherit;
        font-size: .875rem;
        font-weight: 400;
        background-color: #f3f3f3;
        color: #171717;
        display: flex;
        justify-content: space-between;
        line-height: 1.125rem;
        letter-spacing: .16px;
        width: 100%;
        border-top: 1px solid #dcdcdc;
        height: 3rem;
        align-items: center;


        &-left {
            display: flex;
            padding: 0rem 1rem;
            border-right: .0625rem solid #dcdcdc;
            height: 100%;
            align-items: center;


            &__selectItemCount {
                border-right: .0625rem solid #dcdcdc;
                height: 100%;
                grid-template-columns: auto 0;

            }



            svg {
                position: relative;
                top: auto;
                right: 1.1rem;
                bottom: auto;
                pointer-events: none;
            }

        }

        &-right {
            display: flex;
            justify-content: space-between;
            padding: 0rem 1rem;
            height: 100%;
            align-items: center;

            // &__text {
            //     margin-right: .0625rem;
            // }

            &-page {
                height: 100%;
                grid-template-columns: auto 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__select {
                    padding-left: 1rem;
                    padding-right: 2rem;
                }
            }

            svg {
                position: relative;
                top: auto;
                right: 1.1rem;
                bottom: auto;
                pointer-events: none;
            }
        }

        &-option {
            font-weight: normal;
            display: block;
            white-space: pre;
            min-height: 1.2em;
            padding: 0px 2px 1px;
        }


        &__text {
            margin-right: .0625rem;
            margin-left: 1rem;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 0px; 
        }

        &__selectInput {
            padding: 0 1.5rem 0 .5rem;
            font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
            font-size: .875rem;
            font-weight: 400;
            line-height: 1.125rem;
            letter-spacing: .16px;
            width: 42px;
            min-width: auto;
            height: 100%;
            background-color: #f3f3f3;
            // display: none
            padding: 0;
            margin-left:5px;
            margin-right:5px;
            -webkit-appearance: none;
            -moz-appearance: none;
          
        }

        &__button {
            background: none;
            cursor: pointer;
            height: 100%;
            margin: 0;
            padding: 0 .875rem;
            border: none;
            border-left: 1px solid #dcdcdc;
            fill: #171717;
            transition: outline .11s cubic-bezier(.2, 0, .38, .9);
            transition: background-color .11s cubic-bezier(.2, 0, .38, .9);
        }

        &-btnSection{
            display: flex;
            justify-content: space-between;
            height: 100%;

        }
    }


}