<section class="hcl-container p-5">
  <div id="pagination" class="hcl-pagination">
    <div class="hcl-pagination-left">
      <div class="hcl-pagination-label">Items per page:</div>
      <div class="hcl-pagination-select-wrapper"></div>
      <span class="hcl-pagination-range">
        <span class="hcl-range-start"></span>
        <span class="hcl-range-separator">-</span>
        <span class="hcl-range-end"></span>
        of
        <span class="hcl-pagination-totalitems"></span>items
      </span>
    </div>
    <div class="hcl-pagination-right">
      <button
        disabled
        class="hcl-pagination-button-previous"
        aria-label="Previous page"
      >
        <svg
          class="bx--pagination__button-icon"
          width="7"
          height="12"
          viewBox="0 0 7 12"
        >
          <path
            fill-rule="nonzero"
            d="M1.45 6.002L7 11.27l-.685.726L0 6.003 6.315 0 7 .726z"
          ></path>
        </svg>
      </button>
      <div class="hcl-pagination-select-wrapper"></div>
      <button class="hcl-pagination-button-next" aria-label="Next page">
        <svg
          class="bx--pagination__button-icon"
          width="7"
          height="12"
          viewBox="0 0 7 12"
        >
          <path
            fill-rule="nonzero"
            d="M5.569 5.994L0 .726.687 0l6.336 5.994-6.335 6.002L0 11.27z"
          ></path>
        </svg>
      </button>
      <span class="hcl-pagination-text">
        <span class="hcl-page-start"></span>
        of
        <span class="hcl-page-end"></span>pages
      </span>
      <button
        disabled
        class="hcl-pagination-button-previous"
        aria-label="Previous page"
      >
        <svg
          class="bx--pagination__button-icon"
          width="7"
          height="12"
          viewBox="0 0 7 12"
        >
          <path
            fill-rule="nonzero"
            d="M1.45 6.002L7 11.27l-.685.726L0 6.003 6.315 0 7 .726z"
          ></path>
        </svg>
      </button>
      <div class="hcl-pagination-select-wrapper"></div>
      <button class="hcl-pagination-button-next" aria-label="Next page">
        <svg
          class="bx--pagination__button-icon"
          width="7"
          height="12"
          viewBox="0 0 7 12"
        >
          <path
            fill-rule="nonzero"
            d="M5.569 5.994L0 .726.687 0l6.336 5.994-6.335 6.002L0 11.27z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</section>
