@mixin fontWeight($size) {
    font-weight: $size;
}
@mixin fontDetails {
    font-family: inherit;
    font-size: .875rem;
    // font-weight: 400;
    @include fontWeight(400);
}

.#{$prefix}-pagination-wrapper {
    width: 38.25rem;
    height: 3.125rem;

    .#{$prefix}-pagination {
        @include fontDetails();
        // font-family: inherit;
        // font-size: .875rem;
        // font-weight: 400;
        // background-color: #f3f3f3;
        background-color: var(--grey-secondary);
        color: #171717;
        display: flex;
        justify-content: space-between;
        line-height: 1.125rem;
        letter-spacing: .16px;
        width: 100%;
        border-top: 1px solid #dcdcdc;
        height: 3rem;
        align-items: center;

        &-left {
            display: flex;
            padding: 0rem 1rem;
            border-right: .0625rem solid #dcdcdc;
            height: 100%;
            align-items: center;

            &-selectItemCount {
                height: 100%;
            }

            svg {
                position: relative;
                top: auto;
                right: 1.1rem;
                bottom: auto;
                pointer-events: none;
            }

        }

        &-right {
            display: flex;
            justify-content: space-between;
            padding: 0rem 1rem;
            height: 100%;
            align-items: center;

            &-page {
                height: 100%;
                grid-template-columns: auto 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-select {
                    padding-left: 1rem;
                    padding-right: 2rem;
                }

                .no-border {
                    border: 0;
                }
            }

            svg {
                position: relative;
                top: auto;
                right: 1.1rem;
                bottom: auto;
                pointer-events: none;
            }
        }

        &-option {
            // font-weight: normal;
            @include fontWeight(normal);
            display: block;
            white-space: pre;
            min-height: 1.2em;
            padding: 0px 2px 1px;
        }

        &-text {
            margin-right: .0625rem;
            margin-left: 1rem;
            // font-weight: 400;
            @include fontWeight(400);
            font-size: 14px;
            margin-bottom: 0px;
        }

        &-selectInput {
            padding: 0 1.5rem 0 .5rem;
            // font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
            // font-size: .875rem;
            // font-weight: 400;

            @include fontDetails();
            line-height: 1.125rem;
            letter-spacing: .16px;
            width: 58px;
            min-width: auto;
            height: 100%;
            background-color: #f3f3f3;
            padding-right: 2rem;
            margin-right: -.65rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-right: 0.0625rem solid #dcdcdc;

            &:hover {
                background-color: #E5E5E5;
            }
        }

        &-button {
            background: none;
            cursor: pointer;
            height: 100%;
            margin: 0;
            padding: 0 .875rem;
            border: none;
            border-left: 1px solid #dcdcdc;
            fill: #171717;
            transition: outline .11s cubic-bezier(.2, 0, .38, .9);
            transition: background-color .11s cubic-bezier(.2, 0, .38, .9);

            &:hover {
                background-color: #E5E5E5;
            }

            &-disable {
                fill: #bebebe;
                cursor: not-allowed;
            }
        }

        &-btnSection {
            display: flex;
            justify-content: space-between;
            height: 100%;

        }
    }
}