<div class="hcl-row p-5">
  <div class="hcl-col-3">
    <span
      tabindex="0"
      class="hcl-def-tooltip"
      data-direction="top"
      data-tooltip="Breif Definition of the dotted underlined word."
      role="tooltip"
    >
      Definition Tooltip on Top
    </span>
  </div>
  <div class="hcl-col-3">
    <span
      tabindex="0"
      class="hcl-def-tooltip"
      data-direction="right"
      data-tooltip="Breif Definition of the dotted underlined word."
      role="tooltip"
    >
      Definition Tooltip on Right
    </span>
  </div>
  <div class="hcl-col-3">
    <span
      tabindex="0"
      class="hcl-def-tooltip"
      data-direction="bottom"
      data-tooltip="Breif Definition of the dotted underlined word."
      role="tooltip"
    >
      Definition on Bottom
    </span>
  </div>
  <div class="hcl-col-3">
    <span
      tabindex="0"
      class="hcl-def-tooltip"
      data-direction="left"
      data-tooltip="Breif Definition of the dotted underlined word."
      role="tooltip"
    >
      Definition Tooltip on Left
    </span>
  </div>
</div>
