<select class="hcl-select hcl-form-control hcl-ghost-dropdown">
  <option class="hcl-select-option" value="placeholder-item">
    choose an option
  </option>
  <optgroup class="hcl-select-optgroup" label="Category 1">
    <option class="hcl-select-option" value="option 1">option 1</option>
    <option class="hcl-select-option" value="option 2">option 2</option>
  </optgroup>
  <optgroup class="hcl-select-optgroup" label="Category 2">
    <option class="hcl-select-option" value="option 3">option 3</option>
    <option class="hcl-select-option" value="option 4">option 4</option>
  </optgroup>
</select>
