<div class="hcl-slider-wrapper" id="slider-input">
    <label for="sliderElement" class="hcl-label">Slider with TextField</label>
    <div class="hcl-helper-text">
        Optional Helper text goes here (max 100 and min 0)
    </div>
    <div class="hcl-slider">
        <label class="hcl-slider-bottom-range">0</label>
        <div class="hcl-slider-input-wrapper">
            <input id="sliderElement" class="hcl-slider-input" type="range" value="10" min="0" max="100" step="5" />
            <div class="hcl-range-value">
                <span></span>
            </div>
        </div>

        <label class="hcl-slider-top-range">100</label>
        <input class="hcl-form-control hcl-slider-text-input" min="0" max="100" step="5" type="number" />
    </div>
    <div class="hcl-error-msg"></div>
</div>