<div class="hcl-container">
  <div class="hcl-row">
    <div class="hcl-col-xs-12 hcl-col-md-12">
      <p>.text-page-heading</p>
      <div class="text-page-heading">What is Lorem Ipsum4?</div>
      <p>.text-page-heading-small</p>
      <div class="text-page-heading-small">What is Lorem Ipsum4?</div>
      <p>.text-page-nav</p>
      <div class="text-page-nav">What is Lorem Ipsum4?</div>
      <p>.text-page-subnav</p>
      <div class="text-page-subnav">What is Lorem Ipsum4?</div>
      <p>.text-page-descriptive</p>
      <div class="text-page-descriptive">What is Lorem Ipsum4?</div>
      <p>.text-page-action</p>
      <div class="text-page-action">What is Lorem Ipsum4?</div>
      <p>.text-page-body</p>
      <div class="text-page-body">What is Lorem Ipsum4?</div>
      <p>.text-section-heading</p>
      <div class="text-section-heading">What is Lorem Ipsum4?</div>
      <p>.text-section-heading-small</p>
      <div class="text-section-heading-small">What is Lorem Ipsum4?</div>
      <p>.text-section-nav</p>
      <div class="text-section-nav">What is Lorem Ipsum4?</div>
      <p>.text-section-ssubnav</p>
      <div class="text-section-subnav">What is Lorem Ipsum4?</div>
      <p>.text-section-body-short</p>
      <div class="text-section-body-short">What is Lorem Ipsum4?</div>
      <p>.text-section-body-long</p>
      <div class="text-section-body-long">What is Lorem Ipsum4?</div>
      <p>.text-body-descriptive</p>
      <div class="text-section-descriptive">What is Lorem Ipsum4?</div>
      <p>.text-content-heading</p>
      <div class="text-content-heading">What is Lorem Ipsum4?</div>
      <p>.text-content-heading-small</p>
      <div class="text-content-heading-small">What is Lorem Ipsum4?</div>
      <p>.text-content-nav</p>
      <div class="text-content-nav">What is Lorem Ipsum4?</div>
      <p>.text-content-body-short</p>
      <div class="text-content-body-short">What is Lorem Ipsum4?</div>
      <p>.text-content-body-long</p>
      <div class="text-content-body-long">What is Lorem Ipsum4?</div>
      <p>.text-content-descriptive</p>
      <div class="text-content-descriptive">What is Lorem Ipsum4?</div>
      <p>.text-content-meta</p>
      <div class="text-content-meta">What is Lorem Ipsum4?</div>
      <p>.text-content-numeric</p>
      <div class="text-content-numeric">What is Lorem Ipsum4?</div>
      <p>.text-content-action</p>
      <div class="text-content-action">What is Lorem Ipsum4?</div>
      <p>.text-component-heading</p>
      <div class="text-component-heading">What is Lorem Ipsum4?</div>
      <p>.text-component-heading-small</p>
      <div class="text-component-heading-small">What is Lorem Ipsum4?</div>
      <p>.text-component-heading</p>
      <div class="text-component-body-short">What is Lorem Ipsum4?</div>
      <p>.text-component-heading</p>
      <div class="text-component-body-long">What is Lorem Ipsum4?</div>
      <p>.text-component-heading</p>
      <div class="text-component-descriptive">What is Lorem Ipsum4?</div>
      <p>.text-component-heading</p>
      <div class="text-component-nav">What is Lorem Ipsum4?</div>
      <p>.text-component-heading</p>
      <div class="text-component-meta">What is Lorem Ipsum4?</div>
      <p>.text-component-heading</p>
      <div class="text-component-numeric">What is Lorem Ipsum4?</div>
      <p>.text-additional-code-small</p>
      <div class="text-additional-code-small">What is Lorem Ipsum4?</div>
      <p>.text-additional-code-large</p>
      <div class="text-additional-code-large">What is Lorem Ipsum4?</div>
      <p>.text-additional-quote</p>
      <div class="text-additional-quote">What is Lorem Ipsum4?</div>
      <p>.text-additional-active</p>
      <div class="text-additional-active">What is Lorem Ipsum4?</div>
      <p>.text-additional-label</p>
      <div class="text-additional-label">What is Lorem Ipsum4?</div>
      <p>.text-additional-overline</p>
      <div class="text-additional-overline">What is Lorem Ipsum4?</div>
      <p>.text-additional-legal</p>
      <div class="text-additional-legal">What is Lorem Ipsum4?</div>
      <p>.text-additional-numeric</p>
      <div class="text-additional-numeric">What is Lorem Ipsum4?</div>
    </div>
  </div>
</div>
<!-- <pre>--------------------------------------</pre>
<div class="hcl-container">
  <div class="hcl-row">
    <div class="hcl-col-md-12">
      <div class="hcl-expressive">
        <div class="text-page-heading" tabindex="0">What is Lorem Ipsum4?</div>
        <div class="text-page-heading-small" tabindex="0">
          What is Lorem Ipsum4?
        </div>
        <div class="hcl-productive text-page-heading" tabindex="0">
          What is Lorem Ipsum4?
        </div>
        <div class="hcl-productive text-page-heading-small" tabindex="0">
          What is Lorem Ipsum4?
        </div>
        <div class="hcl-expressive">
          <div class="text-page-heading" tabindex="0">
            What is Lorem Ipsum4?
          </div>
          <div class="text-page-heading-small" tabindex="0">
            What is Lorem Ipsum4?
          </div>
          <div class="hcl-productive text-page-heading" tabindex="0">
            What is Lorem Ipsum4?
          </div>
          <div class="hcl-productive text-page-heading-small" tabindex="0">
            What is Lorem Ipsum4?
          </div>
          <div class="hcl-productive" tabindex="0">
            <div class="text-page-heading" tabindex="0">
              What is Lorem Ipsum4?
            </div>
            <div class="text-page-heading-small" tabindex="0">
              What is Lorem Ipsum4?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
