/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-inline {
  &-overlay {
    .#{$prefix}-overlay-container.#{$prefix}-overlay-container-show {
      box-shadow: none;
      background-color: transparent;
      top: 2.625rem !important;
    }
  }

  &-error {
    font-size: 0.75rem;
    line-height: 1.125rem;
    box-shadow: 0 0.25rem 0.5rem 0.15rem var(--default_shadow);
    background-color: var(--default_bg);
    padding: 0.75rem;
    word-break: break-word;
    color: var(--danger_text);
  }

  &-loader {
    top: 0.75rem;
    left: 9rem;
    position: absolute;
  }

  &-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &-panel {
    box-shadow: 0 0.25rem 0.5rem 0.15rem var(--default_shadow);
    background-color: var(--default_bg);
    padding: 0.25rem;

    button:last-child {
      margin-right: 0;
    }
  }

  &-btn {
    margin-right: 0.25rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 2rem;
    height: 2rem;
    padding: 0;

    i {
      font-size: 1.5rem;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 0;
    }
  }
}
