/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-inline-editor-wrapper {
  width: 100%;

  .#{$prefix}-inline-editor-overlay {
    box-shadow: none;
    background-color: transparent;

    .#{$prefix}-inline-editor-error {
      font-size: 0.75rem;
      line-height: 1.125rem;
      box-shadow: 0 0.25rem 0.5rem 0.15rem var(--default_shadow);
      background-color: var(--default_bg);
      padding: 0.5rem 1rem;
      word-break: break-word;
      color: var(--danger_text);
    }

    .#{$prefix}-inline-editor-action-wrapper {
      display: flex;
      justify-content: flex-end;

      .#{$prefix}-inline-editor-action-panel {
        box-shadow: 0 0.25rem 0.5rem 0.15rem var(--default_shadow);
        background-color: var(--default_bg);
        padding: 0.25rem;

        button {
          margin-right: 0.25rem;
          margin-top: 0;
          margin-bottom: 0;
          width: 2rem;
          height: 2rem;
          padding: 0;

          i {
            font-size: 1.5rem;
          }

          svg {
            width: 1.25rem;
            height: 1.25rem;
            margin-left: 0;
          }
        }

        button:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .#{$prefix}-inline-editor-component {
    position: relative;

    .#{$prefix}-inline-editor-component-dt-picker {
      width: 9.4375rem;

      .hcl-form-group {
        margin-bottom: 0;
      }
    }

    .#{$prefix}-inline-editor-loader {
      top: 0.75rem;
      right: 0.75rem;
      position: absolute;
      background-color: var(--input_bg);
    }
  }
}
