.#{$prefix}-select {
    background-color: transparent;
    color: #3d70b2;
    font-weight: 600;
    box-shadow: none;
    padding-right: 2rem;
    height: 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 2.5rem 0 1rem;

    &:focus {
        outline: 1px solid var(--blue-light);
    }

    &-arrow {
        top: 1rem;
        right: .875rem;
        fill: var(--blue-light);
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        width: .625rem;
        height: .3125rem;
    }

    &-container {
        position: relative;
        display: inline-block;
    }
}