.#{$prefix}-select {
  color: var(--interactive_text);
  background-color: var(--interactive_bg);
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--interactive_icon) 50%
    ),
    linear-gradient(135deg, var(--interactive_icon) 50%, transparent 50%);

  font-weight: 600;
  height: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 2.5rem 0 1rem;
  cursor: pointer;
  background-position: calc(100% - 1.25rem) calc(1rem + 0.125rem),
    calc(100% - 0.9375rem) calc(1rem + 0.125rem), 100% 0;
  background-size: 0.3125rem 0.3125rem, 0.3125rem 0.3125rem, 2.5rem 2.5rem;
  background-repeat: no-repeat;

  &-option {
    color: var(--input_text_low);
  }

  &:focus {
    outline: 2px solid var(--interactive_border);
  }

  &:hover {
    background-color: var(--interactive_bg_hover);
  }

  &-label {
    color: var(--default_text);
  }

  &-container {
    position: relative;
    display: inline-block;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--interactive_bg);
    opacity: var(--disabled_all);
  }
  &.filled {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.125rem;
    background-color: var(--input_bg);
    color: var(--input_text);
    background-image: linear-gradient(
        45deg,
        transparent 50%,
        var(--input_icon) 50%
      ),
      linear-gradient(135deg, var(--input_icon) 50%, transparent 50%);
    border-bottom: 0.0625rem solid var(--input_border);
    &:focus {
      outline: none;
      border: none;
      box-shadow: 0 0.125rem 0 var(--interactive_border);
    }
    &:hover {
      background-color: var(--input_bg);
    }
  }
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  background-color: var(--interactive_bg);
  color: var(--interactive_text);
}

select.filled::-ms-value {
  background-color: var(--input_bg);
  color: var(--input_text);
}
