<section class="hcl-dropdown top" id="top-dropdown">
    <button class="hcl-btn hcl-dropdown-toggle" data-toggle="dropdown">
        Dropdown Top
    </button>
    <ul class="hcl-dropdown-container" role="dropdownMenu" aria-labelledby="dropdownMenuButton">
        <li class="hcl-dropdown-item"><a role="dropdownitem" tabindex="0" href="#" class="hcl-dropdown-wrapper">A</a>
        </li>
        <li class="hcl-dropdown-item"><a role="dropdownitem" tabindex="0" href="#" class="hcl-dropdown-wrapper">B</a>
        </li>
        <li class="hcl-dropdown-item"><a role="dropdownitem" tabindex="0" href="#" class="hcl-dropdown-wrapper">C</a>
        </li>
    </ul>
</section>