@mixin tile($type) {
  display: inline-block;

  border: 1px solid var(--default_border_xlow);
  background-color: var(--default_bg);

  position: relative;
  padding: 1rem;
  cursor: default;

  @if ($type==clickable or $type==selectable or $type==expandable) {
    cursor: pointer;
    outline: none;

    &:focus {
      border: 2px solid var(--interactive_border);
    }
    &:hover {
      border: 1px solid var(--interactive_border);
    }

    &:hover .#{$prefix}-tile-checkbox {
      visibility: visible;

      opacity: var(--disabled_all);
    }
  }

  @if ($type==selectable) {
    padding-right: 3rem;
  }

  @if ($type==expandable) {
    padding: hcl-rem(15px) 2.5rem;
    cursor: default;

    input {
      &:checked ~ .#{$prefix}-tile-hide {
        display: block;
      }
    }
  }
}

.#{$prefix}-tile {
  @include tile(default);

  &-clickable {
    @include tile(clickable);
  }

  &-selectable {
    @include tile(selectable);
  }

  &-expandable {
    @include tile(expandable);
    &.arrow-top-left {
      .#{$prefix}-tile-arrow {
        top: 0;
        left: 0;
        bottom: unset;
        right: unset;
      }
    }
  }

  &-input {
    display: none;

    &:checked + .#{$prefix}-tile-checkbox {
      visibility: visible;

      fill: var(--active_icon);

      background-color: transparent;
    }

    &:checked + .#{$prefix}-tile-arrow > svg {
      transform: rotate(180deg);
    }
  }

  &-checkbox {
    visibility: hidden;
    height: 1rem;
    top: 1rem;
    right: 1rem;
    position: absolute;
    border-radius: 50%;
    background-color: transparent;

    fill: var(--interactive_icon);
  }

  &-arrow {
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    padding: 14px 16px;

    &:focus {
      outline: 1px solid var(--interactive_border);

      outline-offset: -6px;
    }

    > svg {
      border-radius: 50%;
      background-color: transparent;

      fill: var(--interactive_icon);

      &:hover {
        fill: var(--interactive_icon);
      }
    }
  }

  &-hide {
    display: none;
  }
}
