<div class="hcl-checkbox-group hcl-stack-vertical p-5">
  <div class="hcl-checkbox-item">
    <input class="hcl-checkbox" id="check4" type="checkbox" value="check4" />
    <label class="hcl-checkbox-label" for="check4">1 (default)</label>
  </div>
  <div class="hcl-checkbox-item">
    <input
      class="hcl-checkbox"
      id="check5"
      type="checkbox"
      value="check5"
      checked
    />
    <label class="hcl-checkbox-label" for="check5">2</label>
  </div>
  <div class="hcl-checkbox-item">
    <input
      class="hcl-checkbox"
      id="check6"
      type="checkbox"
      value="check6"
      disabled
    />
    <label class="hcl-checkbox-label" for="check6">3 (disabled)</label>
  </div>
</div>
