/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

@import '../../base';

.#{$prefix}-header {
  display: flex;
  justify-content: flex-start;

  background-color: var(--primary_bg);
  color: var(--primary_text);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 1rem;
  z-index: 8;
  height: 3.125rem;

  @include media-breakpoint-down(md) {
    height: 4rem;
  }

  &-brand {
    display: inline-flex;
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    line-height: initial;

    &:focus,
    &:active {
      outline: none;

      img {
        outline: 1px solid var(--primary_icon);

        outline-offset: 0.5rem;
      }
    }
  }

  &-wrapper {
    display: inline-flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 1;

    .#{$prefix}-header-search {
      display: inline-flex;
      margin: 0.3125rem;
      width: 23.13rem;
      flex-grow: 0;
      flex-shrink: 0;

      .#{$prefix}-search {
        width: 100%;
      .#{$prefix}-search-icon{
          fill: var(--primary_icon)!important;
      }
        .#{$prefix}-search-btn {
          &.disabled {
            opacity: var(--disabled_all);
          }
        }
        .#{$prefix}-search-btn:focus :enabled {
          outline: 1px solid var(--primary_icon);
        }

        .#{$prefix}-search-btn:hover :enabled {
          background-color: var(--primary_bg_hover);
        }
      }

      @include media-breakpoint-down(md) {
        margin: 0.75rem;
      }

      @include media-breakpoint-down(sm) {
        width: auto;
      }
    }

    .#{$prefix}-header-icons {
      display: flex;
      margin: 0 0 0 1rem;
      flex-grow: 0;
      flex-shrink: 0;

      .#{$prefix}-header-icon {
        display: inline-flex;
        margin: 1rem 0.5rem;

        > input,
        > button {
          background: transparent;

          color: var(--primary_icon);

          &:focus,
          &:active {
            outline: 1px solid var(--primary_border);

            outline-offset: 0.125rem;
          }
        }

        &:hover {
          background-color: var(--primary_bg_hover);
        }
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
