/******************************************************************
 * HCL Confidential
 *
 * Copyright HCL Technologies Ltd. 2019 All rights reserved.
 *
 *******************************************************************
 */

.#{$prefix}-header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 1rem;
    z-index: 8;
    height: 3.125rem;

    @include media-breakpoint-down(md) {
        height: 4rem;
    }


    &-brand {
        display: inline-flex;
        width: auto;
        flex-grow: 0;
        flex-shrink: 0;
        align-items: center;
        line-height: initial;

        &:focus,
        &:active {
            outline: none;
        }
    }

    &-wrapper {
        display: inline-flex;
        justify-content: flex-end;
        flex-grow: 1;
        flex-shrink: 1;

        .#{$prefix}-header-search {
            display: inline-flex;
            margin: 0.3125rem;
            width: 23.13rem;
            flex-grow: 0;
            flex-shrink: 0;

            .#{$prefix}-search {
                width: 100%;
            }

            @include media-breakpoint-down(md) {
                margin: 0.75rem;
            }
            @include media-breakpoint-down(sm) {
                width: auto;
            }
        }

        .#{$prefix}-header-icons {
            display: flex;
            margin: 0 0 0 1rem;
            flex-grow: 0;
            flex-shrink: 0;

            .#{$prefix}-header-icon {
                display: inline-flex;
                margin: 1rem 0.5rem;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
}