<div class="p-5">
  <header class="hcl-header" data-withsidenav="true">
    <a href="/" class="hcl-header-brand" tabindex="0">
      <img
        alt="Logo"
        src="https://www.hcl.com/sites/default/files/main-logo-wh.png"
      />
    </a>
    <div class="hcl-header-wrapper">
      <div class="hcl-header-search">
        <div
          id="header-search"
          class="hcl-search hcl-bg-white hcl-search-btn-only"
          role="search"
        >
          <button class="hcl-search-btn" aria-label="Header search">
            <svg
              focusable="false"
              preserveAspectRatio="xMidYMid meet"
              style="will-change: transform;"
              xmlns="https://www.w3.org/2000/svg"
              class="hcl-search-icon white"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              aria-hidden="true"
            >
              <path
                d="M15 14.3L10.7 10c1.9-2.3 1.6-5.8-.7-7.7S4.2.7 2.3 3 .7 8.8 3 10.7c2 1.7 5 1.7 7 0l4.3 4.3.7-.7zM2 6.5C2 4 4 2 6.5 2S11 4 11 6.5 9 11 6.5 11 2 9 2 6.5z"
              ></path>
            </svg>
          </button>
          <input
            type="search"
            id="goal-input1"
            class="hcl-search-input"
            placeholder="Search..."
          />
          <button class="hcl-search-reset" tabindex="-1"></button>
        </div>
      </div>
      <ul class="hcl-header-icons">
        <li class="hcl-header-icon">
          <button class="p-hclsw p-hclsw-setting"></button>
        </li>
        <li class="hcl-header-icon">
          <button class="p-hclsw p-hclsw-notification"></button>
        </li>
        <li class="hcl-header-icon">
          <button class="p-hclsw p-hclsw-logout"></button>
        </li>
      </ul>
    </div>
  </header>
</div>
