<div
  class="hcl-pb-circle-wrapper hcl-pb-label-inline"
  id="pbar-circle-determinate"
>
  <div class="hcl-pb-circle-large">
    <svg class="hcl-pb-circle-determinate" viewBox="25 25 50 50">
      <circle class="hcl-pb-bgcircle pb-circle-inner" cx="50" cy="50" r="20" />
      <circle
        class="pb-circle-outer"
        cx="50"
        cy="50"
        r="20"
        transform="rotate(-90)"
      />
    </svg>
    <div class="hcl-pb-circle-text">90%</div>
  </div>
  <div class="hcl-pb-label-content ">
    <div class="hcl-pb-label-text hcl-pb-circle-ellipsis">Downloading...</div>
  </div>
</div>
