<div
  class="hcl-circle-pb"
  id="pbar-circle-determ"
  label-positon="right"
  value="0.5"
>
  <div class="mr-1 mb-1 hcl-progressbar-circle-text hcl-pb-topLeft">
    Downloading..
  </div>
  <div class="hcl-determ-pb-circle-small" id="hcl-determ-pb-circle">
    <svg class="hcl-progressbar-circle">
      <circle class="hcl-progressbar-circle-inner" />
      <circle class="hcl-progressbar-circle-outer" />
    </svg>
    <div class="hcl-progressbar-circle-customContent">50%</div>
  </div>
  <div class="ml-1 mt-1 hcl-progressbar-circle-text hcl-pb-bottomRight">
    Downloading..
  </div>
</div>
