<div class="p-5">
  <button
    id="hcl-btn-toast-type1"
    data-toast-type="1"
    class="hcl-btn hcl-primary"
  >
    Danger
  </button>
  <div
    id="hcl-toast-type1"
    data-toast-type="1"
    class="hcl-toast hcl-toast-danger hcl-toast-hide"
    role="alert"
  >
    <div class="hcl-toast-icon-container">
      <svg
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        aria-hidden="true"
        style="will-change: transform;"
        class="hcl-notification-icon"
      >
        <path
          d="M10 1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm3.5 13.5l-8-8 1-1 8 8-1 1z"
        />
        <path
          d="M13.5 14.5l-8-8 1-1 8 8-1 1z"
          data-icon-path="inner-path"
          opacity="0"
        />
      </svg>
    </div>
    <div class="hcl-toast-details">
      <h3 class="hcl-toast-title">Toast title</h3>
      <p class="hcl-toast-subtitle">Subtitle text goes here.</p>
      <p class="hcl-toast-caption">Time stamp [00:00:00]</p>
    </div>
    <button
      id="hcl-toast-close1"
      class="hcl-toast-close"
      type="button"
      aria-label="close"
    />
  </div>
</div>
